//
// layouts/404.scss
//

section.common-error-404 {
	width: 100%;
	display: block;
	height: auto;
	background: $white;
	padding: 150px 0px 150px 50px;

.common-error-404-container {
	width: 100%;
	height: auto;
	display: block;

		.fa {
			color: $base-color;
			font-size: $base-font-size * 10.000;
			display: block;
			float: left;
			margin-right: 30px;
		}
		
		.common-title-404 {
			font-size: $base-font-size * 2.124;
			color: $base-color;
			font-family: $base-italic-font-family;
		}

		.common-description-404 {
			font-size: $base-font-size;
			color: $gray;
			font-family: $base-italic-font-family;
		}
	}
}