//
// layouts/archive-product.scss
//

section.archive-product {
	width: 100%;
	height: auto;
	display: block;

	.archive-product-container {
		width: 100%;
		height: auto;
		display: table;

		@include breakpoint($mobile-medium) {
			display: grid;
  			grid-template-columns: 40% calc(60% - 30px);
  			grid-gap: 0 30px;
		}

		@include breakpoint($mobile-large) {
			display: grid;
  			grid-template-columns: 30% calc(70% - 30px);
  			grid-gap: 0 30px;
		}

		@include breakpoint($screen-small) {
			display: grid;
  			grid-template-columns: 25% calc(75% - 30px);
  			grid-gap: 0 30px;
		}

		.archive-product-content {
			width: 100%;
			height: auto;
			justify-self: center;
	      	align-self: stretch;

	      	.archive-product-list {
	      		width: 100%;
	      		height: auto;
	      		display: block;
	      		position: relative;
	      		z-index: 0;
	      		margin-bottom: 50px;

	      		.common-list-products {
	      			width: 100%;
	      			height: auto;
	      			display: block;
	      			position: relative;

	      			.common-list-products-box {
	      				width: 100%;
	      				height: auto;
	      				display: block;
	      				overflow: hidden;

	      				&.columns-3 {
	      			      	
	      			      	ul.products {

	      				      	.archive-product-list-quote {
	      				      		width: 100%;
	      				      		height: auto;
	      				      		display: block;
	      				      		background: $base-yellow-clean;
	      				      		font-family: $base-font-family;
	      				      		font-size: $base-font-size;
	      				      		padding: 30px 20px;
	      				      		margin-bottom: 40px;

	      				      		@include breakpoint($mobile-large) {
	      				      			grid-column: 2 / 3;
	      				      			grid-column-start: 1; 
	      				      			grid-column-end: 3; 
	      				      			padding: 30px 50px;
	      				      		}

	      				      		@include breakpoint($screen-small) {
	      				      			grid-column: 2 / 3;
	      				      			grid-column-start: 2; 
	      				      			grid-column-end: 4; 
	      				      		}

	      				      		h3 {
	      				      			font-family: $heading-font-family;
	      				      			color: $base-orange;
	      				      			line-height: $base-small-line-height;
	      				      		}

	      				      		p {
	      				      			margin-bottom: 0;
	      				      		}
	      				      	}
					            .woosw-btn{
						            margin: 15px auto 0;
					            }
	      			      	}
	      				}

	      			}
	      		}
	      	}
		}
	}
}