//
// layouts/blog.scss
//

section.blog-header {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	padding: 50px 0 150px 0;
	background: $base-blue-green;

	@include breakpoint($mobile-large) {
		padding: 60px 0 200px 0;
	}

	&.single {
		padding: 40px 0;	
		margin-bottom: 50px;

		@include breakpoint($mobile-large) {
			padding: 60px 0;
			margin-bottom: 100px;
		}
	}

	.blog-header-container {
		width: 100%;
		height: auto;
		display: block;

		nav.breadcrumb {
			width: 100%;
			height: auto;
			display: block;
			margin-bottom: 10px;

			@include breakpoint($mobile-large) {
				margin-bottom: 20px;
			}

		    ul {
		    	width: 100%;
		    	height: auto;
		    	display: block;
		    	font-size: 0;

		    	li {
					display: inline-block;
					font-size: $base-font-size;

					&::after {
						content: '/';
						color: $white;
						padding: 0 10px;
						font-size: $base-font-size;
						display: inline-block;
					}

					a {
						display: inline-block;

						span {
							font-family: $base-font-family;
							font-size: $base-font-size;
							color: $white;
							margin: 0;
							display: block;
							text-transform: lowercase;
							@include transition(all 150ms ease-in-out);
			    			
			    			&:hover {
			    				color: $base-yellow-smooth;
			    			}	
						}
					}			

					span {
						color: $base-yellow-smooth;					
						font-size: $base-font-size;
						margin: 0px 0px;
						display: inline-block;
						font-family: $base-font-family;
						text-transform: lowercase;
						@include transition(all 150ms ease-in-out);
					}

					&:last-child {

						&::after {
							display: none;
						}
					}
		    	}	    	
		    }
		}

	    h1 {
	    	font-family: $heading-font-family;
	    	color: $base-yellow-smooth;	
	    	line-height: 100%;
	    	margin-bottom: 0;
		    font-size: $base-font-size * 1.681;
		    text-transform: none;
		    
		    @include breakpoint($mobile-large) {
		    	font-size: $base-font-size * 2.0;
		    }
		    
		    @include breakpoint($screen-small) {
		    	font-size: $base-font-size * 2.279;
		    }

		    .fal {
		    	color: $base-yellow-smooth;
		    	font-size: 25px;
		    	margin-right: 5px;
		    	display: inline-block;
		    	vertical-align: middle;
		    }

		    span {
		    	display: inline-block;
		    	vertical-align: middle;
		    }
	    }
	}
}

section.blog-slider {
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	position: relative;
	max-height: 350px;
	margin-top: -100px;
	z-index: 1;
	margin-bottom: 50px;

	@include breakpoint($mobile-large) {
		max-height: 400px;
		padding: 10px 0;
		margin-bottom: 100px;
		margin-top: -150px;
	}

	@include breakpoint($screen-small) {
		max-height: 470px;
	}

	.blog-slider-item {
		width: 100%;
		height: auto;
		display: block;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;					
			left: 10px;
			background: $base-blue;					
			top: 0;
			z-index: 0;
			display: none;
			@include transform(rotate(1deg));

			@include breakpoint($mobile-large) {
				display: block;
			}
		}

		.blog-slider-item-container {
			width: 100%;
			height: 350px;		
			display: block;
			position: relative;
			overflow: hidden;

			@include breakpoint($mobile-large) {
				height: 400px;	
			}

			@include breakpoint($screen-small) {
				height: 450px;	
			}

			.blog-slider-bg {
				width: 100%;
				height: 100% !important;
				background-repeat: no-repeat !important;
				background-position: center center !important;
				background-size: cover !important;
				position: absolute;		
				display: block;
				top: 0;
				left: 0;		
			}

			.blog-slider-container {	
				width: 80%;
				height: auto;
				display: block;
				position: absolute;
				top: 50%;
				left: 10%;
				@include transform(translateY(-50%));

				.blog-slider-content {
					width: 100%;
					height: auto;
					display: block;						

					.blog-slider-title {
						color: $white;
						font-family: $heading-font-family;
						line-height: $base-small-line-height;
						margin-bottom: 10px;
						font-size: $base-font-size * 1.681;
						text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
						
						@include breakpoint($mobile-large) {
							font-size: $base-font-size * 2.0;
						}
						
						@include breakpoint($screen-small) {
							font-size: $base-font-size * 2.279;
						}	
					}						

					.blog-slider-desc {
						width: 100%;
						color: $white;							
						font-size: $base-font-size;
						font-family: $base-font-family;
						line-height: $base-line-height;	
						margin-bottom: 30px;
						text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

						@include breakpoint($mobile-large) {
							width: 60%;
						}	

						@include breakpoint($screen-medium) {
							width: 45%;
						}

						br {
							display: none;
							
							@include breakpoint($mobile-large) {
								display: block;
							}
						}

						p {
							margin-bottom: 0;
						}
					}

					.box-button {

						.btn-sing {
							width: 100%;

							@include breakpoint($mobile-medium) {
								max-width: 250px;
							}

							&::before {
								 @include transform(rotate(0deg));
								 left: 5px;		
								 background: $base-purple;							 
							}

							&::after {
								 @include transform(rotate(-1.5deg));
								 left: 0;
								 top: 0;
								 background: $base-yellow-smooth;
							}

							&:hover {

								span {
									color: $base-purple;

									span {
										color: $base-purple;
									}
								}

								&::before {
									 background: $base-yellow-smooth;				 
								}

								&::after {
									 background: $base-purple;			
								}
							}			
						}
					}
				}
			}
		}
	}

	.slick-prev, .slick-next {
		width: 30px;	 
		top: 50%;
		@include transform(translateY(-50%));

		@include breakpoint($mobile-large) {
			width: 50px;
		}

		&::before {
			font-size: 30px;

			@include breakpoint($mobile-large) {
				font-size: 50px;
			}
		}

		&:hover {
			background: transparent;

			&::before {
				color: $base-purple;	
			}					
		}
	}

	.slick-dots {
		width: 90%;
		height: auto;
		position: absolute;
		display: block;
		bottom: 25px;
		left: 5%;
		text-align: right;
		padding: 0;

		@include breakpoint($mobile-large) {
			bottom: 50px;
		}

		@include breakpoint($screen-small) {
			bottom: 70px;
		}

		li {
			display: inline-block !important;
		}

		button {
			width: 16px;
			height: 16px;
			line-height: 16px;
			border-radius: 16px;
			display: inline-block;
			padding: 0px;
			margin: 0px 2.5px;
			background: transparent;
			border: 2px solid $white !important;
			font-size: 0;
			position: relative;
			border: 0;
			cursor: pointer;
			
			&:hover {
				background: transparent;
			}		
		}

		.slick-active {

			button {						

		    	&::before {
			    	position: absolute;
		    		top: 4px;
		    	    left: 4px;
		    	    width: 4px;
		    	    height: 4px;
		    	    content: '';
		    	    text-align: center;				    	    
		    	    background: $white !important;
		    	    -webkit-font-smoothing: antialiased;
		    	    -moz-osx-font-smoothing: grayscale;
		    	    border-radius: 100%;
		    	}
			}
		}				
	}
}

section.blog-main {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 50px;

	@include breakpoint($mobile-large) {
		margin-bottom: 100px;
	}

	.blog-main-container {
		width: 100%;
		height: auto;
		display: block;

		@include breakpoint($mobile-medium) {
			display: grid;
  			grid-template-columns: calc(60% - 60px) 40%;
  			grid-gap: 0 60px;
		}

		@include breakpoint($mobile-large) {
			display: grid;
  			grid-template-columns: calc(70% - 60px) 30%;
  			grid-gap: 0 60px;
		}

		@include breakpoint($screen-small) {
			display: grid;
  			grid-template-columns: calc(75% - 60px) 25%;
  			grid-gap: 0 60px;
		}

		.blog-main-content {
			margin-bottom: 50px;

			@include breakpoint($mobile-medium) {
				width: 100%;
				height: auto;
				justify-self: center;
		      	align-self: stretch;
		      	margin-bottom: 0;
			}

			.blog-list-row {
				width: 100%;
				height: auto;
				display: block;
				margin-bottom: 50px;

				&:last-child {
					margin-bottom: 0;
				}

				&.purple {

					.blog-list-row-title {

						.column {

							a {
								h2 {
									color: $base-purple;
								}
							}

							&:last-child {

								a {
									color: $base-purple;
								}
							}
						}
					}

					.blog-list-row-content {

						.blog-list-post {

							a {

								.blog-list-post-desc {
									background: $base-purple;
								}
							}

							&:hover {

								a {

									.blog-list-post-desc {

										h3 {
											color: $base-purple-dark;
										}
									}	
								}										

								&::before {
									background: $base-purple-dark;
								}
							}	
						}
					}
				}

				&.yellow {

					.blog-list-row-title {

						.column {

							a {
								h2 {
									color: $base-yellow;
								}
							}

							&:last-child {

								a {
									color: $base-yellow;
								}
							}
						}
					}

					.blog-list-row-content {

						.blog-list-post {

							a {

								.blog-list-post-desc {
									background: $base-yellow;
								}
							}

							&:hover {

								a {

									.blog-list-post-desc {

										h3 {
											color: $base-yellow-smooth;
										}
									}	
								}										

								&::before {
									background: $base-yellow-smooth;
								}
							}	
						}
					}
				}

				&.red {

					.blog-list-row-title {

						.column {

							a {

								h2 {
									color: $base-red-light;
								}
							}

							&:last-child {

								a {
									color: $base-red-light;
								}
							}
						}
					}

					.blog-list-row-content {

						.blog-list-post {

							a {

								.blog-list-post-desc {
									background: $base-red-light;
								}
							}

							&:hover {

								a {

									.blog-list-post-desc {

										h3 {
											color: darken($base-red-light, 10);
										}
									}	
								}										

								&::before {
									background: darken($base-red-light, 10);
								}
							}	
						}
					}
				}

				.blog-list-row-title {
					width: 100%;
					height: auto;
					display: block;
					font-size: 0;
					margin-bottom: 30px;

					.column {
						@include span(6);
						float: none;
						display: inline-block;
						vertical-align: middle;

						a {
							display: inline-block;

							h2 {
								font-family: $heading-font-family;
								@include transition(all 150ms ease-in-out);

								.fas, span {
									display: inline-block;
									vertical-align: middle;
								}

								.fas {
									margin-right: 5px;
									font-size: 20px;
								}
							}

							&:hover {

								h2 {
									color: $base-font-color;
								}
							}
						}

						&:last-child {
							@include span(6 last);
							float: none;
							display: inline-block;
							vertical-align: middle;
							text-align: right;

							a {
								font-size: $base-font-size * 0.857;
								font-family: $bold-font-family;
								@include transition(all 150ms ease-in-out);

								span, .fal {
									display: inline-block;
									vertical-align: middle;
								}

								.fal {
									margin-right: 5px;
								}

								&:hover {
									color: $base-font-color;
								}
							}
						}
					}
				}

				.blog-list-row-content {
					width: 100%;
					height: auto;
					display: block;

			      	@include breakpoint($mobile-small) {
		  				display: grid;
			      		grid: auto / repeat(2, 1fr);
			      		grid-gap: 0 20px;
			      	}

      		      	@include breakpoint($mobile-medium) {
		  				display: grid;
			      		grid: auto / repeat(1, 1fr);
			      		grid-gap: 0 0;
      		      	}	

      		      	@include breakpoint($mobile-large) {
		  				display: grid;
			      		grid: auto / repeat(2, 1fr);
			      		grid-gap: 0 20px;
      		      	}	

			      	@include breakpoint($screen-small) {
			      		grid: auto / repeat(2, 1fr);
			      		grid-gap: 0 60px;
			      	}

					.blog-list-post {
						width: 100%;
						height: auto;
						display: block;
						background: $white;
						position: relative;
						margin-bottom: 30px;

						@include breakpoint($mobile-small) {
							display: grid;
							justify-self: center;
					      	align-self: stretch;
					      	text-align: center;
					      	margin-bottom: 0;
						}

						@include breakpoint($mobile-medium) {
					      	margin-bottom: 30px;
						}

						@include breakpoint($mobile-large) {
					      	margin-bottom: 0;
						}

						a {
							width: 100%;
							height: auto;
							display: block;
							position: relative;
							z-index: 2;

							figure.blog-list-post-image {				
								width: 100%;
								height: auto;
								position: relative;

								img {
									width: 100%;
									height: auto;
									display: block;
								}
							}

							.blog-list-post-desc {
								width: 100%;
								height: auto;
								display: block;
								padding: 20px;
								text-align: left;

								@include breakpoint($mobile-small) {
									padding: 30px 15px;
								}

								@include breakpoint($mobile-large) {
									padding: 40px 25px;
								}	

								.blog-list-post-info {
									width: 100%;
									height: auto;
									display: block;
									line-height: $base-small-line-height;
									margin-bottom: 10px;

									span {
										font-family: $base-italic-font-family;
										font-size: $base-font-size * 0.857;
										color: $white;								
										
										b {
											font-family: $bold-font-family;									
										}
									}
								}					

								h3 {
									font-family: $base-font-family;
									font-size: $base-font-size;
									line-height: $base-medium-line-height;
									color: $white;
									margin: 0;
									@include transition(all 200ms ease-in);

									@include breakpoint($mobile-large) {
										font-size: $base-font-size * 1.142;
									}							
								}
							}
						}

						&::before {
							content: "";			
							display: block;
							position: absolute;
							width: 100%;			
							background: $base-gray-d1;
							height: 100%;
							top: 0;
							left: 0;
							z-index: 0;
							@include transform(rotate(1.5deg));
							@include transition(all 200ms ease-in);						
						}

						&::after {
							content: "";			
							display: block;
							position: absolute;
							width: 100%;			
							background: $gray-clean-f1;
							height: 100%;
							top: 0;
							left: 0;
							z-index: 1;			
						}

						&:hover {

							a {

								.blog-list-post-desc {

									h3 {
										color: $base-purple-dark;
										@include transition(all 100ms ease-out);
									}
								}	
							}										

							&::before {
								background: $base-yellow;
								@include transition(all 100ms ease-out);
							}
						}	
					}
				}
			}

			.blog-list-archive {
				width: 100%;
				height: auto;
				display: block;

		      	@include breakpoint($mobile-small) {
	  				display: grid;
		      		grid: auto / repeat(2, 1fr);
		      		grid-gap: 0 20px;
		      	}

  		      	@include breakpoint($mobile-medium) {
	  				display: grid;
		      		grid: auto / repeat(1, 1fr);
		      		grid-gap: 0 0;
  		      	}	

  		      	@include breakpoint($mobile-large) {
	  				display: grid;
		      		grid: auto / repeat(2, 1fr);
		      		grid-gap: 0 20px;
  		      	}	

		      	@include breakpoint($screen-small) {
		      		grid: auto / repeat(2, 1fr);
		      		grid-gap: 0 60px;
		      	}

				.blog-list-post {
					width: 100%;
					height: auto;
					display: block;
					background: $white;
					position: relative;
					margin-bottom: 30px;

					@include breakpoint($mobile-small) {
						display: grid;
						justify-self: center;
				      	align-self: stretch;
				      	text-align: center;
					}

					@include breakpoint($mobile-medium) {
				      	margin-bottom: 30px;
					}

					@include breakpoint($mobile-large) {
				      	margin-bottom: 60px;
					}

					a {
						width: 100%;
						height: auto;
						display: block;
						position: relative;
						z-index: 2;

						figure.blog-list-post-image {				
							width: 100%;
							height: auto;
							position: relative;

							img {
								width: 100%;
								height: auto;
								display: block;
							}
						}

						.blog-list-post-desc {
							width: 100%;
							height: auto;
							display: block;
							padding: 20px;
							text-align: left;

							@include breakpoint($mobile-small) {
								padding: 30px 15px;
							}

							@include breakpoint($mobile-large) {
								padding: 40px 25px;
							}	

							.blog-list-post-info {
								width: 100%;
								height: auto;
								display: block;
								line-height: $base-small-line-height;
								margin-bottom: 10px;

								span {
									font-family: $base-italic-font-family;
									font-size: $base-font-size * 0.857;
									color: $base-font-color;								
									
									b {
										font-family: $bold-font-family;									
									}
								}
							}					

							h3 {
								font-family: $base-font-family;
								font-size: $base-font-size;
								line-height: $base-medium-line-height;
								color: $base-font-color;
								margin: 0;
								@include transition(all 200ms ease-in);

								@include breakpoint($mobile-large) {
									font-size: $base-font-size * 1.142;
								}							
							}
						}
					}

					&::before {
						content: "";			
						display: block;
						position: absolute;
						width: 100%;			
						background: $base-gray-d1;
						height: 100%;
						top: 0;
						left: 0;
						z-index: 0;
						@include transform(rotate(1.5deg));
						@include transition(all 200ms ease-in);						
					}

					&::after {
						content: "";			
						display: block;
						position: absolute;
						width: 100%;			
						background: $gray-clean-f1;
						height: 100%;
						top: 0;
						left: 0;
						z-index: 1;			
					}

					&:hover {

						a {

							.blog-list-post-desc {

								h3 {
									color: $base-blue-green;
									@include transition(all 100ms ease-out);
								}
							}	
						}										

						&::before {
							background: $base-blue-green;
							@include transition(all 100ms ease-out);
						}
					}			
				}
			}

			.article-header {
				width: 100%;
				height: auto;
				display: block;

				.article-header-image {
					width: 100%;
					height: auto;
					display: block;
					margin-bottom: 40px;

					figure {
						width: 100%;
						height: auto;
						display: block;
						position: relative;
						z-index: 1;

						&::before {
							content: "";
							position: absolute;
							width: 100%;
							height: 100%;					
							left: 10px;
							background: $base-gray-d1;					
							top: 0;
							z-index: 0;
							display: none;
							@include transform(rotate(1deg));

							@include breakpoint($mobile-large) {
								display: block;
							}
						}

						img {
							width: 100%;
							height: auto;
							display: block;
							position: relative;
							z-index: 2;
						}
					}
				}

				.article-header-info {
					width: 100%;
					height: auto;
					display: block;
					font-size: 0;
					margin-bottom: 20px;
					padding-bottom: 20px;
					border-bottom: 1px solid $base-gray-d1;

					.column {
						width: 100%;
						height: auto;
						display: block;
						margin-bottom: 20px;

						@include breakpoint($screen-small) {
							@include span(8);
							float: none;
							display: inline-block;
							vertical-align: middle;
						}

						.header-info-item {
							font-size: $base-font-size * 0.857;
							display: inline-block;
							vertical-align: middle;
							margin-right: 20px;
							color: $base-purple;

							.fal {
								display: inline-block;
								vertical-align: middle;
								margin-right: 5px;
							}

							span {
								display: inline-block;
								vertical-align: middle;
								font-family: $bold-font-family;
							}

							&:last-child {
								margin-right: 0;
							}
						}

						&:last-child {
							width: 100%;
							height: auto;
							display: block;
							margin-bottom: 0;
							text-align: left;

							@include breakpoint($screen-small) {
								@include span(4 last);
								float: none;
								display: inline-block;
								vertical-align: middle;
								text-align: right;
							}

							i.share {
								display: inline-block;
								vertical-align: middle;
								color: $base-gray-d1;
								margin-right: 10px;
							}
						}
					}
				}

				.article-header-title {
					width: 100%;
					height: auto;
					display: block;
					margin-bottom: 30px;

					@include breakpoint($mobile-large) {
						margin-bottom: 50px;
					}

					h2 {
						color: $base-purple;
						margin-bottom: 0;
					}
				}
			}

			article.article-content {
				width: 100%;
				height: auto;
				display: block;

				.gallery {
					width: 100%;
					height: auto;
					display: block;
					margin: 50px 0 20px 0;

				    dt, dl {
				        margin: 0;
				        padding: 0;
				        -webkit-margin-before: 0;
				        -webkit-margin-after: 0;
				        -webkit-margin-start: 0;
				        -webkit-margin-end: 0;
				    } 

			        .gallery-item {
			        	width: 100%;
			        	height: auto;
			        	display: block;

			            img {
			                width: 100%;
			                height: auto;
			                display: block;
			                margin: 0;
			            }
			        }
				    

				    &.gallery-columns-2 {
				    	width: 100%;
				    	height: auto;
				    	display: block;

	        	      	@include breakpoint($mobile-small) {
	          				display: grid;
	        	      		grid: auto / repeat(2, 1fr);
	        	      		grid-gap: 0 30px;
	        	      	}	

      			        .gallery-item {
      			        	width: 100%;
      			        	height: auto;
      	            		justify-self: center;
      	                  	align-self: stretch;
      	                  	margin-bottom: 30px;

      			            img {
      			                width: 100%;
      			                height: auto;
      			                display: block;
      			                margin: 0;
      			            }
      			        }
				    }

				    &.gallery-columns-3 {
				    	width: 100%;
				    	height: auto;
				    	display: block;

	    		      	@include breakpoint($mobile-small) {
	    	  				display: grid;
	    		      		grid: auto / repeat(2, 1fr);
	    		      		grid-gap: 0 30px;
	    		      	}	

	    		      	@include breakpoint($mobile-medium) {
	    		      		grid: auto / repeat(3, 1fr);
	    		      	}

				        .gallery-item {
				        	width: 100%;
				        	height: auto;
		            		justify-self: center;
		                  	align-self: stretch;
		                  	margin-bottom: 30px;

				            img {
				                width: 100%;
				                height: auto;
				                display: block;
				                margin: 0;
				            }
				        }
				    }

    			    &.gallery-columns-4 {
    			    	width: 100%;
    			    	height: auto;
    			    	display: block;
        		      	
	      		      	@include breakpoint($mobile-small) {
	      	  				display: grid;
	      		      		grid: auto / repeat(2, 1fr);
	      		      		grid-gap: 0 30px;
	      		      	}	

	      		      	@include breakpoint($mobile-medium) {
	      		      		grid: auto / repeat(3, 1fr);
	      		      	}

	      		      	@include breakpoint($screen-small) {
	      		      		grid: auto / repeat(4, 1fr);
	      		      	}

    			        .gallery-item {
    			        	width: 100%;
    			        	height: auto;
    	            		justify-self: center;
    	                  	align-self: stretch;
    	                  	margin-bottom: 30px;

    			            img {
    			                width: 100%;
    			                height: auto;
    			                display: block;
    			                margin: 0;
    			            }
    			        }
    			    }

				    br {
				        display: none;
				    }
				}

				p {
				    font-size:$base-font-size * 1.142;
				    margin-bottom:20px;

				    @include breakpoint($mobile-large) {
				        font-size:$base-font-size * 1.285;
				    }
				}

				a {
				    @include transition(all 150ms ease-in-out);
				}

				blockquote {
				    width:100%;
				    height:auto;
				    display:block;
				    padding-left:20px;
				    margin-bottom:20px;
				    border-left:4px solid lighten($base-font-color, 90);
				    box-sizing:border-box;
				    font-size:$base-font-size;
				    line-height:$base-font-size * 2;
				    line-height: 100%;
				    color:lighten($black, 60);
				}

				ul {
				    width:90%;
				    margin:0 auto;
				    margin-bottom:25px;

				    li {
				        list-style:square;
				        list-style-position:inside;
				    }
				}

				ol {
				    width:90%;
				    margin:0 auto;
				    margin-bottom:25px;

				    li {
				        list-style:decimal;
				        list-style-position:inside;
				    }
				}

				code {
				    width:100%;
				    height:auto;
				    font-family: monospace;
				    font-size:80%;
				    padding:20px;
				    box-sizing:border-box;
				    border:1px solid lighten($black, 90);
				    background:lighten($black, 97);
				    display:block;
				    margin-bottom:20px;
				}

				img {
				    max-width:100%;
				    height: auto;
				    margin:50px auto;
				    display:block;
				}

				iframe {
				    width: 100%;
				    height: 450px;
				    display: block;
				    padding: 30px 0;
				}
			}
		}

		aside.blog-main-sidebar {
			width: 100%;
			height: auto;
			display: block;
			position: relative;
			
			@include breakpoint($mobile-medium) {
				width: 100%;
				height: auto;
				justify-self: center;
		      	align-self: stretch;
			}

			.blog-main-sidebar-content {
				width: 100%;
				height: auto;
				display: block;
				position: relative;
				padding: 50px 25px;

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: calc(100% + 10px);					
					left: 0;
					background: $base-blue-green;					
					top: -5px;
					z-index: 0;
					display: block;
					@include transform(rotate(0.5deg));
				}

				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;					
					left: 0;
					background: $base-blue;					
					top: 0;
					z-index: 1;
					display: block;
				}

				.sidebar-content {
					width: 100%;
					height: auto;
					display: block;
					position: relative;
					z-index: 2;

					.sidebar-intro {
						width: 100%;
						height: auto;
						display: block;
						text-align: center;
						margin-bottom: 30px;

						figure {
							width: 100%;
							height: auto;
							display: block;
							border-radius: 50%;
							overflow: hidden;
							max-width: 150px;
							margin: 0 auto 20px auto;

							img {
								width: 100%;
								height: auto;
								display: block;
							}
						}

						h4 {
							font-family: $heading-font-family;
							color: $base-yellow-smooth;
							font-size: $base-font-size * 1.414;
							
							@include breakpoint($mobile-large) {
								font-size: $base-font-size * 1.58;
							}
							
							@include breakpoint($screen-small) {
								font-size: $base-font-size * 1.732;
							}
						}

						p {
							font-size: $base-font-size * 0.857;
							color: $white;
							margin-bottom: 20px;
						}

						ul {
							width: 100%;
							height: auto;
							display: block;
							margin: 0 auto 20px auto;
							// text-align: left;

							li {
								display: block;
								margin-bottom: 5px;

								a {
									
									.fas, .fab {
										color: $base-yellow-smooth;
										margin-right: 5px;
										display: inline-block;
										vertical-align: middle;
									}

									span {
										display: inline-block;
										vertical-align: middle;
										color: $white;
										font-family: $bold-font-family;
									}

									&:hover {

										span {
											@include transition(all 150ms ease-in-out);
											color: $base-font-color;
										}
									}
								}
							}
						}

						.sidebar-intro-social {
							width: 100%;
							height: auto;
							display: block;

							h5 {
								font-family: $heading-font-family;
								font-size: $base-font-size * 1.142;
								color: $white;
								display: inline-block;
								vertical-align: top;
								margin-right: 5px;
							}

							a {
								display: inline-block;
								vertical-align: top;
								margin-right: 5px;

								.fab {
									font-size: 16px;
									color: $base-yellow-smooth;
								}
								&:last-child {
									margin-right: 0;
								}
							}
						}
					}

					.sidebar-search {
						width: 100%;
						height: auto;
						display: block;
						text-align: center;
						margin-bottom: 35px;

						h4 {
							font-family: $heading-font-family;
							color: $white;
							margin-bottom: 10px;
						}

						.sidebar-search-form {
							width: 100%;
							height: auto;
							display: block;
							position: relative;

							.search-field {
								width: 100%;
								height: 35px;
								line-height: 35px;
								background: $white;
								padding-right: 35px;
								border: 0;
								font-family: $base-italic-font-family;
								font-size: $base-font-size * 0.857;
								color: darken($base-blue, 20);
								text-align: center;

								&:hover {
									border: 1px solid darken($base-blue, 20);
								}

								&:focus {
									border: 1px solid darken($base-blue, 20);
									outline: none;
								}
							}

							.search-submit {
								width: 35px;
								height: 35px;
								text-align: center;
								position: absolute;
								top: 0;
								right: 0;
								border: 0;
								outline: 0;
								background: transparent;

								.fal {
									color: $base-blue-green;
									line-height: 30px;
									font-size: 16px;
								}
							}
						}
					}

					.sidebar-categories {
						width: 100%;
						height: auto;
						display: block;
						text-align: center;
						margin-bottom: 30px;

						h4 {
							font-family: $heading-font-family;
							color: $white;
							margin-bottom: 10px;
						}

						ul {
							width: 100%;
							height: auto;
							display: block;

							li {
								display: block;
								margin-bottom: 5px;
								text-align: center;

								a {
									color: darken($base-blue, 20);
									display: inline-block;
									@include transition(all 150ms ease-in-out);

									&::before {
										content: "\f105";
										font-size: $base-font-size;
										font-family: 'Font Awesome 5 Pro';
										font-weight: 300;
										color: $base-yellow-smooth;
										margin-right: 5px;
										display: inline-block;
										vertical-align: middle;
									}

									&:hover {
										color: $base-yellow-smooth;
									}
								}
							}
						}
					}

					.sidebar-newsletter {
						width: 100%;
						height: auto;
						display: block;
						text-align: center;

						h4 {
							font-family: $heading-font-family;
							color: $white;
							margin-bottom: 10px;
						}

						.form-group {
							width: 100%;
							height: auto;
							display: block;
							margin-bottom: 5px;

							input {
								width: 100%;
								background: $white;
								height: 30px;
								line-height: 30px;
								text-align: center;
								font-family: $base-italic-font-family;
								font-size: $base-font-size * 0.857;
								color: darken($base-blue, 20);
								border: 0;

								&:hover {
									border: 1px solid darken($base-blue, 20);
								}

								&:focus {
									border: 1px solid darken($base-blue, 20);
									outline: none;
								}
							}

							.btn-clean {
								width: 100%;
								height: 50px;
								line-height: 50px;
								font-family: $heading-font-family;
								font-size: $base-font-size;
								color: $base-yellow-smooth;
								background: darken($base-blue, 20);
								border: 0;
								border-bottom: 2px solid darken($base-blue, 30);
								text-transform: capitalize !important;

								&:hover {
									border-bottom: 2px solid darken($base-blue, 20);
								}
							}
						}
					}
				}
			}
		}
	}
}