//
// layouts/carrinho.scss
//

section.carrinho {
	width: 100%;
	height: auto;
	display: block;

	.carrinho-container {
		width: 100%;
		height: auto;
		display: block;

		.carrinho-title {
			width: 100%;
			height: auto;
			display: block;
			margin-bottom: 30px;

			h2 {
				font-family: $base-font-family;
				line-height: $base-small-line-height;
				color: $base-yellow;
				margin-bottom: 5px;
			}

			p {
				color: $base-gray-79;
			}
		}

		.carrinho-content {
			width: 100%;
			height: auto;
			display: block;

			.woocommerce {

				.woocommerce-cart-form {

					.shop_table {
						width: 100%;
						height: auto;
						border-top: 1px solid $gray-clean-f1;
						display: block;
						margin-bottom: 20px;

				      	@include breakpoint($mobile-medium) {
			  				border-top: 0;
				      	}

						ul.thead {
							width: 100%;
							height: auto;
							background-color: $base-yellow;
							display: none;

					      	@include breakpoint($mobile-medium) {
				  				display: grid;
	  				  			grid-template-columns: 32% 22% 20% 20% 6%;
	  				  			grid-gap: 0;
	  				  			padding: 10px 30px;
					      	}	

		      		      	@include breakpoint($mobile-large) {
		      	  				grid-template-columns: 32% 22% 21% 21% 4%;
		      		      	}

  					      	@include breakpoint($screen-small) {
  				  				padding: 10px 50px;
  					      	}	

							li {
								font-family: $bold-font-family;
								font-size: $base-font-size * 0.857;
								color: $white;
								padding: 0 10px;

						      	@include breakpoint($mobile-large) {
					  				font-size: $base-font-size * 1.142;
						      	}

								span, .fal {
									display: inline-block;
									vertical-align: middle;
								}

								.fal {
									margin-right: 5px;
								}
							}
						}

						ul.woocommerce-cart-form__cart-item {
							width: 100%;
							height: auto;
							background-color: $white;
							border: 1px solid $gray-clean-f1;
							border-top: 0;
							padding: 0;
							position: relative;

					      	@include breakpoint($mobile-medium) {
				  				display: grid;
	  				  			grid-template-columns: 32% 22% 20% 20% 6%;
	  				  			grid-gap: 0;
	  				  			align-items:center;
	  				  			padding: 20px 30px;
					      	}	

		      		      	@include breakpoint($mobile-large) {
		      	  				grid-template-columns: 32% 22% 21% 21% 4%;
		      		      	}

  					      	@include breakpoint($screen-small) {
  				  				padding: 20px 50px;
  					      	}	

					      	li {
					      		width: 100%;
					      		height: auto;
					      		display: block;
					      		padding: 0;

  						      	@include breakpoint($mobile-medium) {
  					  				padding: 0 10px;
  						      	}	

					      		.product-table {
					  				display: grid;
		  				  			grid-template-columns: 110px calc(100% - 110px);
		  				  			grid-gap: 0;
  				  					justify-self: center;
  				  			      	align-self: stretch;
  				  			      	margin-bottom: 1px;

  							      	@include breakpoint($mobile-medium) {
  						  				display: block;
  						  				padding: 0;
  							      	}

					      			.column-left {
					      				width: 100%;
					      				padding: 20px 10px;
					      				background: $base-yellow;

  								      	@include breakpoint($mobile-medium) {
  							  				display: none;
  								      	}	

  								      	.column-left-title {
  								      		font-size: $base-font-size * 0.857;
  								      		font-family: $bold-font-family;
  								      		color: $white;

  								      		.fal, span {
  								      			display: inline-block;
  								      			vertical-align: middle;
  								      		}

  								      		.fal {
  								      			margin-right: 5px;
  								      		}
  								      	}
					      			}

					      			.column-right {
					      				width: 100%;
					      				display: block;
					      				padding: 20px;

		      					      	@include breakpoint($mobile-medium) {
		      				  				width: 100%;
		      				  				height: auto;
		      				  				display: block;
		      				  				padding: 0;
		      					      	}
					      			}
					      		}

					      		&.product-name {
					      			font-size: 0;

					      			.product-name-image {
					      				width: 100%;
					      				max-width: 80px;
					      				display: block;
					      				margin-bottom: 10px;

		      					      	@include breakpoint($mobile-large) {
		      				  				display: inline-block;
		      				  				vertical-align: middle;
		      				  				margin-right: 20px;
		      				  				margin-bottom: 0;
		      					      	}

					      				img {
					      					width: 100%;
					      					height: auto;
					      					display: block;
					      				}
					      			}

					      			.product-name-title {
					      				width: 100%;
					      				height: auto;
					      				display: block;
					      				font-size: $base-font-size;
					      				font-family: $bold-italic-font-family;
					      				color: $base-yellow;
					      				line-height: $base-small-line-height;

		      					      	@include breakpoint($mobile-large) {
		      				  				width: calc(100% - 100px);
		      				  				display: inline-block;
		      				  				vertical-align: middle;
		      					      	}

					      				&:hover {
					      					color: $base-font-color;
					      				}
					      			}
					      		}

					      		&.product-price {
					      			

					      			.woocommerce-Price-amount {
					      				font-family: $base-italic-font-family;
					      				font-size: $base-font-size;
					      				color: $base-gray-79;
					      			}
					      		}

					      		&.product-quantity {

					      			.quantity {
					      				width: 100%;
					      				height: auto;
					      				display: block;
					      				font-size: 0;

					      				.wac-qty-button {
					      					display: inline-block;
					      					vertical-align: middle;
					      					background: transparent;
					      					padding: 0;
					      					border: 0;
					      					border-radius: 0;

					      					b {

					      						a.wac-btn-sub, a.wac-btn-inc {
					      							font-size: $base-font-size;
					      							width: 16px;
					      							height: 16px;
					      							text-align: center;
					      						}

					      						a.wac-btn-sub {
					      							font-size: 0;
					      							
					      							&::before {
					      								content: "\f0d7";
					      								font-family: 'Font Awesome 5 Pro';
					      								font-style: normal;
					      								font-weight: 900;
					      								font-size: 16px;
					      								line-height: 16px;
					      								width: 16px;
					      								height: 16px;
					      								color: $base-yellow;
					      							}
					      						}

					      						a.wac-btn-inc {
					      							font-size: 0;
					      							background: transparent;

					      							&::before {
					      								content: "\f0d8";
					      								font-family: 'Font Awesome 5 Pro';
					      								font-style: normal;
					      								font-weight: 900;
					      								font-size: 16px;
					      								line-height: 16px;
					      								width: 16px;
					      								height: 16px;
					      								color: $base-yellow;
					      							}
					      						}
					      					}
					      				}

					      				input {
					      					width: calc(100% - 50px);
					      					max-width: 70px;
					      					display: inline-block;
					      					vertical-align: middle;
					      					margin: 0 10px;
					      					padding: 0;
					      					color: $base-gray-79;
					      					font-family: $base-italic-font-family;
					      				}
					      			}
					      		}

					      		&.product-subtotal {

					      			.woocommerce-Price-amount {
					      				font-size: $base-font-size * 1.142;
					      				font-family: $bold-italic-font-family;
					      				color: $base-font-color;
					      			}
					      		}

					      		&.product-remove {
					      			text-align: left;

					      			.product-remove-item {
					      				width: 20px;
					      				height: 20px;
					      				border-radius: 20px;
					      				line-height: 15px;
					      				display: block;
					      				color: $not-error;
					      				border: 1px solid $not-error;
					      				background: transparent;
					      				text-align: center;
					      				padding: 2px;
					      				cursor: pointer;
					      				position: absolute;
					      				top: 20px;
					      				right: 20px;
					      				@include transition(all 100ms ease-in-out);

		      					      	@include breakpoint($mobile-medium) {
		      				  				position: relative;
		      				  				top: auto;
		      				  				right: auto;
		      					      	}

					      				.fal {
					      					font-size: 14px;
					      					line-height: 100%;
					      				}

					      				&:hover {
					      					background: $not-error;
					      					color: $white;
					      				}
					      			}
					      		}
					      	}
						}
					}

					.actions {
						width: 100%;
						height: auto;
						display: block;
						text-align: right;
						margin-bottom: 50px;

				      	.coupon {
				      		width: 100%;
				      		height: auto;
				      		display: block;

	      			      	@include breakpoint($mobile-large) {
	      		  				width: 70%;
	      		  				display: inline-block;
	      		  				vertical-align: middle;
	      			      	}

	      			      	@include breakpoint($screen-small) {
	      		  				width: 50%;
	      			      	}

				      		.coupon-btn {
				      			width: 100%;
				      			height: auto;
				      			display: block;
				      			font-size: 0;

				      			input {
				      				width: calc(100% - 135px);
				      				display: inline-block;
				      				vertical-align: middle;
				      				padding: 0 10px;

	      					      	@include breakpoint($mobile-small) {
	      				  				width: calc(100% - 200px);
	      				  				padding: 0 15px;
	      					      	}

	      					      	@include breakpoint($mobile-large) {
	      				  				width: calc(100% - 250px);
	      					      	}
				      			}

				      			button {
				      				@extend .btn-clean;
				      				width: 135px;
				      				display: inline-block;
				      				vertical-align: middle;
				      				padding: 0 10px;

	      					      	@include breakpoint($mobile-small) {
	      				  				width: 200px;
	      				  				padding: 0 30px;
	      					      	}

	      					      	@include breakpoint($mobile-large) {
	      				  				width: 250px;
	      					      	}
				      			}
				      		}
				      	}
					}
				}

				.cart-collaterals {
					width: 100%;
					height: auto;
					display: block;
					text-align: right;

					.cart_totals {
						width: 100%;
			      		height: auto;
			      		display: block;

      			      	@include breakpoint($mobile-large) {
      		  				width: 70%;
      		  				display: inline-block;
      		  				vertical-align: middle;
      			      	}

      			      	@include breakpoint($screen-small) {
      		  				width: 50%;
      			      	}		

      			      	.shop_table {
      			      		width: 100%;
      			      		height: auto;
      			      		// display: block;
      			      		border: 1px solid $gray-clean-f1;
      			      		border-radius: 0;
      			      		margin: 0;
      			      		margin-bottom: 20px;

      			      		tbody {

      			      			tr {

      			      				th {
      			      					width: 35%;
      			      					padding: 10px 20px;
      			      					background: $gray-clean-f1;
      			      					font-family: $bold-font-family;
      			      					font-weight: normal;
      			      					border: 0;
      			      					border-bottom: 1px solid $white;
      			      					color: $base-gray-79;
      			      					vertical-align: middle;

      			      					@include breakpoint($mobile-small) {
      				  						width: 20%
  					      				}		
      			      				}

      			      				td {
										vertical-align: middle;

										.woocommerce-Price-amount {
											font-family: $base-font-family;
											font-size: $base-font-size;
											color: $base-gray-79;
										}

										strong {

											.woocommerce-Price-amount {
												font-family: $bold-font-family;
												font-size: $base-font-size * 1.142;
												color: $base-font-color;
											}
										}
      			      				}

      			      				&.shipping {

      			      					td {
      			      						font-family: $base-font-family;
      			      						color: $base-gray-79;

      			      						.woocommerce-shipping-calculator {
      			      							width: 100%;
      			      							height: auto;
      			      							display: block;

      			      							a.shipping-calculator-button {
      			      								@extend .btn-simple;

      			      								&::after {
      			      									content: "\f0d7";
      			      									font-family: 'Font Awesome 5 Pro';
      			      									font-style: normal;
      			      									font-weight: 900;
      			      									color: $base-orange;
      			      									margin-left: 5px;
      			      									display: inline-block;
      			      									vertical-align: middle;
      			      									@include transition(all 100ms ease-in-out);
      			      								}

      			      								&:hover, &:active {
      			      									color: $base-orange;

      			      									&::after {
      			      										color: $base-font-color;
      			      										
      			      									}										
      			      								}
      			      							}

      			      							.form-row {
      			      								width: 100%;
      			      								height: auto;
      			      								display: block;
      			      								padding: 0;
      			      								margin-bottom: 10px;

      			      								&#calc_shipping_country_field, &#calc_shipping_state_field {
      			      									@extend .select;

      			      									select {
      			      										margin-bottom: 5px;
      			      									}

      			      									.select2-selection__rendered {
      			      										font-family: $bold-font-family;
      			      										color: $base-orange;
      			      									}
      			      								}
      			      							}

      			      							.button {
      			      								@extend .btn-clean;
      			      							}
      			      						}
      			      					}
      			      				}

      			      				&:last-child {

      			      					th {
      			      						border-bottom: 0;
      			      					}
      			      				}
      			      			}
      			      		}
      			      	}

      			      	.wc-proceed-to-checkout {
      			      		width: 100%;
      			      		height: auto;
      			      		display: block;
      			      		padding: 0;
      			      		text-align: right;

      			      		.wc-backward {
      			      			color: $base-color;
      			      			font-family: $bold-font-family;
      			      			font-weight: normal;
      			      			background: transparent;
      			      			padding: 0;
      			      			margin: 0;
      			      			text-transform: uppercase;
      			      			display: inline-block;
      			      			vertical-align: middle;
      			      			@include transition(all 100ms ease-in-out);

      			      			.fas {
      			      				color: $base-color;
      			      				margin-right: 5px;
      			      				padding: 0;
      			      				@include transition(all 100ms ease-in-out);
      			      			}

      			      			&:hover {
      			      				color: $base-font-color;

      			      				.fas {
      			      					color: $base-font-color;
      			      				}
      			      			}
      			      		}

      			      		.wc-forward {
      			      			@extend .btn-sing;
      			      			background: transparent;
      			      			width: 100%;
      			      			max-width: 200px;
      			      			margin-left: 10px;
      			      			display: inline-block;
      			      			vertical-align: middle;

      			      			@include breakpoint($mobile-small) {
      				  				max-width: 250px;
      				  				margin-left: 30px;
      					      	}

      			      			&::before {
      			      				background: $base-blue;
      			      			}	

      			      			&::after {
      			      				background: $base-blue-green;		
      			      			}			

      			      			&:hover {
      			      				background: transparent;
      			      				
      			      				&::before {
      			      					background: $base-blue-green !important;
      			      					@include transition(all 100ms ease-in);
      			      				}

      			      				&::after {
      			      					background: $base-blue !important;				
      			      					@include transition(all 100ms ease-in);
      			      				}	

      			      				span {
      			      					color: $white;
      			      					@include transition(all 100ms ease-in);

      			      					.fal {
      			      						color: $white;
      			      						@include transition(all 100ms ease-in);
      			      					}
      			      				}										
      			      			}	

      			      			&.disabled {
      			      				opacity: 1;

      			      				span {
      			      					color: $base-gray-light !important;

      			      					.fal {
      			      						color: $base-gray-light !important;
      			      					}
      			      				}

      			      				&::before {
      			      					background: $gray-clean-f1 !important;
      			      				}	

      			      				&::after {
      			      					background: $base-gray-light !important;
      			      				}

      			      				&:hover {

      			      					&::before {
      			      						background: $gray-clean-f1 !important;
      			      					}	

      			      					&::after {
      			      						background: $base-gray-light !important;	
      			      					}
      			      				}
      			      			}

      			      			.spin {
      			      				display: none;
      			      			}
      			      		}
      			      	}				
					}
				}
			}
		}
	}
}