//
// layouts/checkout.scss
//

section.checkout {
	width: 100%;
	height: auto;
	display: block;

	.checkout-container {
		width: 100%;
		height: auto;
		display: block;

		.woocommerce {

			.woocommerce-form-coupon-toggle {
				.woocommerce-info {
					@extend .woocommerce-message.woocommerce-message--info;
				}
				
			}

			.checkout_coupon {
				width: 100%;
				height: auto;
				display: block;
				padding: 20px;
				border: 1px solid $gray-clean-f1;
				border-radius: 0;
				font-size: 0;
				margin-bottom: 50px;

				p {
					color: $base-gray-79;
					font-size: $base-font-size;
				}

				.form-row.form-row-first {
      				width: calc(100% - 135px);
      				display: inline-block;
      				vertical-align: top;
      				padding: 0;
      				margin: 0;

			      	@include breakpoint($mobile-small) {
		  				width: calc(100% - 250px);
			      	}

			      	@include breakpoint($mobile-large) {
		  				width: calc(100% - 300px);
			      	}

      				input {
	      				padding: 0 10px;

				      	@include breakpoint($mobile-small) {
			  				padding: 0 15px;
				      	}
      				}
				}

				.form-row.form-row-last {
      				width: 135px;
      				display: inline-block;
      				vertical-align: top;
      				margin: 0;
      				padding: 0;

			      	@include breakpoint($mobile-small) {
		  				width: 250px;
			      	}

			      	@include breakpoint($mobile-large) {
		  				width: 300px;
			      	}

			      	button {
			      		@extend .btn-clean;
			      		width: 100%;
	      				padding: 0 10px;

				      	@include breakpoint($mobile-small) {
			  				padding: 0 30px;
				      	}				      
			      	}
				}
			}

			.woocommerce-checkout {
				width: 100%;
				height: auto;
				display: block;

				.col2-set {
					width: 100%;
					height: auto;
					display: block;
					padding: 0;
					margin: 0;
					margin-bottom: 30px;

					h3 {
						color: $base-orange;
						font-family: $base-font-family;
						padding-bottom: 10px;
						margin-bottom: 30px;
						border-bottom: 1px dashed $gray-clean-f1;
					}

			      	.col-1 {
			      		width: 100%;
			      		height: auto;
			      		display: block;

			      		.woocommerce-billing-fields__field-wrapper {
				      		width: 100%;
				      		height: auto;
      		  				display: block;

				      		@include breakpoint($mobile-small) {
				      			display: grid;
	  				      		grid: auto / repeat(2, 1fr);
	  				      		grid-gap: 0 10px;
	  				      		align-items: end;
				      		}

				      		@include breakpoint($mobile-large) {
	  				      		grid: auto / repeat(3, 1fr);
	  				      		grid-gap: 0 30px;
				      		}

				      		.form-row {
				      			width: 100%;
				      			height: auto;
				      			position: relative;
				      			display: block;
				      			padding: 0;
				      			margin: 0;
				      			margin-bottom: 10px;

			      				label {
			      					font-family: $base-italic-font-family;
			      					font-size: $base-font-size;
			      					font-weight: normal;
			      					color: $base-gray-79;
			      					margin-bottom: 5px;
			      					display: block;

			      					abbr.required {
			      						font-size: $base-font-size * 0.714;
			      						color: $not-error;
			      					}
			      				}

			      				&#billing_state_field {

			      					.woocommerce-input-wrapper {
			      						@extend .select;	
			      					}	

			      					.select2-selection__rendered {
			      						font-family: $bold-font-family;
			      						color: $base-orange;
			      						position: absolute;
			      						top: -30px;
			      						right: 0px;
			      					}
			      				}
				      		}
			      		}
			      	}

			      	.col-2 {
						
						h3 {
							width: 100%;
							height: auto;
							color: $base-orange;
							font-family: $base-font-family;
							padding-bottom: 10px;
							margin-bottom: 30px;
							border-bottom: 1px dashed $gray-clean-f1;
							display: block;

							label {
								cursor: pointer;
							}
						}

						.shipping_address {
							width: 100%;
							height: auto;

							.woocommerce-shipping-fields__field-wrapper {
					      		width: 100%;
					      		height: auto;
	      		  				display: block;

					      		@include breakpoint($mobile-small) {
					      			display: grid;
		  				      		grid: auto / repeat(2, 1fr);
		  				      		grid-gap: 0 10px;
		  				      		align-items: end;
					      		}

					      		@include breakpoint($mobile-large) {
		  				      		grid: auto / repeat(3, 1fr);
		  				      		grid-gap: 0 30px;
					      		}

	      			      		.form-row {
	      			      			width: 100%;
	      			      			height: auto;
	      			      			position: relative;
	      			      			display: block;
	      			      			padding: 0;
	      			      			margin: 0;
	      			      			margin-bottom: 10px;

	      		      				label {
	      		      					font-family: $base-italic-font-family;
	      		      					font-size: $base-font-size;
	      		      					font-weight: normal;
	      		      					color: $base-gray-79;
	      		      					margin-bottom: 5px;
	      		      					display: block;

	      		      					abbr.required {
	      		      						font-size: $base-font-size * 0.714;
	      		      						color: $not-error;
	      		      					}
	      		      				}

	      		      				&#shipping_state_field {

	      		      					.woocommerce-input-wrapper {
	      		      						@extend .select;	
	      		      					}	

	      		      					.select2-selection__rendered {
	      		      						font-family: $bold-font-family;
	      		      						color: $base-orange;
	      		      						position: absolute;
	      		      						top: -30px;
	      		      						right: 0px;
	      		      					}
	      		      				}
	      			      		}
							}
						}

						.woocommerce-additional-fields {
							width: 100%;
							height: auto;
							display: block;

							.woocommerce-additional-fields__field-wrapper {
								width: 100%;
								height: auto;
								display: block;

								.form-row {
									width: 100%;
									height: auto;
									display: block;

									label {
										font-family: $base-italic-font-family;
										font-size: $base-font-size;
										font-weight: normal;
										color: $base-gray-79;
										margin-bottom: 5px;
										display: block;

										abbr.required {
											font-size: $base-font-size * 0.714;
											color: $not-error;
										}
									}

									.woocommerce-input-wrapper {

										textarea {
											min-height:150px;
											line-height:100%;
											padding:20px;
											resize: vertical;
										}
									}
								}
							}
						}
			      	}
				}

				h3#order_review_heading {
					color: $base-orange;
					font-family: $base-font-family;
					padding-bottom: 10px;
					margin-bottom: 30px;
					border-bottom: 1px dashed $gray-clean-f1;
				}

				.woocommerce-checkout-review-order {
					width: 100%;
					height: auto;
					display: block;

					.shop_table {
						width: 100%;
						height: auto;
						border: 0;
						border-radius: 0;
						border: 1px solid $gray-clean-f1;
						margin-bottom: 30px;

						thead {

							tr {

								th {
									background: $base-yellow;
									border: 0;
									font-family: $bold-font-family;
									font-size: $base-font-size * 0.857;
									font-weight: normal;
									color: $white;
									padding: 10px 20px;

									&::before {
										content: "\f107";
										font-family: 'Font Awesome 5 Pro';
										font-style: normal;
										font-weight: 300;
										display: inline-block;
										vertical-align: middle;
										color: $white;
										margin-right: 5px;
									}

							      	@include breakpoint($mobile-large) {
						  				font-size: $base-font-size * 1.142;
							      	}
								}
							}
						}

						tbody {
						
							tr {

								td {
									padding: 10px 20px;
									font-family: $base-font-family;
									font-weight: normal;
								}
							}
						}

						tfoot {

							tr {

								td, th {
									padding: 10px 20px;
								}

								th {
									background: $gray-clean-f1;
									font-family: $bold-font-family;
									font-weight: normal;
									border: 0;
									border-bottom: 1px solid $white;
									color: $base-gray-79;
									vertical-align: middle;
									text-align: right;
								}

								td {
									font-family: $bold-font-family;
									font-weight: normal;
								}

								&:last-child {
									th {
										border-bottom: 0;
									}
								}
							}
						}
					}

					.woocommerce-checkout-payment {
						width: 100%;
						height: auto;
						display: block;
						border-radius: 0 !important;
						background: $gray-clean-f1 !important;

						ul.wc_payment_methods {
							width: 100%;
							height: auto;
							display: block;
							padding: 20px !important;
							border-bottom: 1px solid darken($gray-clean-f1, 5) !important;

					      	@include breakpoint($mobile-large) {
				  				padding: 20px 50px !important;
					      	}

							li.wc_payment_method {
								width: 100%;
								height: auto;
								display: block;

								label {
									font-family: $bold-font-family;
									color: $base-font-color;
								}

								.payment_box {
									background-color: darken($gray-clean-f1, 5) !important;
									padding: 20px !important;
									font-size: $base-font-size * 0.857 !important;
									color: $base-font-color !important;

									&::before {
										content: '' !important;
										display: block !important;
										border: 1em solid darken($gray-clean-f1, 5) !important;
										border-right-color: transparent !important;
										border-left-color: transparent !important;
										border-top-color: transparent !important;
										position: absolute !important;
										top: -.75em !important;
										left: 0 !important;
										margin: -1em 0 0 2em !important;
									}
								}
							}
						}

						.form-row.place-order {
							width: 100%;
							height: auto;
							display: block;
							padding: 20px !important;

					      	@include breakpoint($mobile-large) {
				  				padding: 20px 50px !important;
					      	}

							.woocommerce-terms-and-conditions-wrapper {

								.woocommerce-privacy-policy-text {

									p {
										color: $base-font-color !important;
									}
								}
							}

							a {
								color: $base-yellow;
								@include transition(all 100ms ease-in-out);

								&:hover {
									color: $base-font-color;
								}
							}
						}

						.btn-clean {
							background: $base-blue-green;
							border-bottom-color: $base-blue;
							width: 100%;
							height: 60px;
							line-height: 60px;
						}
					}
				}
			}

			.woocommerce-order {
				width: 100%;
				height: auto;
				display: block;

				.woocommerce-thankyou-order-received {
					width: 100%;
					height: auto;
					display: block;
					font-family: $base-font-family;
					color: $base-blue-green;
					font-size: $base-font-size * 2.0;
					
					@include breakpoint($mobile-large) {
						font-size: $base-font-size * 2.5;
					}
					
					@include breakpoint($screen-small) {
						font-size: $base-font-size * 3.0;
					}
				}

				.woocommerce-order-overview {
					width: 100%;
					height: auto;
					display: block;
					padding-bottom: 30px;
					margin: 0;
					margin-bottom: 30px !important;
					border-bottom: 1px dashed $gray-clean-f1;

					li {
						color: $base-font-color;
						margin-bottom: 2em;

						strong {
							font-family: $bold-font-family;
						}
					}
				}

				.woocommerce-bacs-bank-details {
					width: 100%;
					height: auto;
					display: block;

					h2 {
						color: $base-orange;
						font-family: $base-font-family;
						padding-bottom: 10px;
						margin-bottom: 30px;
						border-bottom: 1px dashed $gray-clean-f1;
						line-height: $base-small-line-height;
					}

					h3 {
						font-family: $base-font-family;
						color: $base-font-color;
						line-height: $base-small-line-height;
					}

					.wc-bacs-bank-details {
						width: 100%;
						height: auto;
						display: block;
						padding-bottom: 30px;
						margin: 0;
						margin-bottom: 30px !important;
						border-bottom: 1px dashed $gray-clean-f1;

						li {
							color: $base-font-color;
							margin-bottom: 2em;

							strong {
								font-family: $bold-font-family;
							}
						}
					}
				}

				.woocommerce-order-details {
					width: 100%;
					height: auto;
					display: block;

					h2 {
						color: $base-orange;
						font-family: $base-font-family;
						padding-bottom: 10px;
						margin-bottom: 30px;
						border-bottom: 1px dashed $gray-clean-f1;
						line-height: $base-small-line-height;
					}

					li {
						margin-bottom: 2em;
					}

					.shop_table {
						width: 100%;
						height: auto;
						border: 0;
						border-radius: 0;
						border: 1px solid $gray-clean-f1;
						margin-bottom: 30px;

						thead {

							tr {

								th {
									background: $base-yellow;
									border: 0;
									font-family: $bold-font-family;
									font-size: $base-font-size * 0.857;
									font-weight: normal;
									color: $white;
									padding: 10px 20px;

									&::before {
										content: "\f107";
										font-family: 'Font Awesome 5 Pro';
										font-style: normal;
										font-weight: 300;
										display: inline-block;
										vertical-align: middle;
										color: $white;
										margin-right: 5px;
									}

							      	@include breakpoint($mobile-large) {
						  				font-size: $base-font-size * 1.142;
							      	}
								}
							}
						}

						tbody {
						
							tr {

								td {
									padding: 10px 20px;
									font-family: $base-font-family;
									font-weight: normal;

									a {
										color: $base-orange;
									}
								}
							}
						}

						tfoot {

							tr {

								td, th {
									padding: 10px 20px;
								}

								th {
									background: $gray-clean-f1;
									font-family: $bold-font-family;
									font-weight: normal;
									border: 0;
									border-bottom: 1px solid $white;
									color: $base-gray-79;
									vertical-align: middle;
									text-align: right;
								}

								td {
									font-family: $bold-font-family;
									font-weight: normal;
								}

								&:last-child {
									th {
										border-bottom: 0;
									}
								}
							}
						}
					}
				}

				.woocommerce-customer-details {
					width: 100%;
					height: auto;
					display: block;

					.woocommerce-columns {
						width: 100%;
						height: auto;

				      	@include breakpoint($mobile-large) {
		  					display: grid;
				  			grid-template-columns: calc(50% - 15px) calc(50% - 15px);
				  			grid-gap: 0 30px;
		  					justify-self: center;
		  			      	align-self: stretch;
				      	}
	  					
	  					.woocommerce-column {
	  						width: 100%;
	  						height: auto;
	  						display: block;
	  						border: 1px solid $gray-clean-f1 !important;
	  						margin-bottom: 20px;

					      	@include breakpoint($mobile-large) {
			  					margin-bottom: 0;
					      	}

	  						h2.woocommerce-column__title {
	  							font-family: $base-font-family;
	  							color: $base-orange;
	  							margin-bottom: 0px;
	  							padding: 10px 20px;
	  							border-bottom: 1px solid $gray-clean-f1;
	  							font-size: $base-font-size * 1.414;
	  							
	  							@include breakpoint($mobile-large) {
	  								font-size: $base-font-size * 1.58;
	  							}
	  							
	  							@include breakpoint($screen-small) {
	  								font-size: $base-font-size * 1.732;
	  							}
	  						}

	  						address {
	  							border: 0 !important;
	  							border-radius: 0 !important;
	  							font-family: $base-font-family;
	  							color: $base-font-color;
	  							padding: 20px;

	  							.woocommerce-customer-details--phone {

	  								&::before {
	  									content: "\f095";
	  									font-family: 'Font Awesome 5 Pro';
	  									font-style: normal;
	  									font-weight: 300;
	  									display: inline-block;
	  									vertical-align: middle;
	  									margin-right: 5px;
	  								}
	  							}

	  							.woocommerce-customer-details--email {

	  								&::before {
	  									content: "\f0e0";
	  									font-family: 'Font Awesome 5 Pro';
	  									font-style: normal;
	  									font-weight: 300;
	  									display: inline-block;
	  									vertical-align: middle;
	  									margin-right: 5px;
	  								}
	  							}
	  						}

	  						&:last-child {
	  							margin-bottom: 0;
	  						}
	  					}
					}
				}
			}
		}
	}
}