//
// layouts/common.scss
//

section.common-header {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	padding: 40px 0;

	@include breakpoint($mobile-large) {
		padding: 60px 0;
	}

	&.no-padding {
		padding: 40px 0 0 0;

		@include breakpoint($mobile-large) {
			padding: 60px 0 0 0;
		}
	}

	.common-header-container {		
		width: 100%;
		height: auto;
		display: block;
		position: relative;
		border-bottom: 1px solid $base-orange;
		padding-bottom: 20px;
		font-size: 0;

		.column {
			width: 100%;
			height: auto;
			display: block;
			margin-bottom: 20px;

			@include breakpoint($mobile-large) {
				@include span(8);
				float: none;
				display: inline-block;
				vertical-align: bottom;
				margin-bottom: 0;
			}

			&:last-child {
				width: 100%;
				height: auto;
				display: block;
				margin-bottom: 0;

				@include breakpoint($mobile-large) {
					@include span(4 last);
					float: none;
					display: inline-block;
					vertical-align: bottom;
					text-align: right;
				}
			}
		}

		.select {
			max-width: 300px;
			display: inline-block;

			select {
				height: 40px;
				line-height: 40px;
			}

			&::after {
				line-height: 40px;
			}
		}

		nav.breadcrumb {
			width: 100%;
			height: auto;
			display: block;
			margin-bottom: 10px;

			@include breakpoint($mobile-large) {
				margin-bottom: 20px;
			}

		    ul {
		    	width: 100%;
		    	height: auto;
		    	display: block;
		    	font-size: 0;
		    	// line-height: 0 !important;

		    	li {
					display: inline-block;
					line-height: $base-small-line-height;

					&::after {
						content: '/';
						color: $base-gray-d1;
						padding: 0 10px;
						font-size: $base-font-size;
						display: inline-block;
					}

					a {
						display: inline-block;

						span {
							font-family: $base-font-family;
							font-size: $base-font-size * 0.857;
							color: $base-gray-d1;
							margin: 0;
							display: block;
							text-transform: lowercase;
							@include transition(all 150ms ease-in-out);

							@include breakpoint($mobile-large) {
								font-size: $base-font-size;
							}
			    			
			    			&:hover {
			    				color: $base-orange;
			    			}	
						}
					}			

					span {
						color: $base-orange-clean;												
						font-size: $base-font-size * 0.857;
						margin: 0px 0px;
						display: inline-block;
						font-family: $base-font-family;
						text-transform: lowercase;
						@include transition(all 150ms ease-in-out);

						@include breakpoint($mobile-large) {
							font-size: $base-font-size;
						}
					}

					&:last-child {

						&::after {
							display: none;
						}
					}
		    	}	    	
		    }
		}

	    h1 {
	    	font-family: $bold-font-family;
	    	font-size: $base-font-size * 1.285;
	    	color: $base-orange;	
	    	line-height: $base-small-line-height;
	    	margin-bottom: 0;

		    @include breakpoint($mobile-large) {
		    	font-size: $base-font-size * 1.785;
		    }
	    }
	}	
}

.common-list-products {
	width: 100%;
	height: auto;
	display: block;
	position: relative;

	.common-list-products-box {
		width: 100%;
		height: auto;
		display: block;
		overflow: hidden;

		&.columns-3 {
	      	
	      	ul.products {
	      		width: 100%;
	      		height: auto;
	      		display: block;
	      		padding: 10px 10px 0 10px;
	      		clear: none;
	      		float: none;
	      		margin: 0;

		      	@include breakpoint($mobile-small) {
	  				display: grid;
		      		grid: auto / repeat(2, 1fr);
		      		grid-gap: 0 30px;
		      	}	

  		      	@include breakpoint($mobile-medium) {
  	  				width: 100%;
  	  				height: auto;
  	  				display: block;
  	  				padding: 10px 10px 0 10px;
  	  				clear: none;
  	  				margin: 0;
  		      	}	

		      	@include breakpoint($mobile-large) {
		      		display: grid;
		      		grid: auto / repeat(2, 1fr);
		      		grid-gap: 0 30px;
		      	}

		      	@include breakpoint($screen-small) {
		      		grid: auto / repeat(3, 1fr);
		      	}
		        .woosw-btn{
			        margin: 15px auto 0;
		        }
	      	}
		}

		ul.products {
			width: 100%;
			height: auto;
			display: block;
			padding: 10px 10px 0 10px;
			clear: none;
			margin: 0;

			&::before, &::after {
				display: none;
				content: '';
			}

	      	@include breakpoint($mobile-small) {
  				display: grid;
	      		grid: auto / repeat(2, 1fr);
	      		grid-gap: 0 30px;
	      	}	

	      	@include breakpoint($mobile-medium) {
	      		grid: auto / repeat(3, 1fr);
	      	}

	      	@include breakpoint($screen-small) {
	      		grid: auto / repeat(4, 1fr);
	      	}

			li {
				width: 100% !important;
				height: auto;
				display: block;
				position: relative;
				padding-bottom: 50px;
				float: none !important;
				clear: none !important;

				@include breakpoint($mobile-small) {
					width: auto !important;
					justify-self: center;
			      	align-self: stretch;
			      	text-align: center;
			      	padding-bottom: 40px;
				}	

				@include breakpoint($mobile-large) {
					padding-bottom: 60px;
				}

				a {
					width: 100%;
					height: auto;
					display: block;

					img {
						width: 100%;
						height: auto;
						display: block;	
						margin: 0 0 20px 0!important;
						
						&.wp-post-image {
							@include transition(opacity 0ms ease);
						}
					}
					
					h2 {
						font-family: $base-font-family;
						font-size: $base-font-size !important;
						display: block;
						text-align: center;
						color: $base-gray;
						line-height: $base-small-line-height;	
						margin: 0;
						padding: 0 !important;
						margin-bottom: 10px !important;

						@include breakpoint($mobile-large) {
							font-size: $base-font-size * 1.142 !important;
						}
					}

					.price {
						width: 100%;
						height: auto;
						display: block;
						text-align: center;
						line-height: 100%;

						span.price_from {
							width: 100%;
							height: auto;
							display: block;
							font-size: $base-font-size * 0.857;
							color: $base-gray-99;
							margin-bottom: 5px;
						}

						span.price_range {
							width: 100%;
							height: auto;
							display: block;
							font-size: $base-font-size * 0.857;
							color: $base-gray-99;
							margin-bottom: 5px;

							del {
								display: inline-block;
								margin-bottom: 0;
								opacity: 1 !important;

								&::before, &::after {
									display: none;
								}

								.woocommerce-Price-amount {
									font-size: $base-font-size * 0.857;
									color: $not-error;
									display: inline-block;
									text-decoration: line-through;

									span.woocommerce-Price-currencySymbol {
										margin-right: 0;
									}
								}
							}
						}

						del {
							margin-bottom: 5px;
							color: $base-gray-99;
							text-decoration: none;
							font-size: $base-font-size * 0.857;
							display: block;
							opacity: 1 !important;

							&::before {
								content: "DE: ";
								font-size: $base-font-size * 0.857;
								color: $base-gray-99;
								text-decoration: none !important;
							}

							&::after {
								content: " POR:";
								font-size: $base-font-size * 0.857;
								color: $base-gray-99;
								text-decoration: none !important;
							}

							.woocommerce-Price-amount {
								font-size: $base-font-size * 0.857;
								color: $not-error;
								display: inline-block;
								text-decoration: line-through;

								span.woocommerce-Price-currencySymbol {
									margin-right: 0;
								}
							}
						}

						ins {
							width: 100%;
							height: auto;
							display: block;
							text-decoration: none;

							.woocommerce-Price-amount {
								font-family: $bold-font-family;
								font-size: $base-font-size * 1.142;
								display: block;
								text-align: center;
								color: $base-blue;
								text-decoration: none;

								span.woocommerce-Price-currencySymbol {
									margin-right: 5px;
								}				
							}
						}

						.woocommerce-Price-amount {
							font-family: $bold-font-family;
							font-size: $base-font-size * 1.142;
							display: block;
							text-align: center;
							color: $base-blue;
							text-decoration: none;

							span.woocommerce-Price-currencySymbol {
								margin-right: 5px;
							}				
						}
					}

					span.onsale {
						display: none;
					}

					.description {
						display: none;
					}

					.star-rating {
						width: auto;
						height: auto;
						display: block;
						overflow: hidden;
						position: relative;
						height: 1em;
						line-height: 1;
						font-size: 10px;
						width: 5.4em;
						font-family: star;
						margin: 0 auto 5px auto;

						&::before {
							content: '\73\73\73\73\73';
							color: $base-yellow;
							float: left;
							top: 0;
							left: 0;
							position: absolute;
						}

						span {
							overflow: hidden;
							float: left;
							top: 0;
							left: 0;
							position: absolute;
							padding-top: 1.5em;

							&::before {
								content: '\53\53\53\53\53';
								top: 0;
								position: absolute;
								left: 0;
								color: $base-yellow;
							}
						}
					}
				}

				.product_type_variable {
					width: 50%;
					height: auto;
					line-height: 18px;
					font-family: $heading-font-family;
					font-size: $base-font-size;
					color: $base-blue-green;
					text-align: center;
					position: absolute;					
					bottom: -20px;
					left: 0;
					opacity: 0;
					padding: 0;
					margin: 0 !important;
					border: 0;
					border-radius: 0;
					font-weight: inherit;
					background: transparent !important;
					display: none;
					@include transition(all 200ms ease-in);

					@include breakpoint($mobile-large) {
						display: block;
					}	

					&::before {
						content: '\f055';
						font-family: 'Font Awesome 5 Pro';
						font-weight: 300;
						font-size: 18px;
						line-height: 100%;
						display: inline-block;
						vertical-align: middle;
						color: $base-blue-green;
						margin-right: 5px;
						background: transparent !important;
						position: relative !important;
						left: auto !important;		
						padding-bottom: 5px;			
					}

					&:hover {
						color: $base-blue;

						&::before {
							color: $base-blue;
						}
					}
				}

				.product_type_simple {
					width: 50%;
					height: auto;
					line-height: 18px;
					font-family: $heading-font-family;
					font-size: $base-font-size;
					color: $base-blue-green;
					text-align: center;
					position: absolute;					
					bottom: -20px;
					left: 0;
					opacity: 0;
					padding: 0;
					margin: 0;
					background: transparent !important;
					display: none;
					font-weight: normal;
					@include transition(all 200ms ease-in);

					@include breakpoint($mobile-large) {
						display: block;
					}
					
					&.loading {
						color: $base-gray-clean;
						bottom: 30px;
						opacity: 1;

						&::after {
							content: "\f110";
							width: 30px;
							height: 30px;
							font-family: 'Font Awesome 5 Pro';
						    display: inline-block;
						    font-size: 30px;   	    
						    line-height: 30px;
						    display: block;
						    position: absolute;
						    top: 50%;
						    left: 50%;
						    margin-left: -15px;
						    margin-top: -15px;
						    color: $base-yellow;
						    z-index: 1;
						    @include animation(fa-spin .75s linear infinite); 
						}
						
						&::before {
							color: $base-gray-clean;						
						}
					}				

					&::before {
						content: '\f584';
						font-family: 'Font Awesome 5 Pro';
						font-weight: 300;
						font-size: 18px;
						line-height: 100%;
						display: inline-block;
						vertical-align: middle;
						color: $base-blue-green;
						margin-right: 5px;
						background: transparent !important;
						position: relative !important;
						left: auto !important;			
						padding-bottom: 5px;					
					}

					&:hover {
						color: $base-blue;

						&::before {
							color: $base-blue;
						}
					}
				}

				.woosw-btn {
					width: 50% !important;
					height: auto !important;
					line-height: 18px !important;
					font-family: $heading-font-family;
					font-size: $base-font-size;
					color: $base-color;
					text-align: center;
					position: absolute;					
					bottom: -20px;
					right: 0;
					opacity: 0;
					padding: 0 !important;
					margin: 0 !important;
					border: 0 !important;
					background: transparent !important;
					display: none;
					font-weight: normal;
					cursor: pointer;
					@include transition(all 300ms ease-in);

					@include breakpoint($mobile-large) {
						display: block;
					}
					
					&.loading {
						color: $base-gray-clean;
						bottom: 30px;
						opacity: 1;

						&::after {
							content: "\f110";
							width: 30px;
							height: 30px;
							font-family: 'Font Awesome 5 Pro';
						    display: inline-block;
						    font-size: 30px;   	    
						    line-height: 30px;
						    display: block;
						    position: absolute;
						    top: 50%;
						    left: 50%;
						    margin-left: -15px;
						    margin-top: -15px;
						    color: $base-yellow;
						    z-index: 1;
						    @include animation(fa-spin .75s linear infinite); 
						}
						
						&::before {
							color: $base-gray-clean;						
						}
					}				

					&::before {
						content: '\f49d' !important;
						font-family: 'Font Awesome 5 Pro';
						font-weight: 300 !important;
						font-size: 18px;
						line-height: 100%;
						display: inline-block;
						vertical-align: middle;
						color: $base-color;
						margin-right: 5px;
						background: transparent !important;
						position: relative !important;
						left: auto !important;		
						padding-bottom: 5px;						
					}

					&:hover {
						color: $base-orange;

						&::before {
							color: $base-orange;
						}
					}
				}

				.added_to_cart {
					display: none;
				}

				&::before {
					content: "";
					width: 99%;
					height: 50%;
					position: absolute;
					display: block;
					left: 4px;
					top: -2px;
					background: $base-gray-d1;	
					z-index: -1;
					@include transform(rotate(2deg));
					@include transition(all 200ms ease-in);
				}	

				&:hover {

					h2 {
						color: $base-color;						
					}
					
					&::before {
						background: $base-orange-clean;
						@include transition(all 100ms ease-out);
					}

					.product_type_simple {
						bottom: 30px;
						opacity: 1;
						@include transition(all 100ms ease-out);
					}

					.woosw-btn {
						bottom: 30px;
						opacity: 1;
						@include transition(all 150ms ease-out);
					}

					.product_type_variable {
						opacity: 1;
						bottom: 30px;
						@include transition(all 100ms ease-out);
					}

					&.pif-has-gallery {

						.wp-post-image {
						    opacity: 0 !important;				    
						}

						.wp-post-image--secondary {
						    opacity: 1 !important;
						    width: 100%;
						    height: auto;
						    display: block;				    			    
						}
					}			
				}		
			}
		}
	}
}

.archive-product-sidebar{
	width: 100%;
	height: auto;
	justify-self: center;
	align-self: stretch;
	aside.panel-default{
		width: 100%;
		height: auto;
		display: block;
		border: 1px solid $gray-clean-f1;
		padding: 30px;
		margin-bottom: 30px;
		&.widget_product_categories{
			padding: 0;
			border: none;
		}
	}
	.panel-heading{
		.panel-title{
			font-size: $base-font-size;
			color: $base-font-color;
		}
	}
	.widget_berocket_aapf {
		width: 100%;
		height: auto;
		display: block;

		.berocket_aapf_widget-wrapper {
			width: 100%;
			height: auto;
			display: block;

			.berocket_aapf_widget-title  {
				width: 100%;
				height: auto;
				display: block;
				margin-bottom: 10px;
			}

			ul.berocket_aapf_widget {
				width: 100%;
				height: auto;
				display: block;
				margin: 0;

				li.slider.price {

					&.price {
						display: table;

						span.left, span.right {
							@include span(6);
							margin-bottom: 20px;

							input {
								width: 100%;
								display: block;
								text-align: center;
								font-style: normal;
								padding: 0 20px;
								line-height: 40px;
							}
						}

						span.right {
							@include span(6 last);
							margin-bottom: 20px;
						}

						.slide {
							width: 100%;
							height: auto;
							display: block;
							text-align: left;
							position: relative;

							.ui-slider-range {
								background: none repeat scroll 0 0 $base-orange-clean;
							}
						}
					}
				}

				li {
					margin-bottom: 10px;
					font-family: $base-font-family;

					label {
						cursor: pointer;
						color: $base-font-color;

						&::before {
							content: '\f0c8';
							font-family: 'Font Awesome 5 Pro';
							font-weight: 300;
							margin-right: 5px;
							font-size: 16px;
							line-height: 16px;
							background: transparent;
							color: $base-orange;
						}
					}

					input[type="checkbox"]:checked + label::before {
						content: '\f14a';
					}
				}
			}
		}
	}
}

.product-categories {
	width: 100%;
	height: auto;
	display: block;

	ul, li, a {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
		font-weight: normal;
		text-decoration: none;
		line-height: 1;
		font-family: $base-font-family;
		font-size: $base-font-size;
		position: relative;
	}

	a {
		line-height: 50px;
	}
	>li{
		>i{
			display: none;
		}
		>a{
			display: none;
		}
	}

	>li>ul {

		>li {
			background: $base-orange-clean;
			border-bottom: 1px solid $base-yellow-smooth;
			position: relative;

			&:last-child {
				border-bottom: 0;
			}

			>i{
				width: 30px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				position: absolute;
				left: 0;
				top: 0;
				font-weight: 300;
				font-size: $base-font-size * 1.142;
				color: $white;
				margin-right: 10px;
				display: inline-block;
				@include transition(all 400ms ease-in-out);
				&.active{
					@include transform(rotate(90deg));
				}
			}

			>a {
				font-size: $base-font-size * 1.142;
				font-family: $base-font-family;
				line-height: 50px;
				color: $white;
				position: relative;
				display: block;
				width: 100%;
				width: calc(100% - 30px);
				padding: 0 20px 0 0;
				margin-left: 30px;
			}

			ul.children {
				display: none;
				li {
					background: $base-yellow-smooth;
					border-bottom: 1px solid $base-orange-clean;
					@include transition(all 150ms ease-in-out);

					a {
						color: $base-orange-clean;
						font-size: $base-font-size * 0.857;
						font-family: $bold-font-family;
						line-height: 40px;
						padding: 0 20px 0 30px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						display: block;
						@include transition(all 150ms ease-in-out);

						@include breakpoint($mobile-small) {
							padding: 0 20px 0 20px;
						}

						@include breakpoint($mobile-large) {
							padding: 0 20px 0 30px;
						}

						@include breakpoint($screen-small) {
							font-size: $base-font-size;
							line-height: 50px;
							padding: 0 20px 0 40px;
						}

						&::before {
							content: "\f105";
							font-family: 'Font Awesome 5 Pro';
							font-weight: 300;
							font-size: $base-font-size;
							color: $base-orange-clean;
							margin-right: 5px;
							display: inline-block;
							@include transition(all 0ms ease-in-out);
							@include transform(rotate(0deg));
						}
					}

					&:hover {
						background: lighten($base-orange-clean, 5);

						a {
							color: $white;
						}
					}
				}
			}
			&.current-cat{
				>i{
					@include transform(rotate(90deg));
				}
				ul{
					display: block;
				}
			}
		}
	}
}

nav.woocommerce-pagination {
	width: 100%;
	height: auto;
	display: block;

	ul {
		width: 100%;
		height: auto;
		display: block !important;
		text-align: center !important;
		font-size: 0;
		border: none !important;
		white-space: normal;

		li {
			display: inline-block !important;
			margin: 0 2.5px !important;
			font-size: $base-font-size * 1.142;
			float: none !important;
			border: none !important;
			padding: 0 !important;

			span {
				line-height: 50px !important;
				font-family: $bold-font-family !important;
				font-size: $base-font-size * 1.142 !important;
				color: $base-gray-clean !important;
				border: 1px solid $base-gray-clean !important;
				padding: 0 15px !important;

				&.current {
					line-height: 50px !important;
					font-family: $bold-font-family !important;
					font-size: $base-font-size * 1.142 !important;
					color: $white !important;
					border: 1px solid $base-yellow !important;
					background: $base-yellow !important;
					padding: 0 15px !important;
					cursor: default;
				}
			}

			a {
				line-height: 50px !important;
				font-family: $bold-font-family !important;
				font-size: $base-font-size * 1.142 !important;
				color: $base-gray-clean !important;
				border: 1px solid $base-gray-clean !important;
				padding: 0 15px !important;
				@include transition(all 150ms ease-in-out);
			}

			&:hover, &.active {

				a {
					background: $base-yellow !important;
					border: 1px solid $base-yellow !important;
					color: $white !important;
				}
			}
	   }
	}
}


nav.common-nav {
	width: 100%;
	height: auto;
	display: block;

	.common-nav-container {
		width: 100%;
		height: auto;
		display: block;
		font-size: 0;
		text-align: center;

		span {
			line-height: 50px;
			font-family: $bold-font-family;
			font-size: $base-font-size * 1.142;
			color: $base-gray-clean;
			border: 1px solid $base-gray-clean;
			padding: 0 15px;
			display: inline-block;
			margin: 0 2.5px;

			&.current {
				line-height: 50px;
				font-family: $bold-font-family;
				font-size: $base-font-size * 1.142;
				color: $white;
				border: 1px solid $base-yellow;
				background: $base-yellow;
				padding: 0 15px;
				cursor: default;
			}
		}

		a {
			line-height: 50px;
			font-family: $bold-font-family;
			font-size: $base-font-size * 1.142;
			color: $base-gray-clean;
			border: 1px solid $base-gray-clean;
			padding: 0 15px;
			display: inline-block;
			margin: 0 2.5px;
			@include transition(all 150ms ease-in-out);

			&:hover, &.active {
				background: $base-yellow;
				border: 1px solid $base-yellow;
				color: $white;
			}
		}
	}
}

.common-social {
	width: 100%;
	height: auto;
	display: block;

	.sbutton {
		margin: 0 !important;
		margin-right: 5px !important;
		float: none !important;
		display: inline-block;

		a {
			
			.cs {
				width: 30px !important;
				height: 30px !important;
				line-height: 28px !important;
				border-radius: 30px !important;
				padding: 0 !important;
				background-color: transparent !important;
				font-size: 14px !important;
				@include transition(all 100ms ease-in-out);

				&.c-icon-cresta-facebook {	
					border: 1px solid $facebook !important;
					color: $facebook !important;
				}

				&.c-icon-cresta-twitter {	
					border: 1px solid $twitter !important;
					color: $twitter !important;
				}

				&.c-icon-cresta-gplus {	
					border: 1px solid $google-plus !important;
					color: $google-plus !important;
				}

				&.c-icon-cresta-pinterest {	
					border: 1px solid $pinterest !important;
					color: $pinterest !important;
				}

				&.c-icon-cresta-linkedin {	
					border: 1px solid $linkedin !important;
					color: $linkedin !important;
				}
			}
		}

		&:hover {

			a {

				.cs {
					color: $white !important;

					&.c-icon-cresta-facebook {	
						border: 1px solid $facebook !important;
						background-color: $facebook !important;
					}

					&.c-icon-cresta-twitter {	
						border: 1px solid $twitter !important;
						background-color: $twitter !important;
					}

					&.c-icon-cresta-gplus {	
						border: 1px solid $google-plus !important;
						background-color: $google-plus !important;
					}

					&.c-icon-cresta-pinterest {	
						border: 1px solid $pinterest !important;
						background-color: $pinterest !important;
					}

					&.c-icon-cresta-linkedin {	
						border: 1px solid $linkedin !important;
						background-color: $linkedin !important;
					}
				}
			}
		}
	}
}

#modal {
	width: 100%;
	height: auto;
	display: block;
	position: fixed;
	z-index: 999;
	background: red;
	display: none;
	top: 50%;
}

.slick-prev {
	width: 30px;
	height: auto;
	position: absolute;
	left: 10px;
	top: 50%;
	background: transparent;
	display: block;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	z-index: $index-1;
	cursor: pointer;
	@include transition(all 150ms ease-in-out); 		    	

	@include breakpoint($mobile-large) {
		left: 20px;
		width: 30px;
		top: 50%;
	}

	&::before {
		content: "\f104";
		font-family: 'Font Awesome 5 Pro';
		font-size: 30px;
		font-weight: 300;
		color: $white;
		@include transition(all 150ms ease-in-out);					
	}

	&:hover {
		background: transparent;

		&::before {
			color: $base-color;	
		}					
	}
}			

.slick-next {
	width: 30px;
	height: auto;
	position: absolute;
	right: 10px;
	top: 50%;
	background: transparent;
	display: block;
	font-size: 0;
	margin: 0;
	padding: 0;
	border: 0;
	z-index: $index-1;
	cursor: pointer;
	@include transition(all 150ms ease-in-out); 

	@include breakpoint($mobile-large) {
		right: 20px;
		width: 30px;
		top: 50%;
	}

	&::before {
		content: "\f105";
		font-family: 'Font Awesome 5 Pro';
		font-size: 30px;
		font-weight: 300;
		color: $white;
		@include transition(all 150ms ease-in-out);	
	}				

	&:hover {
		background: transparent;

		&::before {
			color: $base-color;	
		}					
	}				
}

.slick-dots {
	width: 100%;
	margin: auto;
	height: 0px;
	position: relative;
	display: block;
	bottom: 50px;
	text-align: center;
	padding: 0px 20px;

	@include breakpoint($mobile-large) {
		text-align: right;
		padding: 0px 50px 0px 20px;
		bottom: 155px;
	}

	@include breakpoint($screen-medium) {
		width: 1200px;				
		padding: 0px 20px;
	}
	li {
		display: inline-block !important;
	}

	button {
		width: 16px;
		height: 16px;
		line-height: 16px;
		display: inline-block;
		border-radius: 50%;
		padding: 0px;
		margin: 0px 5px;
		background: transparent;
		border: 2px solid $white !important;
		font-size: 0;
		position: relative;
		border: 0px;
		cursor: pointer;
		
		&:hover {
			background: transparent;
		}		
	}

	.slick-active {

		button {						

	    	&::before {
		    	position: absolute;
	    		top: 4px;
	    	    left: 4px;
	    	    width: 4px;
	    	    height: 4px;
	    	    content: '';
	    	    text-align: center;				    	    
	    	    background: $white !important;
	    	    -webkit-font-smoothing: antialiased;
	    	    -moz-osx-font-smoothing: grayscale;
	    	    border-radius: 100%;
	    	}
		}
	}				
}

#woosw-area {

	.woosw-inner {

		.woosw-content {
			z-index: 1;
			position: relative;
			min-height: 300px;

			&::after {
				content: '';
				width: 100%;
				height: calc(100% + 10px);
				position: absolute;
				border: 0px;			
				top: -5px;
				left: 5px;
				z-index: -1;
				background: $base-yellow;
				@include transform(rotate(1deg));
			}
		
			.woosw-content-top {
				width: 100%;
				height: auto !important;
				line-height: 60px !important;
				background-color: $base-color;
				font-family: $heading-font-family;
				font-size: $base-font-size * 1.285;
				text-transform: capitalize;
				font-weight: normal;
				display: block;
				padding: 0 20px;

				&::before {
					content: '\f49d';
					font-family: 'Font Awesome 5 Pro';
					font-weight: 300;
					font-size: 18px;
					line-height: 100%;
					display: inline-block;
					vertical-align: middle;
					color: $white;
					margin-right: 5px;
					padding-bottom: 5px;						
				}

				.woosw-count {
					width: 14px;
					height: 14px;
					border-radius: 14px;
					line-height: 14px;
					text-align: center;
					background: $white;
					color: $base-color;
					font-family: $bold-font-family;
					font-size: $base-font-size * 0.714;
					display: inline-block;
					vertical-align: middle;
					margin-bottom:5px; 

					&::before, &::after {
						content: "";
						display: none;
					}
				}

				.woosw-close {
					width: 60px;
					height: 60px;
					line-height: 60px !important;

					&::before {
						content: '\f00d' !important;
						font-family: 'Font Awesome 5 Pro' !important;
						font-weight: 300 !important;
						font-size: 20px;
						color: $white;
						@include transition(all 100ms ease-out);
					}

					&:hover {
						
						&::before {
							color: $base-yellow;
						}
					}
				}
			}

			.woosw-content-mid {

				.woosw-content-items {
					width: 100%;
					height: auto;
					display: block;
					padding: 10px 0;

					.confere-item {
						width: 100%;
						height: auto;
						display: block;
						position: relative;
						padding: 10px 35px 10px 20px;

						&:hover {
							background: $gray-clean-f9;
						}

						.woosw-content-item--remove.briefing {
							display: none;
						}

						.woosw-content-item--remove {
							width: 16px;
							height: 16px;
							line-height: 14px !important;
							border-radius: 16px;
							display: block;
							color: $not-error;
							border: 1px solid $not-error;
							background: transparent;
							position: absolute;
							text-align: center;
							padding: 0;
							cursor: pointer;
							top: 10px;
							right: 20px;
							@include transition(all 150ms ease-in-out);

							&:hover {
								background: $not-error;
								color: $white;
							}
						}

						input {
							display: none;
						}

						label {
							width: 100%;
							height: auto;
							display: block;
							font-size: 0;

							.woosw-content-item--image {
								width: 100%;
								max-width: 60px;
								display: inline-block;
								vertical-align: middle;
								margin-right: 20px;

								@include breakpoint($mobile-large) {
									max-width: 80px;
								}

								img {
									width: 100%;
									height: auto;
									display: block;
								}
							}

							.woosw-content-item--content {
								width: calc(100% - 80px);
								display: inline-block;
								vertical-align: middle;
								font-size: $base-font-size;

								@include breakpoint($mobile-large) {
									width: calc(100% - 100px);
								}

								.confere-item-title {
									display: none;
								}

								.woosw-content-item--title {
									width: 100%;
									height: auto;
									display: block;
									margin-bottom: 5px;
									line-height: 100%;

									a {
										font-family: $base-font-family;
										font-size: $base-font-size * 0.857;
										color: $base-font-color;
										line-height: 120%;

										@include breakpoint($mobile-large) {
											font-size: $base-font-size;
										}
									}
								}

								.woosw-content-item--add {
									width: 100%;
									height: auto;
									display: block;

									.add_to_cart_inline {
										width: 100%;
										height: auto;
										display: block;
										padding: 0 !important;
										border: 0 !important;
										margin: 0;

										span.price_range {
											width: 100%;
											height: auto;
											display: block;
											font-size: $base-font-size * 0.857;
											line-height: 100%;
											color: $base-gray-99;
											margin-bottom: 5px;

											del {
												width: auto;
												display: inline-block;
												margin-bottom: 0;
												opacity: 1 !important;

												&::before, &::after {
													display: none;
												}

												.woocommerce-Price-amount {
													font-size: $base-font-size * 0.857;
													line-height: 100%;
													color: $not-error;
													display: inline-block;
													text-decoration: line-through;

													span.woocommerce-Price-currencySymbol {
														margin-right: 0;
													}
												}
											}
										}

										del {
											width: 100%;
											height: auto;
											margin-bottom: 5px;
											color: $base-gray-99;
											text-decoration: none;
											font-size: $base-font-size * 0.857;
											line-height: 100%;
											display: block;
											opacity: 1 !important;

											&::before {
												content: "DE: ";
												font-size: $base-font-size * 0.857;
												color: $base-gray-99;
												text-decoration: none !important;
											}

											&::after {
												content: " POR:";
												font-size: $base-font-size * 0.857;
												color: $base-gray-99;
												text-decoration: none !important;
											}

											.woocommerce-Price-amount {
												font-size: $base-font-size * 0.857;
												color: $not-error;
												display: inline-block;
												text-decoration: line-through;

												span.woocommerce-Price-currencySymbol {
													margin-right: 0;
												}
											}
										}

										ins {
											width: 100%;
											height: auto;
											display: block;
											text-decoration: none;

											.woocommerce-Price-amount {
												font-family: $bold-font-family;
												font-size: $base-font-size * 1.142;
												line-height: 100%;
												display: block;
												text-align: left;
												color: $base-blue;
												text-decoration: none;

												span.woocommerce-Price-currencySymbol {
													margin-right: 5px;
												}				
											}
										}

										.woocommerce-Price-amount {
											font-family: $bold-font-family;
											font-size: $base-font-size * 1.142;
											display: block;
											text-align: center;
											color: $base-blue;
											text-decoration: none;

											span.woocommerce-Price-currencySymbol {
												margin-right: 5px;
											}				
										}

										a.add_to_cart_button {
											display: none;
										}
									}
								}
							}
						}

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}

			.woosw-content-bot {
				width: 100%;
				height: 60px !important;
				line-height: 60px !important;
				padding: 0 20px;
				background-color: $base-color;
				text-transform: none;

				.woosw-page {

					a {
						color: $base-yellow;
						font-family: $bold-font-family;
						font-size: $base-font-size * 0.714;
						@include transition(all 150ms ease-in-out);

						@include breakpoint($mobile-small) {
							font-size: $base-font-size * 0.857;
						}

						@include breakpoint($mobile-large) {
							font-size: $base-font-size;
						}

						&::before {
							content: "\f0d9";
							font-family: 'Font Awesome 5 Pro';
							font-style: normal;
							font-weight: 900;
							margin-right: 5px;
							color: $base-yellow;
							@include transition(all 150ms ease-in-out);
						}

						&:hover {
							color: $white;

							&::before {
								color: $white;
							}
						}
					}
				}

				.woosw-continue {
					color: $base-yellow;
					font-family: $bold-font-family;
					font-size: $base-font-size * 0.714;
					@include transition(all 150ms ease-in-out);

					@include breakpoint($mobile-small) {
						font-size: $base-font-size * 0.857;
					}

					@include breakpoint($mobile-large) {
						font-size: $base-font-size;
					}

					&::after {
						content: "\f0da";
						font-family: 'Font Awesome 5 Pro';
						font-style: normal;
						font-weight: 900;
						margin-left: 5px;
						color: $base-yellow;
						@include transition(all 150ms ease-in-out);
					}

					&:hover {
						color: $white;

						&::after {
							color: $white;
						}
					}
				}

				.woosw-notice {
					line-height: 60px !important;
					height: 60px !important;
					top: 60px !important;
				}
			}
		}
	}
}