//
// layouts/footer.scss
//

footer#footer {
	width: 100%;
	height: auto;	
	background: $white;
	display: block;

	.footer-social {
		width: 100%;
		height: auto;
		display: block;
		text-align: center;
		padding: 30px 0;
		border-bottom: 2px solid $base-border-gray;

		ul {
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				padding: 0px 15px;

				a {
					line-height: 100%;
					display: block;
					@include transition(all 150ms ease-in-out);

					.fab {
						font-size: 20px;
						line-height: 20px;
						color: $base-orange;

						@include breakpoint($mobile-large) {
							font-size: 25px;
							line-height: 25px;
						}
					}

					&:hover {
						
						.fab {
							color: $base-color;
						}
					}
				}
			}
		}
	}

	.footer-container {
		width: 100%;
		height: auto;
		display: block;
		position: relative;

		.footer-content {
			width: 100%;
			height: auto;
			display: table;
			border-bottom: 2px solid $base-border-gray;
			padding: 50px 0;

			@include breakpoint($mobile-large) {
				padding: 50px;			
			}

			.column {
				width: 100%;
				height: auto;
				display: block;
				text-align: center;
				margin-bottom: 30px;

				@include breakpoint($mobile-large) {
					@include span(4.75);		
					text-align: left;		
					margin-bottom: 0;
				}

				&.small {
					width: 100%;
					height: auto;
					display: block;

					@include breakpoint($mobile-large) {
						@include span(2.5);
					}
				}
				
				h5 {
					font-family: $bold-font-family;
					font-size: $base-font-size * 1.142;
					color: $base-gray-b3;
					display: block;
					margin-bottom: 20px;
					
					@include breakpoint($mobile-large) {
						font-size: $base-font-size * 1.142;
					}

					@include breakpoint($screen-medium) {
						font-size: $base-font-size * 1.428;
					}
				}

				p {
					color: $base-gray-b3;
					font-size: $base-font-size;
					font-family: $base-font-family;
					line-height: $base-small-line-height;
				}

				ul.footer-about {
					width: 100%;
					height: auto;
					display: block;
					padding: 0;
					margin: 0;

					li {
						display: inline-block;
						margin-right: 10px;

						@include breakpoint($mobile-large) {
							display: block;
							margin-bottom: 5px;
						}

						a {
							color: $base-gray-b3;							
							font-size: $base-font-size;
							font-family: $base-font-family;
							display: inline-block;
							@include transition(all 150ms ease-in-out);

							@include breakpoint($screen-small) {
								font-size: $base-font-size * 1.142;
							}

							&:hover {
								color: $base-color;
							}
						}

						&:last-child {
							margin-right: 0;
						}
					}
				}

				ul.footer-info {
					width: 100%;
					height: auto;
					display: block;
					margin-bottom: 10px;

					li {
						font-family: $base-font-family;
						font-size: $base-font-size;
						display: block;
						margin-bottom: 10px;
						color: $base-gray-b3;							

						.fas {		
							font-size: 20px;
							line-height: 20px;						
							margin-right: 10px;
							color: $base-gray-b3;				
							display: inline-block;
							vertical-align: middle;
						}
					}
				}			

				
				figure.pagamento-e-seguranca {
					width: 100%;
					height: auto;
					display: inline-block;
					position: relative;
					margin-bottom: 20px;
					max-width: 300px;

					img {
						width: 100%;
						height: auto;
						display: block;
					}
				}

				figure.verificado-e-protegido {
					width: 100%;
					height: auto;
					display: inline-block;
					position: relative;
					max-width: 160px;	

					img {
						width: 100%;
						height: auto;
						display: block;
					}
				}

				
				.footer-newsletter {
					width: 100%;
					height: auto;
					display: block;

					.form-group {
						width: 100%;
						height: auto;
						display: block;
						position: relative;
						margin-bottom: 10px;

						.btn-clean {
							width: 100%;
							background: $base-orange-clean;
							color: $white;
							border: 0;

							&:hover {
								background: $base-color;
								@include transition(all 100ms ease-in);
							}
						}
					}
				}

				&:last-child {
					margin-bottom: 0;

					@include breakpoint($mobile-large) {
						@include span(4.75 last);				
					}
				}
			}
		}

		.footer-contato {
			width: 100%;
			height: auto;
			display: block;
			position: relative;
			text-align: center;
			padding: 20px 0;

			ul {
				width: 100%;
				height: auto;
				display: block;
				padding: 0;
				margin: 0;

				li {
					display: inline-block;
					vertical-align: middle;
					padding: 0 20px;
					font-family: $base-font-family;
					font-size: $base-font-size * 1.142;
					color: $base-gray-b3;

					@include breakpoint($mobile-large) {
						font-size: $base-font-size * 1.285;
					}

					.fab, .fal {
						color: $base-gray-99;
						font-size: 20px;	
						margin-right: 10px;
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}
	}

	.footer-copyright {
		width: 100%;
		height: auto;
		display: block;
		text-align: center;
		border-top: 1px solid $base-border-gray;

		a {
			color: $base-gray-light;
			font-size: $base-font-size * 0.857;
			font-family: $base-font-family;
			line-height: 50px;
			@include transition(all 150ms ease-in-out);   

			&:hover {
				color: $base-orange;					
			}
		}
	}
}