//
// layouts/general.scss
//

* {
	box-sizing: border-box;
	outline: none;
}

html, body {
	height:100%;
	min-height:100%;
	background:$base-background-color;
	margin: 0px !important;	
}

@include selection {
	background: $base-yellow;
	color: $white;
}

a {
	color: $base-color;

	&:hover {
		color: $base-color;
	}

	&:active {
		color: $base-color;
	}
}

#container {
	width:100%;
	min-height:100%;
	position:relative;
	overflow: hidden;
}

header, section, footer, aside, nav, article, figure, img {
	display: block;
	margin:0;
	padding:0;
}

.wrap {
	@include container(90%);
	@include clearfix;

	@include breakpoint($screen-medium) {
		@include container;
	}
}

section {
	width:100%;
	height:auto;
	position:relative;
}

h2.trail-browse{
	display: none !important;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.color {
	color: $base-color !important;
}