//
// layouts/header.scss
//

header#header {
	width: 100%;
	height: auto;
	display: block;
	position: fixed !important;
	z-index: $index-5 !important;
	background-color: $white;
	top: 0 !important;
	left: 0;
	@include backface-visibility(hidden);
	@include transition(all 150ms ease-in-out);

	.header-top {
		width: 100%;
		height: auto;
		display: block;
		position: absolute;
		top: 0;
		background: $base-yellow;
		padding: 0 50px;
		@include transition(all 150ms ease-in-out);

		@include breakpoint($mobile-large) {
			position: relative;
		}

		@include breakpoint($screen-medium) {
			padding: 0 100px;
		}

		.header-top-container {
			width: 100%;
			height: auto;
			display: block;
			font-size: 0;
			padding: 0;
			margin: 0;

			.column {
				width: 100%;
				height: auto;
				font-size: $base-font-size;
				text-align: left;

				@include breakpoint($mobile-medium) {
					width: 50%;
					display: inline-block;
					vertical-align: middle;
				}

				.header-top-social {
					width: 100%;
					height: auto;
					display: none;

					@include breakpoint($mobile-medium) {
						display: block;
					}

					ul {
						width: 100%;
						height: auto;
						display: block;
						font-size: 0;

						li {
							max-height: 30px;
							font-size: $base-font-size;
							display: inline-block;
							vertical-align: middle;
							margin-right: 15px;

							a {
								display: block;
								color: $white;
								font-size: $base-font-size * 0.857;
								font-family: $bold-font-family;
								line-height: 30px;
								@include transition(all 150ms ease-in-out);

								span, .fal, .fab {
									display: inline-block;
									vertical-align: middle;
								}

								.fal, .fab {
									font-size: $base-font-size * 1.071;
									line-height: 30px;
								}

								&:hover {
									color: $base-color;
								}
							}

							&.header-top-social-blog {
								position: relative;
								padding-left: 15px;
								
								.fal {
									margin-right: 5px;
								}

								&::before {
									content: '';
									width: 1px;
									height: 12px;
									display: block;
									background: lighten($base-yellow, 8);
									position: absolute;
									left: 0;
									top: 8px;		
								}

								&::after {
									content: '';
									width: 1px;
									height: 12px;
									display: block;
									background: darken($base-yellow, 5.5);	
									display: inline-block;
									position: absolute;
									left: 1px;
									top: 8px;
								}
							}

							&:last-child {
								margin-right: 0;
							}
						}
					}
				}				

				.header-top-cart {
					width: 100%;
					display: block;
					text-align: center;
					position: relative;

					@include breakpoint($mobile-medium) {
						text-align: right;
					}
					
					ul {
						width: 100%;
						height: auto;
						position: relative;
						display: block;

						li {
							display: inline-block;
							vertical-align: middle;							
							margin-left: 20px;

							@include breakpoint($mobile-large) {
								position: relative;
							}

							&:first-child {
								margin-left: 0;
							}

							a {
								color: $white;
								display: block;
								font-family: $bold-font-family;
								font-size: $base-font-size * 0.857;
								cursor: pointer;
								@include transition(all 150ms ease-in-out);

								span, .fal {
									display: inline-block;
									vertical-align: middle;
									
								}

								span {
									margin-right: 5px;
								}

								.fal {
									font-size: $base-font-size * 1.071;
									line-height: 30px;
								
								}						
							}

							&.header-wall-lover {

								.header-wall-lover-submenu {
									width: 250px;
								    height: auto;
								    position: absolute;
									visibility: hidden;
									opacity: 0;								    
								    top: 90%;		   
								    right: 0px;
								    padding: 10px 0px 15px 0px;
								    z-index: $index-1;					    

								    &::before {
								    	content: '';
								    	display: block;
								    	background: $base-yellow;
								    	height: 15px;
								    	width: 15px;
								    	position: absolute;
								    	top: 3px;
								    	right: 30px;
								    	z-index: -1;
								    	@include transform(rotate(45deg));
								    }    

								    &:first-child {
								    	display: block;
								    }

								    ul {
								    	width: 100%;
								    	height: auto;
								    	display: block;
								    	background: $white;
								    	padding: 15px 0px;	
								    	box-shadow: 4px 4px 15px rgba(0,0,0, .09) !important;
								    	position: relative;

								    	&::after {
								    		content: '';
								    		width: 100%;
								    		height: 97%;
								    		display: block;
								    		position: absolute;
								    		top: 7px;
								    		margin: auto;
								    		background: $base-yellow;
								    		z-index: -1;
								    	}

								    	li {
								    		width: 100%;
										    height: auto;
										    display: block;
										    margin: 0 !important;
										    padding: 5px 20px 5px 30px;
										    text-align: left;
										    position: relative;
										    z-index: 10;

										    &::before {
										      	content: "\f0da";
										      	font-family: 'Font Awesome 5 Pro';
										      	font-size: $base-font-size * 0.900 !important;
										      	display: block;
										      	float: left;
										      	font-weight: 300;
										      	padding: 0px 6px 0px 0px;
										      	color: $base-yellow; 
										      	line-height: 22px;   	  					    	    
										    }

										    a {
										    	width: 100%;
									    	    height: auto;
									    	    display: block;
									    	    line-height: 22px !important; 		    	    
									    	    margin: 0;
									    	    padding: 0;
									    	    font-size: $base-font-size * 0.928;
									    	    font-family: $base-font-family !important;
									    	    color: $base-yellow !important;									
										    }

										    &:hover {

										    	&::before {
										    		font-weight: 900;
										    		color: $base-color;
										    	}

										    	a {
										    		color: $base-color;
										    	}
										    }
								    	}
								    }
								}

								&:hover {

									a {
										color: $base-color;
									}

									.header-wall-lover-submenu {				
										top: 100%;						
										visibility: visible !important;
										opacity: 1 !important;								
										@include animation-delay(2s);
										@include transition(all 300ms ease-in-out);
										@include animation( 0.4s cubic-bezier(0.5, 0.3, 0.3, 1) 0.15s both);
										@include keyframes(wall_lover) {
											0% {
												opacity: 0;
												top: 90%;
												visibility: hidden !important;
											}

											100% {										
												opacity: 1;
												top: 100%;
												visibility: visible !important;
											}
										}								

										ul {
											
											&::after {
												content: '';
												@include transform(rotate(-2.5deg));
												@include animation-delay(2s);
												@include transition(all 600ms ease-in-out);
												@include animation( 0.3s cubic-bezier(0.5, 0.3, 0.3, 1) 0.15s both);
												@include keyframes(wall_lover_after) {
													0% {
														@include transform(rotate(0deg));
													}

													100% {
														@include transform(rotate(-2.5deg));
													}
												}
											}
										}
									}
								}
							}

							&.header-wall-cart {
								width: auto;
								height: auto;
								display: inline-block;
								position: relative;

								.header-wall-cart-count {
									display: inline-block;
									vertical-align: middle;
									background-color: $white;
									color: $base-yellow;
									font-size: $base-font-size * 0.714;
									width: 16px;
									height: 16px;
									border-radius: 16px;
									line-height: 16px;
									text-align: center;
									@include animation-delay(0ms);
									@include transition(all 150ms ease-in-out);
								}

								.wall-cart {
									width: 290px;
									top: 150%;
									right: -45px;
									visibility: hidden;	
									opacity: 0;							
									background: transparent;
									padding-top: 10px;		
								    height: auto;
								    position: absolute;							
									z-index: $index-9;	
									@include animation-delay(50ms);
									@include transition(all 50ms ease-in-out);

									@include breakpoint($mobile-medium) {
										right: -15px;
									}

									@include breakpoint($mobile-large) {
										top: 80%;
										right: 0px;
										width: 300px;
									}

									&::after {
										content: '';
										width: 100%;
										height: 98%;
										display: block;
										position: absolute;
										top: 15px;
										margin: auto;
										background: $base-color;
										z-index: -1;
										@include transform(rotate(0deg));					  
										@include animation-delay(250ms);
										@include transition(all 250ms ease-in-out);
									}

									&::before {
										content: '';
										display: block;
										background: $base-yellow;
										height: 15px;
										width: 15px;
										position: absolute;
										top: 3px;
										right: 20px;
										z-index: 10;
										@include transform(rotate(45deg));

										@include breakpoint($mobile-large) {
											right: 40px;		
										}
									}

									.wall-cart-wrap {
										padding: 0px;
									    background: $white;
									    box-shadow: 4px 4px 15px rgba(0,0,0,.09) !important;
									    	
								    	.wall-cart-title {
								    		width: 100%;
								    		height: 60px;
								    		background: $base-yellow;
								    		display: block;
								    		padding: 0 20px;
								    		border-bottom: 4px solid darken($base-yellow, 8);
								    		position: relative;
								    		text-align: left;
								    		vertical-align: middle;    		

											i {				
												margin-left: 5px;
												color: $white;
												font-size: $base-font-size * 1.220;
											}

											span {
												display: inline-block;
												vertical-align: middle;
												position: relative;
												color: $white;
												font-family: $base-font-family;
												font-size: $base-font-size * 1.200;
												line-height: 60px;
											}							    		
								    	}

									    .wall-cart-container {
											width: 100%;
											height: auto;
											display: block;

											.wall-cart-content {
												width: 100%;
												height: auto;
												padding: 0;
												margin: 0;
												max-height: 310px;	
												min-height: 200px;			
												overflow-y: scroll !important;
												overflow-x: hidden;
												position: relative;
												display: block;

												.wall-cart-box {
													width: calc(100% - 5px);
													height: auto;
													display: block;	
													padding: 15px 20px;
													margin-left: 5px;
													font-size: 0;			
													border-top: 1px solid $gray-clean-f1;
													position: relative;		
													overflow: hidden;
													@include transition(all 150ms ease-in-out);

											    	.wall-cart-box-image {
											    		width: 40px;
											    		height: auto;
											    		margin-right: 10px;		    		
											    		display: inline-block;
											    		vertical-align: middle;	

														a {
															display: block;

															img {
																width: 100%;
																height: auto;
																display: block;
															}
														}
											    	}

											    	.wall-cart-box-title {
													    width: calc(100% - 50px);
													    display: inline-block;
													    vertical-align: middle;

											    		.wall-cart-box-title-text {
											    			width: 100%;
											    			height: auto;
											    			display: block;
											    			text-align: left;

											    			a {				    			
											    				color: $base-gray !important;
											    				font-family: $base-font-family !important;
											    				font-size: $base-font-size * 0.857;
											    				line-height: $base-small-line-height;
											    				text-align: left;				    						
											    				white-space: nowrap; 
											    			    overflow: hidden;
											    			    text-overflow: ellipsis;	
											    			    display: block;																				
											    			}
											    		}

										    	    	.wall-cart-box-qtde {
										    	    		width: 100%;
										    	    		height: auto;
										    	    		display: block;
										    	    		position: relative;
										    	    		font-family: $base-font-family;
										    	    		font-size: $base-font-size * 0.857;
										    	    		color: $base-blue;
										    	    		text-align: left;
										    	    	}
											    	}

											    	.wall-cart-remove-itens {
											    		width: 16px;
											    		height: 16px;
											    		right: 5px;
											    		top: 16px;
											    		position: absolute;
											    		display: block;
											    		z-index: $index-1;

											    		a.remove {
										    				width: 16px;
										    				height: 16px; 
										    				line-height: 14px !important;	  
										    				border-radius: 16px;  				
										    				display: block;
										    				color: $not-error;
										    				border: 1px solid $not-error;
										    				background: transparent;
										    				position: relative;									    
										    			    text-align: center;	    			    
										    			    padding: 0px;
										    			    @include transition(all 150ms ease-in-out);

							    		    			    .fal {
							        					        font-size: $base-font-size * 0.714 !important;
							        					        line-height: 100% !important;
							        					    }

										    			    &:hover {												
										    			    	background: $not-error;

										    			    	.fal {
																	color: $white !important;
										    			    	}
										    			    }
											    		}
											    	}

											    	&:hover {
											    		background: $gray-clean-f9;
											    	}
											    }
											}

											.wall-cart-empty {
												width: 100%;
												height: auto;			    	
												text-align: center;
												padding: 50px 15px;
												display: block;

												@include breakpoint($mobile-large) {					
													padding: 50px 25px;
												}

												.fal {
													color: $base-gray-clean;
													font-size: 40px;
													display: block;
													margin-bottom: 15px;

													@include breakpoint($mobile-large) {					
														font-size: 50px;
													}
												}

												p {
													line-height: 140%;
													font-size: $base-font-size * 1.142;
													color: $base-gray;
													margin-bottom: 0;

													@include breakpoint($mobile-large) {					
														font-size: $base-font-size * 1.285;
													}
												}
											}

									    	.wall-cart-total {
									    		width: 100%;
									    		height: auto;
									    		padding: 20px;
									    		display: block;				
									    		background: $gray-clean-f1;							    		
									    		border-top: 4px solid darken($gray-clean-f1, 5);
									    		text-align: center;
									    		position: relative;
									    		line-height: 100%;
									    		font-family: $base-font-family;
									    		font-size: $base-font-size;
									    		z-index: 10;

												p {
													margin: 0;

										    		.woocommerce-Price-subtotal {
										    		 	font-family: $base-font-family;
										    		 	font-size: $base-font-size;
										    		 	line-height: $base-font-size * 1.2857;
										    		 	text-transform: uppercase;
										    		 	color: $gray-light;
										    		 	margin-right: 5px;
										    		}

										    		.woocommerce-Price-amount {
										    		 	font-family: $bold-font-family;
										    		 	font-size: $base-font-size * 1.2857;
										    		 	line-height: $base-font-size * 1.2857;
										    		 	color: $base-blue;		
										    		 	text-transform: uppercase;
										    		}
										    	}		    	
									    	}
									    }

								    	.wall-cart-load {
								    		width: 100%;
								    		height: 100%;
								    		position: absolute;
								    		text-align: center;
								    		top: 0;
								    		left: 0;
								    		display: block;
								    		z-index: $index-1;
								    		cursor: progress;
								    		background: rgba(255,255,255, 0.5);

								        	&::before {
								        		content: "\f110";
								        		font-family: 'Font Awesome 5 Pro';
								        	    display: inline-block;
								        	    font-size: 30px;   	    
								        	    line-height: 30px;
								        	    display: block;
								        	    position: absolute;
								        	    top: 50%;
								        	    left: 50%;
								        	    margin-left: -15px;
								        	    margin-top: -15px;
								        	    color: $base-yellow;
								        	    z-index: 1;
								        	    @include animation(fa-spin .75s linear infinite); 
								        	}
								        }

								        .wall-cart-buy {
								        	width: 100%;
								        	height: auto;
								        	display: block;
								        	margin: auto;
								        	position: relative;
								        	text-align: center;
								        	padding: 10px 20px 0 20px;

								        	.btn-sing {

								        		span {
								        			color: $white;

								        			.fal {
								        				color: $white;
								        			}
								        		}

								        		&::before {
								        			background: $base-blue;
								        			@include transform(rotate(0deg));
								        			left: 5px;
								        		}

								        		&::after {
								        			background: $base-blue-green;
								        			@include transform(rotate(-1.5deg));
								        			left: 0;
								        			top: 0;
								        		}

								        		&:hover {
								        			
								        			&::before {
								        				background: $base-blue-green !important;
								        			}

								        			&::after {
								        				background: $base-blue !important;
								        			}	

								        			span {
								        				color: $white;

								        				.fal {
								        					color: $white;
								        				}
								        			}										
								        		}
								        	}
								        }

								        .wall-cart-meu-kit {
								        	width: 100%;
								        	height: auto;
								        	display: block;
								        	margin: auto;
								        	position: relative;
								        	text-align: center;
								        	padding: 10px 20px;

								        	.btn-sing {

								        		span {
								        			font-family: $heading-font-family;
								        			font-size: $base-font-size * 1.142;
								        			text-transform: none;
								        			color: $white;

								        			.fal {
								        				font-size: 18px;
								        				display: inline-block;
								        				vertical-align: middle;
								        				color: $white;
								        			}
								        		}
								        	}			        	
								        }

									    ::-webkit-scrollbar-track {
									        background: transparent;				    
									        margin-top: 0px;
									    }
									    ::-webkit-scrollbar {
									        width: 5px;
									        background: transparent;				    
									        margin-top: 0px;
									    }
									    ::-webkit-scrollbar-thumb {
									        background: #e6e6e6;
									        margin-top: 8px;
									    }							    
									}

									.woocommerce-wall-cart__empty-message {
										padding: 20px;
										margin: 0px 0px 15px 0px;		
										text-align: center;
										font-family: $base-font-family;
										font-size: $base-font-size;	
										border-bottom: 1px solid $gray-clean-f1;	
									}

									&.open-wall-cart {
										top: 230% !important;
										right: -45px !important;
										opacity: 1 !important;
										visibility: visible !important;

										@include breakpoint($mobile-medium) {
											right: -15px !important;
										}

										@include breakpoint($mobile-large) {
											opacity: 0 !important;
											visibility: hidden !important;
											top: 80% !important;
										}	

										@include animation-delay(2s);
										@include transition(all 300ms ease-in-out);
										@include animation( 0.3s cubic-bezier(0.5, 0.3, 0.3, 1) 0s both);
										@include keyframes(wall_cart) {
											0% {
												opacity: 0;
												top: 90%;
												visibility: hidden !important;
											}

											100% {
												opacity: 1;
												top: 100%;							
												visibility: visible !important;											
											}
										}								

										&::after {
											content: '';
											opacity: 1;
											@include transform(rotate(-1deg));
											@include animation-delay(2s);
											@include transition(all 300ms ease-in-out);
											@include animation( 0.2s cubic-bezier(0.5, 0.3, 0.3, 1) 0.15s both);
											@include keyframes(wall_cart_after) {
												0% {
													transform: rotate(0deg);
												}

												100% {
													transform: rotate(-1deg);
												}
											}
										}
									}
								}

								&:hover {

									a {
										color: $base-color;

										span, .fal {
											color: $base-color;
										}

										.header-wall-cart-count {
											background-color: $base-color;
											color: $base-yellow;
										}
									}

									@include breakpoint($mobile-large) {

										.wall-cart {
											top: 100% !important;
											opacity: 1 !important;
											visibility: visible !important;
											@include animation-delay(2s);
											@include transition(all 300ms ease-in-out);
											@include animation( 0.3s cubic-bezier(0.5, 0.3, 0.3, 1) 0s both);

											@include keyframes(wall_cart) {
												0% {
													opacity: 0;
													top: 90%;
													visibility: hidden !important;
												}

												100% {
													opacity: 1;
													top: 100%;							
													visibility: visible !important;											
												}
											}								

											&::after {
												content: '';
												opacity: 1;
												@include transform(rotate(-1deg));
												@include animation-delay(2s);
												@include transition(all 300ms ease-in-out);
												@include animation( 0.2s cubic-bezier(0.5, 0.3, 0.3, 1) 0.15s both);
												@include keyframes(wall_cart_after) {
													0% {
														transform: rotate(0deg);
													}

													100% {
														transform: rotate(-1deg);
													}
												}
											}
										}
									}
								}
							}	
						}
					}
				}
			}
		}
	}

	.header-bottom {
		width: 100%;
		height: auto;
		display: block;
		position: relative;
		background: $white;
		padding: 0 20px;
		border-bottom: 1px solid $gray-clean-f1;
		@include transition(all 150ms ease-in-out);

		@include breakpoint($mobile-medium) {
			padding: 0 50px;
		}

		@include breakpoint($screen-medium) {
			padding: 0 100px;
		}

		.header-bottom-container {
			width: 100%;
			height: auto;
			display: block;
			font-size: 0;

			.header-bottom-logo {
				width: 160px;				
				height: auto;
				display: inline-block;
				vertical-align: middle;				

				@include breakpoint($screen-small) {
					width: 180px;				
				}

				@include breakpoint($screen-medium) {
					width: 200px;					
				}

				a {
					display: block;
					padding: 15px 0px;

					@include breakpoint($mobile-large) {
						padding: 0px;				
					}

					img {
						width: 100%;
						height: auto;
						display: block;
					}
				}
			}

			.header-bottom-content {
				width: calc(100% - 160px);
				height: auto;
				display: inline-block;
				vertical-align: middle;
				font-size: 0;
				text-align: right;

				@include breakpoint($screen-small) {
					width: calc(100% - 180px);			
				}

				@include breakpoint($screen-medium) {
					width: calc(100% - 200px);				
				}

				.header-bottom-content-search {
					height: auto;
					display: none;		
					text-align: right;

					@include breakpoint($screen-small) {
						width: calc(100% - 535px);
						height: auto;
						display: inline-block;
						vertical-align: middle;
						padding: 0 30px;
					}

					@include breakpoint($screen-medium) {
						width: calc(100% - 555px);
						padding: 0 30px;
					}

					@include breakpoint($screen-large) {
						width: calc(100% - 600px);
						padding: 0 50px;
					}
					
					.header-bottom-content-search-form {
						width: 100%;
						height: auto;
						display: block;
						position: relative;
						font-size: 0;					

						.search-field {
							width: 100%;
							height: 40px;
							line-height: 40px;	
							display: block;
							outline: none;
							font-family: $base-font-family;
							font-size: $base-font-size * 0.857;
							color: $base-gray-light;
							border: 0;	
							padding: 0;
							padding-right: 40px;		
							border-bottom: 1px solid $base-yellow;
							@include transition(all 150ms ease-in-out);
							@include placeholder {
						    	color: $base-gray-light;		
							}

							@include breakpoint($screen-medium) {					
								font-size: $base-font-size * 1.142;
							}

							&:focus {
								border-bottom: 1px solid $base-color;
								outline: none;
							}
						}

						.search-submit {
							position: absolute;
							right: 0;
							top: 0;		
							border: 0;		
							padding: 0;
							margin: 0;		
							background: transparent;
							cursor: pointer;
							display: block;
							
							.fal {
								font-size: 20px;
								line-height: 30px;			
								color: $base-yellow;
								@include transition(all 150ms ease-in-out);

								&:hover {
									color: $base-color;
								}					
							}

							.search-submit-color {
								color: $base-color;
							}	
						}
					}
				}

				.header-bottom-content-nav {
					width: 100%;
					height: auto;
					display: block;
					text-align: right;

					@include breakpoint($screen-small) {
						width: 535px;
						display: inline-block;
						vertical-align: middle;
					}

					@include breakpoint($screen-medium) {
						width: 555px;
					}

					@include breakpoint($screen-large) {
						width: 600px;
					}

					ul {
						width: 100%;
						height: auto;
						display: none;
						font-size: 0;
						position: relative;

						@include breakpoint($mobile-large) {
							display: block;
						}

						li {
							display: inline-block;
							vertical-align: middle;
							position: relative;							
							margin-left: 25px;

							@include breakpoint($screen-medium) {
								margin-left: 30px;
							}

							@include breakpoint($screen-large) {
								margin-left: 35px;
							}

							&:nth-child(2) {

								@include breakpoint($screen-small) {
									margin-left: 0px !important;
								}
							}	

							&.search-mobile {
						 		cursor: pointer;
								margin-left: 0;

								&::before {
									content: "\f00e";
									font-family: 'Font Awesome 5 Pro';
									color: $base-yellow;
									font-size: 20px;
								}

								&.active {
									&::before {
										content: "\f010";
										color: $base-color;
									}
								}

								&:hover {

									&::before {
										color: $base-color;
									}
								}

								@include breakpoint($screen-small) {
									display: none;
								}
							}						

							a {
								font-family: $base-font-family;
								font-size: $base-font-size * 1.042;
								color: $base-yellow;		
								line-height: 100px;
								max-height: 100px;
								display: block;
								position: relative;
								// @include transition(all 150ms ease-in-out);

								@include breakpoint($screen-large) {
									font-size: $base-font-size * 1.142;
								}

								&::before {
									content: '\f107';
									font-family: 'Font Awesome 5 Pro';
									font-size: $base-font-size * 0.928;
									display: inline-block;
									vertical-align: middle;
									margin-right: 5px;
								}
							}

							&.meu-kit {
								padding: 0px;
								vertical-align: middle;				

								a {
									line-height: 50px !important;									
									color: $white;
									font-family: $heading-font-family;
									font-size: $base-font-size * 1.150;
									padding: 0px 25px;
									z-index: 1;
									@include transition(all 250ms ease-out);

									.fal {
										font-size: $base-font-size * 1.571;
										margin-right: 5px;
										color: $white;
										@include transition(all 250ms ease-out);
									}

									&::after {
										content: "";										
										width: 100%;
										height: 100%;
										display: block;
										position: absolute;
										background: $base-color;
										top: 0;
										left: 0;
										z-index: -1;
										@include transform(rotate(-1deg));	
										@include transition(all 250ms ease-out);
									}

									&::before {
										content: "";
										background: $base-yellow;
										border: 0px;
										width: 100%;
										height: 100%;
										position: absolute;
										top: 4px;
										left: 6px;
										z-index: -1;
										@include transition(all 250ms ease-out);
									}

									&:hover {
										color: $base-color;
										@include transition(all 100ms ease-in);	

										.fal {
											color: $base-color;
											@include transition(all 100ms ease-in);	
										}

										&::after {
											background: $base-yellow;	
											@include transition(all 100ms ease-in);								
										}

										&::before {
											background: $base-color;
											@include transition(all 100ms ease-in);	
										}															
									}						
								}
							}		

							.submenu {
								width: 270px;
							    height: auto;
							    position: absolute;
								visibility: hidden;
								opacity: 0;
							    background: $base-yellow;
							    box-shadow: 4px 4px 15px rgba(0,0,0,.09) !important;
							    top: 90%;		   
							    left: 50%;
							    padding: 20px 0px 15px 0px;
							    z-index: 0;								   
							    @include transform(translateX(-47%));

							    &::after {
							    	content: '';
							    	width: 100%;
							    	height: 99%;
							    	display: block;
							    	position: absolute;
							    	top: 1px;
							    	margin: auto;
							    	background: $white;
							    	z-index: -1;
							    	@include transform(rotate(0deg));						    							    						    	
							    }						    

							    &::before {
							    	content: '';
							    	display: block;
							    	background: $base-yellow;
							    	height: 15px;
							    	width: 15px;
							    	position: absolute;
							    	top: -6px;
							    	left: 45%;
							    	z-index: -1;
							    	@include transform(translateX(-50%));
							    	@include transform(rotate(45deg));
							    }

							    &:first-child {
							    	display: block;
							    }

							    ul {
							    	width: 100%;
							    	height: auto;
							    	display: block;

							    	li {
							    		width: 100%;
						    		    height: auto;
						    		    display: block;
						    		    margin: 0;
						    		    padding: 5px 20px 5px 20px;
						    		    margin-bottom: 10px;
						    		    text-align: left;
						    		    position: relative;
						    		    z-index: 10;

						    		    a {
						    		    	width: 100%;
					    		    	    height: auto;
					    		    	    display: block;
					    		    	    // line-height: 22px !important; 	
					    		    	    line-height: 100%;	    	    
					    		    	    margin: 0;
					    		    	    padding: 0;
					    		    	    font-size: $base-font-size * 0.928;
					    		    	    color: $base-yellow;		

    	   					    		    &::before {
    	       							      	content: "\f004";
    	       							      	font-family: 'Font Awesome 5 Pro';
    	       							      	font-size: $base-font-size * 0.714;
    	       							      	display: inline-block;
    	       							      	vertical-align: middle;
    	       							      	font-weight: 300;
    	       							      	margin-right: 5px;
    	       							      	color: $base-yellow;  					    	    
    	   					    		    }						
						    		    }

						    		    &:hover {

						    		    	a {
						    		    		color: $base-color;

						    		    		&::before {
						    		    			font-weight: 900;
						    		    			color: $base-color;
						    		    		}
						    		    	}
						    		    }

						    		    &:last-child {
											margin-bottom: 0;
						    		    }
							    	}
							    }

							    &.sub {
							    	
							    	ul {
							    		height: 340px;
							    		overflow-y: scroll;						    		
							    	}
							    }
							}						

							&:hover {

								a {
									color: $base-color;
								}

								.submenu {								
									top: 100%;						
									visibility: visible !important;
									opacity: 1 !important;								
									@include animation-delay(2s);
									@include transition(all 300ms ease-in-out);
									@include animation( 0.4s cubic-bezier(0.5, 0.3, 0.3, 1) 0.15s both);
									@include keyframes(submenu_dropdown) {
										0% {
											opacity: 0;
											top: 90%;
											visibility: hidden !important;
										}

										100% {										
											opacity: 1;
											top: 100%;
											visibility: visible !important;
										}
									}								

									&::after {
										content: '';
										@include transform(rotate(-2deg));
										@include animation-delay(2s);
										@include transition(all 600ms ease-in-out);
										@include animation( 0.3s cubic-bezier(0.5, 0.3, 0.3, 1) 0.15s both);
										@include keyframes(submenu_dropdown_after) {
											0% {
												@include transform(rotate(0deg));
											}

											100% {
												@include transform(rotate(-2deg));
											}
										}
									}
								}
							}
						}
					}

					::-webkit-scrollbar-track {
					    background: transparent;				    
					    margin-top: 0px;
					}
					::-webkit-scrollbar {
					    width: 5px;
					    background: transparent;				    
					    margin-top: 0px;
					}
					::-webkit-scrollbar-thumb {
					    background: #F4F4F4;
					    margin-top: 8px;
					}				
				}
			}

			.header-bottom-menu-mobile {
				width: calc(50% - 80px);
				display: inline-block;
				vertical-align: middle;

				@include breakpoint($mobile-large) {
					display: none !important;
				}

				.hamburger {
					height: auto;
					line-height: inherit;
					cursor: pointer;
					margin: 0;
					border: 0;
					box-sizing: border-box;

					&:hover {
						background: transparent;							
					}
				}
			}

			.header-bottom-wall-cart-mobile {
				width: calc(50% - 80px);				
				display: inline-block;
				vertical-align: middle;
				position: relative;
				text-align: right;

				@include breakpoint($mobile-large) {
					display: none;
				}

				.hover-social-cart {
					// display: block;
					cursor: pointer;

					.fal {
						color: $base-yellow;
						font-size: 30px;
						line-height: 30px;
						font-weight: 300;
						display: inline-block;
						vertical-align: top;
					}	

					.header-wall-cart-count {
						display: inline-block;
						vertical-align: top;
						background-color: $base-yellow; 
						color: $white;
						font-size: $base-font-size * 0.714;
						width: 16px;
						height: 16px;
						border-radius: 16px;
						line-height: 16px;
						text-align: center;
						position: relative;
						margin-left: -8px;
					}
				}

				&.active {

					.hover-social-cart {

						.fal {
							color: $base-color;
						}	

						.header-wall-cart-count {
							background-color: $base-color; 
							color: $white;
						}
					}
				}
			}
		}
	}

	.header-bottom-search-mobile {
		width: 100%;
		height: 60px;
		display: none;
		position: fixed;
		top: 130px;	
		z-index: -1;
		background: $white;
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.30);
		border-top: 1px solid $gray-clean-f1;
		@include transition(all 180ms ease-in-out);

		@include breakpoint($mobile-large) {
			display: block;
		}	

		@include breakpoint($screen-small) {
			display: none;
		}	

		.header-bottom-content-search-form {
			width: calc(100% - 40px);		
			height: auto;
			display: block;
			margin: 0 auto;
			text-align: center;
			position: relative;
			padding: 10px 0;

			@include breakpoint($mobile-medium) {					
				width: calc(100% - 100px);
			}

			@include breakpoint($screen-medium) {		
				width: calc(100% - 200px);
			}

			.search-field {
				width: 100%;
				height: 40px;
				line-height: 40px;
				padding: 0px 20px;
				display: block;
				outline: none;
				font-family: $base-font-family;
				font-size: $base-font-size * 1.071;
				color: $base-gray-light;			
				border: 0 ;			
				border-bottom: 1px solid $base-yellow;
				padding: 0;	
				@include transition(all 150ms ease-in-out);
				@include placeholder {
			    	color: $base-gray-light;				
				}

				&:focus {
					border-bottom: 1px solid $base-color;
					outline: none;
				}
			}

			.search-submit {
				height: 60px;		
				line-height: 60px;		
				right: 0;
				top: 0;						
				border: 0;
				padding: 0;
				cursor: pointer;
				position: absolute;
				background: transparent;

				.fal {
					font-size: 20px;						
					color: $base-yellow;
					@include transition(all 150ms ease-in-out);

					&:hover {
						color: $base-color;
					}					
				}

				.search-submit-color {
					color: $base-color;
				}
			}
		}

		&.mobile-hidden {
			visibility: hidden;
			opacity: 0;		
		}
	}
}