//
// layouts/home.scss
//

section.home-slider {
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	position: relative;
	max-height: 450px;

	@include breakpoint($mobile-large) {
		max-height: 550px;
	}

	.home-slider-item {
		width: 100%;
		height: auto;
		display: block;
		position: relative;

		.home-slider-item-container {
			width: 100%;
			height: 450px;		
			display: block;
			position: relative;
			overflow: hidden;

			@include breakpoint($mobile-large) {
				height: 550px;	
			}

			.home-slider-bg {
				width: 100%;
				height: 100% !important;
				background-repeat: no-repeat !important;
				background-position: center center !important;
				background-size: cover !important;
				position: absolute;		
				display: block;
				top: 0;
				left: 0;		
			}

			.home-slider-container {	
				width: 80%;
				height: auto;
				display: block;
				position: absolute;
				top: calc(50% - 25px);
				left: 10%;
				@include transform(translateY(-50%));

				@include breakpoint($mobile-large) {
					top: calc(50% - 50px);
				}
				
				.home-slider-content {
					width: 100%;
					height: auto;
					display: block;						

					.home-slider-title {
						color: $white;
						font-family: $heading-font-family;
						line-height: $base-small-line-height;
						margin-bottom: 10px;
						font-size: $base-font-size * 1.681;
						
						@include breakpoint($mobile-large) {
							font-size: $base-font-size * 2.0;
						}
						
						@include breakpoint($screen-small) {
							font-size: $base-font-size * 2.279;
						}	
					}						

					.home-slider-desc {
						width: 100%;
						color: $white;							
						font-size: $base-font-size;
						font-family: $base-font-family;
						line-height: $base-line-height;	
						margin-bottom: 30px;

						@include breakpoint($mobile-large) {
							width: 60%;
						}	

						@include breakpoint($screen-medium) {
							width: 45%;
						}

						br {
							display: none;
							
							@include breakpoint($mobile-large) {
								display: block;
							}
						}

						p {
							margin-bottom: 0;
						}
					}

					.box-button {

						.btn-sing {

							&::before {
								 @include transform(rotate(0deg));
								 left: 5px;									 
							}

							&::after {
								 @include transform(rotate(-1.5deg));
								 left: 0;
								 top: 0;
							}			
						}
					}
				}
			}
		}
	}

	.slick-prev, .slick-next {
		width: 30px;	 
		top: calc(50% - 25px);
		@include transform(translateY(-50%));

		@include breakpoint($mobile-large) {
			width: 50px;
			top: calc(50% - 50px);
		}

		&::before {
			font-size: 30px;

			@include breakpoint($mobile-large) {
				font-size: 50px;
			}
		}
	}

	.slick-dots {
		width: 90%;
		height: auto;
		position: absolute;
		display: block;
		bottom: 70px;
		left: 5%;
		text-align: right;
		padding: 0;

		@include breakpoint($mobile-large) {
			bottom: 120px;
		}

		@include breakpoint($screen-medium) {
			width: 1200px;
			margin-left: -600px;
			left: 50%;
		}

		li {
			display: inline-block !important;
		}

		button {
			width: 16px;
			height: 16px;
			line-height: 16px;
			border-radius: 16px;
			display: inline-block;
			padding: 0px;
			margin: 0px 2.5px;
			background: transparent;
			border: 2px solid $white !important;
			font-size: 0;
			position: relative;
			border: 0;
			cursor: pointer;
			
			&:hover {
				background: transparent;
			}		
		}

		.slick-active {

			button {						

		    	&::before {
			    	position: absolute;
		    		top: 4px;
		    	    left: 4px;
		    	    width: 4px;
		    	    height: 4px;
		    	    content: '';
		    	    text-align: center;				    	    
		    	    background: $white !important;
		    	    -webkit-font-smoothing: antialiased;
		    	    -moz-osx-font-smoothing: grayscale;
		    	    border-radius: 100%;
		    	}
			}
		}				
	}
}

section.home-intro {
	width: 100%;
	height: auto;
	display: block;
	background: transparent;
	position: relative;
	margin-top: -50px;

	@include breakpoint($mobile-large) {
		margin-top: -100px;
	}	

	&::before {
		content: "";
		width: calc(90% + 10px);
		height: 150px;
		display: block;
	    position: absolute;	
	    background: $base-orange-clean;		    
	    z-index: 0;
	    top: -10px;
	    left: 50%;  
	    @include transform(rotate(-1deg) translateX(-50%));

	    @include breakpoint($mobile-medium) {
	    	width: calc(90% + 20px);
	    }

	    @include breakpoint($screen-medium) {
	    	width: 1220px;
	    }
	}

	&::after {
		content: "";
		width: 100%;
		height: calc(100% - 50px);
		display: block;
	    position: absolute;	
	    background: $base-yellow-clean;	  
	    z-index: 1;		
	    bottom: 0;
	    left: 0;  

	    @include breakpoint($mobile-large) {
	    	height: calc(100% - 100px);
	    }
	}

	.home-intro-container {
		width: 100%;
		height: auto;
		display: table;
		background: $base-yellow-clean;		
		position: relative;
		padding: 25px 15px 50px 15px;
		z-index: 2;

		@include breakpoint($mobile-medium) {
			padding: 25px 20px 50px 20px;
		}	

		@include breakpoint($mobile-large) {
			padding: 50px 40px;
		}	

		@include breakpoint($screen-small) {
			padding: 50px 80px 80px 80px;
		}
		
		.column {
			width: 100%;
			height: auto;
			display: block;
			margin-bottom: 30px;

			@include breakpoint($mobile-large) {
				@include span(7.5);
				padding-right: 20px;
			}

			@include breakpoint($screen-medium) {
				@include span(8);
				padding-right: 30px;
			}

			.home-intro-iframe {
				width: 100%;
				height: auto;
				display: block;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;					
					left: 10px;
					background: $base-gray-d1;					
					top: 0;
					z-index: 0;
					display: block;
					@include transform(rotate(1.5deg));	
				}

				iframe {
					width: 100%;
					height: 140px;
					top: 0;
					left: 0;
					display: block;
					position: absolute;
					z-index: 1;

					@include breakpoint($mobile-small) {
						height: 215px;
					}

					@include breakpoint($mobile-large) {
						height: 274px;
					}

					@include breakpoint($mobile-large) {
						height: 221px;
					}

					@include breakpoint($screen-small) {
						height: 244px;
					}

					@include breakpoint($screen-medium) {
						height: 360px;
					}

					&.show {
						position: relative;
					}
				}

				img {					
					width: 100%;
					height: auto;
					display: block;
					position: relative;
					z-index: 2;
				}

				.home-intro-active-video {
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					position: absolute;
					display: block;
					z-index: $index-1;
					text-align: center;
					cursor: pointer;
					z-index: 3;

					.fal {
						width: 100px;
						height: 100px;
						line-height: 100px;
						font-size: 30px;
						display: inline-block;
						color: $white;
						border: 1px solid transparent;
						border-radius: 100px;
						position: absolute;
						top: 50%;
						left: 50%;
						margin-left: -50px;
						margin-top: -50px;

					    &::after {
					    	content: "";
					    	width: 100%;
					    	height: 100%;
					    	border-radius: 50%;
					    	border: 1px solid $white;
					    	box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
					    	opacity: 0;
					    	position: absolute;
					    	top: 0;
					    	left: 0;
					    	display: none;
					    	@include transform(scale(0.9));
					    	@include transition(all 250ms ease-in);

					    	@include breakpoint($mobile-large) {
					    		display: block;
					    	}
					    }
					}

					&:hover {

						.fal {
							
							&::after {
								opacity: 1;
								@include transform(scale(1.1));
								@include transition(all 100ms ease-out);
							}
						}
					}
				}
			}

			h2 {
				color: $base-orange-clean;		
				font-family: $heading-font-family;
				line-height: $base-medium-line-height;
				margin-bottom: 20px;
			}

			p {
				color: $base-gray;
				margin-bottom: 20px;
			}

			.btn-sing {

				&::before {
					background: $base-orange-clean;
				}

				&::after {
					background: $base-gray-c8;
				}	

				&:hover {

					span {
						color: $base-orange-clean;

						.fal {
							color: $base-orange-clean;
						}
					}

					&::before {
						background: $white;
					}

					&::after {
						background: $base-orange-clean;
					}	
				}
			}

			&:last-child {
				width: 100%;
				margin-bottom: 0;

				@include breakpoint($mobile-large) {
					@include span(4.5 last);
					padding: 0;
					padding-left: 20px;
				}

				@include breakpoint($screen-medium) {
					@include span(4 last);
					padding-left: 30px;
				}
			}
		}
	}
}

section.home-destaques {
	width: 100%;
	height: auto;
	display: block;
	background: $white;
	padding: 50px 0px;

	@include breakpoint($mobile-large) {
		padding: 50px 0 100px 0;
	}

	.home-destaques-container {
		width: 95%;
		height: auto;
		display: block;
		position: relative;
		z-index: 1;

		@include breakpoint($mobile-large) {
			width: 90%;
		}

		.home-destaques-content {
			width: 100%;
			height: auto;
			display: table;
			position: relative;
			z-index: 2;
			padding: 50px 0;

			@include breakpoint($screen-medium) {
				padding: 100px 0;
			}

			.home-destaques-title {
				width: 100%;
				height: auto;
				display: block;
				position: relative;
				z-index: 2;
				margin-bottom: 30px;

				h3 {
					color: $white;
					font-size: $base-font-size * 1.800;
					text-align: center;
					font-family: $heading-font-family;
					margin: 0px 0px 40px 0px;
					line-height: $base-small-line-height;
					text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.04);

					@include breakpoint($mobile-large) {
						font-size: $base-font-size * 2.100;
						line-height: 100%;
					}

					span {
						color: #feffa5;					
					}
				}
			}

			.home-destaques-row {
				width: 80%;
				height: auto;
				display: block;
				font-size: 0;
				margin: 0 auto;

				@include breakpoint($mobile-medium) {
					width: 60%;
				}

				@include breakpoint($mobile-large) {
					width: 90%;
				}

				@include breakpoint($screen-small) {
					width: 70%;
				}

				.column {
					width: 100%;
					height: auto;
					display: block;
					margin-bottom: 50px;

					@include breakpoint($mobile-large) {
						@include span(4);
						float: none;
						display: inline-block;
						vertical-align: top;
						margin-bottom: 0;
					}

					.destaque-icon {
						width: 50px;
						height: 50px;
						border-radius: 50px;
						margin-right: 20px;
						text-align: center;
						background: $white;
						display: inline-block;
						vertical-align: top;

						.fal {
							font-size: 20px;
							line-height: 50px;
							color: $base-blue;						
						}
					}
					
					.destaque-desc {
						width: calc(100% - 70px);
						display: inline-block;
						vertical-align: top;
						font-size: $base-font-size;

						p {
							color: $white;
							font-size: $base-font-size;
							font-family: $base-font-family;		
							margin-bottom: 0px;
							line-height: $base-medium-line-height;
						}
					}

					&:last-child {
						width: 100%;
						height: auto;
						display: block;
						margin-bottom: 0;

						@include breakpoint($mobile-large) {
							@include span(4 last);
							float: none;
							display: inline-block;
							vertical-align: top;
							margin-bottom: 0;
						}
					}
				}
			}
		}

		&::before {
			content: "";
			position: absolute;
			width: 100%;	
			height: 100%;	
			left: 0;		
			top: 0;
			background: $base-blue;
			z-index: 1;
		}

		&::after {
			content: "";
			position: absolute;
			width: calc(100% + 15px);		
			height: 100%;	
			left: -5px;		
			top: 0;
			background: $base-blue-green;
			z-index: 0;
			@include transform(rotate(1deg));
		}
	}
}

section.home-lancamentos {
	width: 100%;
	height: auto;	
	background: $white;
	position: relative;
	padding-bottom: 50px;
	z-index: 0;

	@include breakpoint($mobile-small) {
      	padding-bottom: 60px;
	}	

	@include breakpoint($mobile-large) {
		padding-bottom: 40px;
	}

	.home-lancamentos-container {
		width: 100%;
		height: auto;
		display: inline-block;

		.home-lancamentos-description {
			width: 100%;
			height: auto;
			position: relative;
			display: block;
			text-align: center;

			h4 {
				font-size: $base-font-size * 1.857;
				color: $base-blue;
				background: $white;
				font-family: $heading-font-family;
				display: inline-block;
				padding: 0px 30px;				
				position: relative;
				z-index: 1;
				line-height: 100%;

				@include breakpoint($mobile-large) {
					font-size: $base-font-size * 2.757;
				}				
			}

			span {
				width: 100%;
				margin: auto;
				display: block;
				height: 3px;
				background: $base-blue;
				position: relative;
				margin-top: -30px;
				z-index: 0;	

				@include breakpoint($mobile-small) {
					width: 360px;
				}		
			}

			p {
				font-size: $base-font-size * 1.071;
				color: $base-gray-d1;
				font-family: $base-font-family;				
				line-height: $base-line-height;
				padding: 0px;
				margin: 20px 0px 60px 0px;
				text-align: center;
			}
		}
	}
}

section.call-to-action {
	width: 100%;
	height: auto;
	display: block;
	position: relative;

	.call-to-action-top {
		width: 100%;
		height: auto;
		display: block;
		background: $white;
		z-index: $index-1;
		position: relative;		
		border-top-left-radius: 80px;
		border-bottom-left-radius: 80px;
		border-top-right-radius: 80px;
		border-bottom-right-radius: 80px;
		margin: -60px auto auto auto;
		text-align: center;
		box-shadow: 0px 1px 1px $base-gray-clean;
		padding: 25px 25px 55px 25px;
		
		@include breakpoint($screen-small) {
			text-align: left;
			height: 120px;
			padding: 25px;
		}

		.column {
			@include span(12 inside nest);
			float: none;
			display: table;
		
			@include breakpoint($screen-small) {
				display: block;
				float: left;
				padding-left: 2%;
				@include span(4 inside nest);
			}	

			@include breakpoint($screen-medium) {
				padding-left: 4%;
			}			

			.icon {
				width: 100%;
				height: auto;

				@include breakpoint($screen-small) {
					width: 22%;
					float: left;
				}					

				.fal {
					font-size: 42px;
					color: $base-color;
					padding-top: 12px;
					margin: 30px 0px 10px 0px;

					@include breakpoint($screen-small) {
						margin: 0px;
					}
				}

				img {
					margin: 18px auto;

					@include breakpoint($screen-small) {
						margin: 14px 0px;
					}
				}
			}

			.description {
				width: 100%;
				height: auto;

				@include breakpoint($screen-small) {
					width: 78%;
					float: left;
				}	

				h3 {
					color: $base-color;
					font-family: $base-font-family;
					font-size: $base-font-size;
					margin: 0px;
				}

				p {
					color: $base-gray;
					margin: 0px 0px 20px 0px;
					line-height: 1.6;
					font-size: 13px;
					
					@include breakpoint($screen-small) {
						margin: 0;
					}	
				}
			}
		}

		@include breakpoint($screen-small) {

			.column-2 {
				padding-left: 2%;

				@include breakpoint($screen-small) {
					padding-left: 4%;
				}	
				
				@include breakpoint($screen-medium) {
					padding-left: 8%;
				}	

				&.column {
					.icon {
						width: 23%;
					}

					.description {
						width: 77%;
					}
				}
			}
		}	
	}
}

section.home-wall-talk {
	width: 100%;
	height: auto;
	display: block;
	background: url("assets/images/home-background-sobre-walldone.jpg") no-repeat center center;
	background-size: cover;		

	.home-wall-talk-container {
		width: 100%;
		height: auto;
		display: block;
		position: relative;
		overflow: hidden;

		.home-wall-talk-title {
			width: 100%;
			display: block;
			text-align: center;
			padding: 50px 0;

			@include breakpoint($mobile-large) {
				padding: 100px 0;
			}

			h4 {
				font-family: $heading-font-family;
				font-size: $base-font-size * 1.681;
				line-height: 100%;
				color: $white;
				display: inline-block;
				position: relative;
				z-index: 1;
				text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);	
				padding: 0px 30px;						
				margin-bottom: 10px;

				@include breakpoint($mobile-small) {
					font-size: $base-font-size * 2.0;
					padding: 0px 70px;		
				}

				@include breakpoint($screen-small) {
					font-size: $base-font-size * 2.279;
					padding: 0px 130px;	
				}

				&::before, &::after {
					content: '';
					width: 20px;
					height: 3px;
					display: block;	
					background: $white;
					position: absolute;
					top: 50%;
					margin-top: -1.5px;

					@include breakpoint($mobile-small) {
						width: 50px;
					}

					@include breakpoint($screen-small) {
						width: 80px;
					}
				}		

				&::before {
					left: 0;
				}

				&::after {
					right: 0;
				}
			}

			p {
				line-height: 100%;
				color: $base-yellow;			
				padding: 0;
				margin: 0;

				@include breakpoint($mobile-small) {
					font-size: $base-font-size * 1.285;
				}
			}
		}

		.home-wall-talk-content {
			width: 100%;
			height: auto;
			display: table;
			padding: 25px;
			background: $base-yellow-fefcc1;

			@include breakpoint($mobile-small) {
				padding: 50px;
			}

			@include breakpoint($mobile-large) {
				padding: 80px;
			}

			@include breakpoint($screen-small) {
				padding: 100px;
			}

			.column {
				width: 100%;
				text-align: center;
				margin-bottom: 50px;

				@include breakpoint($mobile-large) {
					@include span(5);
					text-align: left;
					margin-bottom: 0;
				}

				p {
					line-height: $base-larger-line-height;
					font-size: $base-font-size;
					margin-bottom: 30px;

					@include breakpoint($mobile-large) {
						font-size: $base-font-size * 0.857;
					}

					@include breakpoint($screen-small) {
						font-size: $base-font-size;
					}
				}

				.btn-sing {
					min-width: 250px;

					&::before {
						background: $base-orange-clean;
					}

					&::after {
						background: $base-gray-c8;
					}	

					&:hover {

						span {
							color: $base-orange-clean;

							.fal {
								color: $base-orange-clean;
							}
						}

						&::before {
							background: $white;
						}

						&::after {
							background: $base-orange-clean;
						}	
					}
				}

				figure {
					width: 100%;
					height: auto;
					display: inline-block;
					position: relative;
					max-width: 500px;

					img {
						width: 100%;					
						height: auto;
						display: block;
						position: relative;
						z-index: 1;
					}

					&::before {
						content: "";															
						height: 100%;
						width: 100%;
						position: absolute;
						left: 8px;				
						top: 0;
						z-index: 0;
						background: $base-yellow;			
						@include transform(rotate(1.5deg));
					}
				}

				&:last-child {
					width: 100%;
					text-align: center;
					margin-bottom: 0;

					@include breakpoint($mobile-large) {
						@include span(7 last);
					}
				}
			}
		}
	}
}

section.home-mais-vendidos {
	width: 100%;
	height: auto;	
	background: $base-yellow-fefcc1;
	position: relative;
	padding-bottom: 50px;
	z-index: 0;

	@include breakpoint($mobile-small) {
      	padding-bottom: 60px;
	}	

	@include breakpoint($mobile-large) {
		padding-bottom: 40px;
	}

	.home-mais-vendidos-container {
		width: 100%;
		height: auto;
		display: block;

		.home-mais-vendidos-description {
			width: 100%;
			height: auto;
			position: relative;
			display: block;
			text-align: center;

			h4 {
				font-size: $base-font-size * 1.857;
				color: $base-pink-clean;
				background: $base-yellow-fefcc1;
				font-family: $heading-font-family;
				display: inline-block;
				padding: 0px 30px;				
				position: relative;
				z-index: 1;
				line-height: 100%;

				@include breakpoint($mobile-large) {
					font-size: $base-font-size * 2.571;
				}				
			}

			span {
				width: 100%;
				margin: auto;
				display: block;
				height: 3px;
				background: $base-pink-clean;
				position: relative;
				margin-top: -30px;
				z-index: 0;	

				@include breakpoint($mobile-small) {
					width: 360px;
				}		
			}

			p {
				font-size: $base-font-size;
				color: $base-pink-clean;
				font-family: $base-italic-font-family;				
				line-height: $base-medium-line-height;
				padding: 0px;
				margin: 20px 0px 60px 0px;
				text-align: center;

				@include breakpoint($mobile-small) {
					font-size: $base-font-size * 1.214;
					line-height: $base-line-height;
				}					
			}
		}

		.common-list-products {
			display: block;
			width: 100%;
			height: auto;

			.common-list-products-box {
			
				ul.products {

					li {

						&::before {
							background: $base-orange-clean;				
						}	

						&:hover {

							&::before {
								background: $base-gray-d1;	
							}			
						}
						.woosw-btn{
							margin: 15px auto 0;
						}
					}
				}
			}
		}
	}
}

section.home-depoimentos {
	width: 100%;
	height: auto;
	display: block;
	background: $base-yellow-fefcc1;	
	padding-bottom: 50px;
	
	@include breakpoint($mobile-large) {
		padding-bottom: 100px;
	}

	.home-depoimentos-title {
		width: 100%;
		height: auto;
		position: relative;
		display: block;
		text-align: center;
		margin-bottom: 50px;

		@include breakpoint($mobile-medium) {
			padding: 0;
		}	

		h4 {
			font-family: $heading-font-family;
			font-size: $base-font-size * 2.0;
			line-height: 100%;
			color: $base-blue;
			display: inline-block;
			position: relative;
			z-index: 1;	
			padding: 0px 30px;						
			margin-bottom: 10px;

			@include breakpoint($mobile-small) {
				font-size: $base-font-size * 2.5;
				padding: 0px 70px;		
			}

			@include breakpoint($screen-small) {
				font-size: $base-font-size * 3.0;
				padding: 0px 130px;	
			}

			&::before, &::after {
				content: '';
				width: 20px;
				height: 3px;
				display: block;	
				background: $base-blue;
				position: absolute;
				top: 50%;
				margin-top: -1.5px;

				@include breakpoint($mobile-small) {
					width: 50px;
				}

				@include breakpoint($screen-small) {
					width: 80px;
				}
			}		

			&::before {
				left: 0;
			}

			&::after {
				right: 0;
			}
		}	

		p {
			font-family: $base-italic-font-family;	
			font-size: $base-font-size;			
			color: $base-gray-a6;
			margin-bottom: 0;

			@include breakpoint($mobile-small) {
				font-size: $base-font-size * 1.285;
			}				
		}
	}

	.home-depoimentos-wrap {
		width: 95%;
		max-width: 1600px;
		height: auto;
		margin: 0 0 0 auto;
		background: $base-blue;
		position: relative;

		@include breakpoint($mobile-large) {
			width: span(10);
		}

		.home-depoimentos-container {
			width: 100%;
			height: auto;
			display: block;
			position: relative;
			overflow: hidden;
			max-height: 700px;

			@include breakpoint($mobile-small) {
				max-height: 675px;
			}

			@include breakpoint($mobile-medium) {
				max-height: 380px;
			}

			@include breakpoint($mobile-large) {
				max-height: 375px;
			}

			@include breakpoint($screen-small) {
				max-height: 377px;
			}

			@include breakpoint($screen-medium) {
				max-height: 430px;
			}

			@include breakpoint($screen-large) {
				max-height: 560px;
			}

			.home-depoimentos-content {
				width: 100%;
				height: auto;
				display: block;
				position: relative;
				padding: 40px 20px 60px 20px;
				z-index: 2;
				background: $base-blue;

				@include breakpoint($mobile-small) {
					padding: 40px 40px 60px 40px;
				}

				@include breakpoint($mobile-medium) {
					padding: 40px 60px;
				}

				@include breakpoint($screen-small) {
					padding: 50px 80px;
				}

				.home-depoimentos-box {
					width: 100%;
					height: auto;
					display: block;
					font-size: 0;

					.column {
						width: 100%;
						height: auto;
						display: block;
						font-size: $base-font-size;
						text-align: center;
						margin-bottom: 30px;
							
						@include breakpoint($mobile-medium) {
							@include span(4);		
							float: none;
							display: inline-block;
							vertical-align: middle;	
							margin-bottom: 0;
						}	

						figure {
							width: 100%;
							height: auto;					
							display: inline-block;
							position: relative;
							max-width: 350px;

							@include breakpoint($mobile-medium) {
								max-width: inherit;
							}	

							img {
								width: 100%;
								height: auto;
								display: block;
								position: relative;
								z-index: 1;
							}

							&::before {
								content: "";															
								height: 100%;
								width: 100%;
								position: absolute;
								left: 8px;				
								top: 0;
								z-index: 0;
								background: $base-blue-green;			
								@include transform(rotate(1.5deg));
							}
						}
					
						.home-depoimentos-desc {
							width: 100%;
							height: auto;
							display: block;		
							position: relative;

							&::before {
								content: "\f10d";
								font-family: 'Font Awesome 5 Pro';
								font-weight: 300;
								font-size: 50px;
								line-height: 50px;
								color: $base-blue-green;
								position: absolute;
								top: -10px;
								left: -10px;
								z-index: 0;
								opacity: 0.7;
							}

							p {
								font-family: $base-italic-font-family;
								line-height: $base-large-line-height;
								color: $white;
								font-size: $base-font-size;
								margin-bottom: 30px;
								position: relative;
								z-index: 1;

								@include breakpoint($screen-medium) {
									font-size: $base-font-size * 1.285;
								}						
							}

							h6 {
								color: $white;
								font-size: $base-font-size * 1.150;
								font-family: $bold-font-family;		
								margin-bottom: 0px;
								line-height: $base-medium-line-height;
								position: relative;
								z-index: 1;

								@include breakpoint($screen-medium) {
									font-size: $base-font-size * 1.350;
								}
							}

							i {
								color: $white;
							}				
						}

						&:last-child {
							text-align: center;
							margin-bottom: 0;
							padding: 0;

							@include breakpoint($mobile-medium) {
								@include span(8 last);	
								float: none;
								display: inline-block;
								vertical-align: middle;	
								padding: 20px 30px;		
								text-align: left;
							}	

							@include breakpoint($mobile-large) {
								padding: 30px 50px;		
							}					
						}
					}
				}
			}

			.slick-prev, .slick-next {
				width: 30px;	 
				top: 50%;
				@include transform(translateY(-50%));

				@include breakpoint($mobile-large) {
					width: 50px;
					top: 50%;
				}

				&::before {
					font-size: 30px;

					@include breakpoint($mobile-large) {
						font-size: 40px;
					}
				}

				&:hover {

					&::before {
						color: $base-blue-color;
					}

				}
			}

			.slick-dots {
				width: 100%;
				height: auto;
				position: absolute;
				display: block;
				bottom: 20px;
				right: 0;
				text-align: center;
				padding: 0;

				@include breakpoint($mobile-medium) {
					text-align: right;
					right: 5%;
				}	

				@include breakpoint($mobile-large) {
					right: 10%;
				}

				li {
					display: inline-block !important;
				}

				button {
					width: 16px;
					height: 16px;
					line-height: 16px;
					border-radius: 16px;
					display: inline-block;
					padding: 0px;
					margin: 0px 2.5px;
					background: transparent;
					border: 2px solid $white !important;
					font-size: 0;
					position: relative;
					border: 0;
					cursor: pointer;
					
					&:hover {
						background: transparent;
					}		
				}

				.slick-active {

					button {						

				    	&::before {
					    	position: absolute;
				    		top: 4px;
				    	    left: 4px;
				    	    width: 4px;
				    	    height: 4px;
				    	    content: '';
				    	    text-align: center;				    	    
				    	    background: $white !important;
				    	    -webkit-font-smoothing: antialiased;
				    	    -moz-osx-font-smoothing: grayscale;
				    	    border-radius: 100%;
				    	}
					}
				}				
			}
		}

		&::before {
			content: "";			
			display: block;
			position: absolute;
			width: calc(100% + 15px);			
			left: 0px;
			background: $base-blue-green;
			height: 95%;
			top: 20px;
			z-index: 0;
			@include transform(rotate(-1.8deg));
		}
	}
}

section.home-blog {
	width: 100%;
	height: auto;
	display: block;
	position: relative;

	.home-blog-title {
		width: 100%;
		height: auto;
		display: block;
		position: relative;
		background: $base-purple;
		padding: 80px 10px 200px 10px;

		@include breakpoint($mobile-medium) {
			padding: 80px 80px 200px 80px;
		}	

		.home-blog-title-content {
			width: 100%;
			height: auto;
			position: relative;
			display: block;
			text-align: center;

			h4 {
				font-family: $heading-font-family;
				font-size: $base-font-size * 2.0;
				line-height: 100%;
				color: $base-purple-dark;
				display: inline-block;
				position: relative;
				z-index: 1;	
				padding: 0px 30px;						
				margin-bottom: 20px;

				@include breakpoint($mobile-small) {
					font-size: $base-font-size * 2.5;
					padding: 0px 70px;		
				}

				@include breakpoint($screen-small) {
					font-size: $base-font-size * 3.0;
					padding: 0px 130px;	
				}

				&::before, &::after {
					content: '';
					width: 20px;
					height: 3px;
					display: block;	
					background: $base-purple-dark;
					position: absolute;
					top: 50%;
					margin-top: -1.5px;

					@include breakpoint($mobile-small) {
						width: 50px;
					}

					@include breakpoint($screen-small) {
						width: 80px;
					}
				}		

				&::before {
					left: 0;
				}

				&::after {
					right: 0;
				}
			}

			.home-blog-title-switch {
				width: 100%;
				height: auto;
				max-height: 50px;
				display: block;
				position: relative;
				overflow: hidden;
				text-align: center;

				p {
					font-size: $base-font-size * 2.142;
					font-family: $base-font-family;		
					color: $white;		
					line-height: 100%;				
					margin: 0;
				}
			}
		}
	}

	.home-blog-container {
		width: 100%;
		height: auto;
		display: block;
		position: relative;
		background: $base-pink-clean;

 		.home-blog-content {
 			width: 100%;
 			height: auto;
 			display: inline-block;		    
		    background: $base-orange-clean;
		    position: relative;
		    z-index: 0;
		    margin-top: -150px;
		    padding: 30px 15px;

		    @include breakpoint($mobile-small) {
		    	padding: 70px 30px;
		    }

		    @include breakpoint($mobile-large) {
		    	padding: 50px;
		    	background: $base-orange-dark;
		    }	

		    @include breakpoint($screen-small) {
		    	padding: 80px;
		    }	

		    &::before {
		    	content: "";			
		    	display: none;
		    	position: absolute;
		    	width: 100%;			
		    	left: 0px;
		    	background: $base-orange-clean;		    	
		    	height: 100%;
		    	top: 0px;
		    	z-index: -1;
		    	@include transform(rotate(-1deg));
		    	@include transition(all 250ms ease-in-out);		

		    	@include breakpoint($mobile-large) {
		    		display: block;
		    	}					
		    }		    		    

			.home-blog-post-container {
				width: 100%;
				height: auto;
				margin-bottom: 50px;

		      	@include breakpoint($mobile-small) {
	  				display: grid;
		      		grid: auto / repeat(2, 1fr);
		      		grid-gap: 0 20px;
		      	}	

		      	@include breakpoint($mobile-large) {
		      		grid: auto / repeat(3, 1fr);
		      		grid-gap: 0 30px;
		      	}

				.home-blog-post {
					width: 100%;
					height: auto;
					display: block;
					background: $white;
					position: relative;
					margin-bottom: 30px;

					@include breakpoint($mobile-small) {
						justify-self: center;
				      	align-self: stretch;
				      	text-align: center;
				      	margin-bottom: 0;
					}

					a {
						width: 100%;
						height: auto;
						display: block;

						figure.home-blog-post-image {				
							width: 100%;
							height: auto;
							position: relative;

							img {
								width: 100%;
								height: auto;
								display: block;
							}
						}

						.home-blog-post-desc {
							width: 100%;
							height: auto;
							display: block;
							padding: 20px;
							text-align: left;

							@include breakpoint($mobile-small) {
								padding: 30px 15px;
							}

							@include breakpoint($mobile-large) {
								padding: 40px 25px;
							}	

							.home-blog-post-info {
								width: 100%;
								height: auto;
								display: block;
								line-height: $base-small-line-height;
								margin-bottom: 10px;

								span {
									font-family: $base-italic-font-family;
									font-size: $base-font-size * 0.857;
									color: $base-gray-a6;								
									
									b {
										font-family: $bold-font-family;									
									}
								}
							}					

							h3 {
								font-family: $base-font-family;
								font-size: $base-font-size;
								line-height: $base-medium-line-height;
								color: $base-font-color;
								margin: 0;
								@include transition(all 200ms ease-in);

								@include breakpoint($mobile-large) {
									font-size: $base-font-size * 1.142;
								}							
							}
						}
					}

					&::before {
						content: "";			
						display: block;
						position: absolute;
						width: 100%;			
						left: 0px;
						background: $base-orange-dark;
						height: 100%;
						top: 0px;
						z-index: -1;
						@include transform(rotate(1.5deg));
						@include transition(all 200ms ease-in);						
					}

					&:hover {

						a {

							.home-blog-post-desc {

								h3 {
									color: $base-purple-dark;
									@include transition(all 100ms ease-out);
								}
							}	
						}										

						&::before {
							background: $base-purple-dark;
							@include transition(all 100ms ease-out);
						}
					}	

					&:last-child {
						margin-bottom: 0;
						display: block;

						@include breakpoint($mobile-small) {
							display: none;
						}

						@include breakpoint($mobile-large) {
							display: block;
						}	
					}			
				}
			}

			.home-blog-post-more {
				width: 100%;
				height: auto;
				display: block;
				text-align: center;

				.btn-sing {

					&:hover {

						&::before {
							background: $white;
						}
					}				
				}	
			}
 		}
	}
}

section.home-instagram {
	width: 100%;
	height: auto;
	display: block;
	position: relative; 	
	background: $base-pink-clean;		

	@include breakpoint($mobile-large) {
		padding: 50px 0px;
	}

	.home-instagram-container {
		width: 100%;
		height: auto;
		display: block;
		font-size: 0;

		.column {
			width: 100%;
			height: auto;
			display: block;

			@include breakpoint($mobile-large) {
				@include span(3);
				float: none;
				display: inline-block;
				vertical-align: middle;
			}

			.home-instagram-title {
				width: 100%;
				height: auto;
				display: block;
				padding: 30px 0px;

				p {
					font-family: $base-font-family;
					font-size: $base-font-size;
					color: $base-pink-clean-dd;
					line-height: 100%;
					margin-bottom: 15px;
				}	

				h5 {
					font-family: $heading-font-family;	
					font-size: $base-font-size * 2.0;
					color: $base-pink-clean-dd;			
					line-height: 100%;
					margin-bottom: 20px;

					@include breakpoint($mobile-large) {
						font-size: $base-font-size * 2.5;
					}
				}	

				h6 {
					font-family: $base-font-family;
					font-size: $base-font-size * 1.428;
					color: $base-pink-clean-dd;
					line-height: 100%;
					margin: 0;
				}
			}

			&:last-child {

				@include breakpoint($mobile-large) {
					@include span(9 last);
					float: none;
					display: inline-block;
					vertical-align: middle;
				}
			}

			.home-instagram-posts {
				width: 100%;
				height: auto;
				display: block;

				iframe {
					width: 100% !important; 						
					height: 200px !important;
					display: block !important;
					overflow: hidden;
				}
			}
		}
	}
}