//
// layouts/menu-mobile.scss
//

#menu-mobile {
	width:100%;
	height:calc(100% - 76px);
	top:76px;
	left:0;
	background: $base-color;
	position:fixed;	
	padding: 10px 10px 0px 0px;
	top: 76px;
	display:none;
	z-index:$index-5;
	opacity: 1;
	@include transition(all 150ms ease-in-out);

	@include breakpoint($mobile-large) {		
		display: none !important;
	}	

	&::after {
		content: '';
		width: 100%;
		height: 99%;
		display: block;
		position: absolute;
		top: 1px;
		margin: auto;
		background: $base-yellow;
		z-index: -1;
		transform: rotate(-2deg);
	}	

	@include breakpoint($mobile-small) {
		height:calc(100% - 76px);
		width:50%;
	}

	.menu-wrapper{
		position: absolute;
		top: 75px;
		right: 0;
		left: 0;
		bottom: 20px;
		overflow-y: scroll;
		padding-right: 15px;
	}

	span.wall-lover {
		display:block;
		box-sizing:border-box;
		padding: 0 15px;
		line-height: 40px;
		position: relative;
		border-bottom: 1px solid lighten($base-yellow, 6);
		@include transition(all 100ms ease-in-out);

		a {
			font-family:$base-font-family;
			font-size:$base-font-size;
			color: $white;

			&:hover {
				color: $base-color;

				.fa-heart {
					color: $base-color;
				}
			}
		}

		.border {
			padding: 0px 2px 0px 6px;
			color: $white;
		}

		&::after {
			content: '';
			display: block;
			height: 0px;
			width: 100%;
			border-bottom: 1px solid darken($base-yellow, 5.5);
			position: absolute;
			left: 0px;
			top: 41px;
		}

		&:hover {
			background: #f3ae57;
		}
	}

	ul.menu-mobile {
		width:100%;
		height:auto;
		text-align: left;
		padding-left: 10px;

		li {
			width:100%;
			height: auto;
			line-height: 40px;
			font-size:$base-font-size;
			box-sizing: border-box;
			display: inline-block;
			position: relative;
			z-index: 10;

			a {
				font-family:$base-font-family;
				font-size:$base-font-size;
				color: $white;
				display:block;
				box-sizing:border-box;
				padding: 0 15px;
				position: relative;
				border-bottom: 1px solid lighten($base-yellow, 6);
				@include transition(all 100ms ease-in-out);

				&::before {
					content: '';
					display: block;
					height: 0px;
					width: 100%;
					border-bottom: 1px solid darken($base-yellow, 5.5);	
					position: absolute;
					left: 0px;
					top: 41px;					
				}

				&.dropdown {

					&::after {
						content: '\f107';
						display: inline-block;
						font-family: 'Font Awesome 5 Pro';
						font-size: 12.992px;
						margin-right: 5px;
						font-weight: 300;
						position: relative;
						z-index: $index-1;
					}
				}
			}

			&:hover, &.active {
				background: #f3ae57;

				>a {
					color:$base-color;					
				}				
			}

			ul.sub-menu {
				background: #f3ae57;
				display: none;
				border-bottom: 0px;

				a {
					border-bottom: 0px;

					&::after {
						display: none;	
						border-bottom: 0px;						
					}	
				}				

				li {
					border-bottom: 0px;

					a {
						font-size: $base-font-size * 0.860;
						color: $white;
						line-height: 40px;
						border-bottom: 1px solid darken($base-yellow, 2);

						&:hover, &.active {
							background: 0;
							color: $base-color;
						}

						&::after {
							display: none;							
						}		
					}

					&:hover {
						background: transparent;
					}
				}
			}

			&.meu-kit {
				background: $base-color;
				line-height: 46px;	
				border-bottom: 0px;			

				a {
					border-bottom: 0px;

					&::before {
						display: none;				
					}	
				}				

				&:hover {
					background: $base-color-hover;

					a {
						color: $base-yellow;				
					}
				}
			}
			&.menu-item-has-children{
				position: relative;
				>a{
					padding-right: 40px;
				}
				>i{
					position: absolute;
					width: 40px;
					height: 40px;
					top: 0;
					right: 0;
					text-align: center;
					line-height: 40px;
					font-size: 18px;
					color: $white;
					&.active{
						-ms-transform: rotate(180deg);
						-webkit-transform: rotate(180deg);
						transform: rotate(180deg);
						color: $base-color-hover;
					}
				}
			}
		}

		.blog {

			.fa-comment-alt-lines {
				margin-right: 5px;
			}
		}

		::-webkit-scrollbar-track {
		    background: transparent;				    
		    margin-top: 0px;
		}
		::-webkit-scrollbar {
		    width: 5px;
		    background: transparent;				    
		    margin-top: 0px;
		}
		::-webkit-scrollbar-thumb {
		    background: #F4F4F4;
		    margin-top: 8px;
		}
	}

	&.active {
		display:block;

		@include breakpoint($screen-small) {
			display:none;
		}

		@include animation(menu_move_left 0.25s cubic-bezier(0.5, 0.3, 0.3, 1) both);
		@include keyframes(menu_move_left) {

			from {
				opacity: 0;
				left:-100%;
			}

			to {
				left:0;
				opacity: 1;
			}
		}
	}

	&.transition-out {
		@include animation(menu_move_right 0.25s cubic-bezier(0.5, 0.3, 0.3, 1) both);
		@include keyframes(menu_move_right) {

			from {
				left:0;
				opacity: 1;
			}

			to {
				left:-100%;
				opacity: 0;
			}
		}
	}

	.destaque {
		background: $base-orange;
		color: $white;

		&:hover {
			color:$base-color;
		}
	}

	.menu-mobile-search {
		width: 100%;
		height: auto;
		display: block;

		.header-bottom-content-search-form {
			width: 93%;
			margin: auto;		
			height: auto;
			display: block;
			text-align: center;
			position: relative;
			padding: 10px 0px 15px 0px;
			border-bottom: 1px solid lighten($base-yellow, 6);

			&::after {
				content: '';
				display: block;
				height: 0px;
				width: 100%;
				border-bottom: 1px solid darken($base-yellow, 5.5);	
				position: absolute;
				left: 0px;
				top: 64px;					
			}			

			.search-field {
				width: 100%;
				height: 38px;
				line-height: 38px;
				padding: 0px 15px;
				background: #f3ae57;
				display: block;
				outline: none;
				font-family: $base-font-family;
				font-size: $base-font-size * 0.960;
				color: $base-gray-light;
				border-width: 0 0 1px 0;
				border-color: $base-yellow;
				@include transition(all 200ms ease-in-out);
				@include placeholder {
			    	color: $white;				
				}

				&:focus {
					border-bottom: 1px solid $base-color;
					outline: none;
				}
			}

			.search-submit {
				position: absolute;
				right: 15px;
				top: 20px;				
				background: #f3ae57;
				border: 0;
				cursor: pointer;
				padding: 0;

				i {
					font-size: $base-font-size;							
					color: $white;					
					font-weight: 300;				
				}

				.color {
					color: $base-color;
				}
			}
		}
	}
}


#menu-mobile::-webkit-scrollbar-track {
	width: 0px;	
}

#menu-mobile::-webkit-scrollbar {
	width: 0px;	    
}

#menu-mobile::-webkit-scrollbar-thumb {
	width: 0px;	
}