//
// layouts/meu-kit.scss
//

section.meu-kit-intro {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 50px;

	@include breakpoint($mobile-large) {
		margin-bottom: 100px;
	}

	.meu-kit-intro-container {
		width: 100%;
		height: auto;
		display: block;

		@include breakpoint($mobile-large) {
			display: grid;
  			grid-template-columns: calc(60% - 60px) 40%;
  			grid-gap: 0 60px;
		}

		@include breakpoint($screen-small) {
			width: 90%;
			margin: 0 auto;
			display: grid;
  			grid-template-columns: calc(65% - 60px) 35%;
  			grid-gap: 0 60px;
		}
		
		.column {
			width: 100%;
			height: auto;
			display: block;
			margin-bottom: 30px;

			@include breakpoint($mobile-large) {
				width: 100%;
				height: auto;
				justify-self: center;
		      	align-self: stretch;
		      	margin-bottom: 0;
			}

			.meu-kit-intro-iframe {
				width: 100%;
				height: auto;
				display: block;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;					
					left: 10px;
					background: $base-gray-d1;					
					top: 0;
					z-index: 0;
					display: block;
					@include transform(rotate(1.5deg));
				}

				iframe {
					width: 100%;
					height: 140px;
					top: 0;
					left: 0;
					display: block;
					position: absolute;
					z-index: 1;

					@include breakpoint($mobile-small) {
						height: 215px;
					}

					@include breakpoint($mobile-large) {
						height: 274px;
					}

					@include breakpoint($mobile-large) {
						height: 221px;
					}

					@include breakpoint($screen-small) {
						height: 244px;
					}

					@include breakpoint($screen-medium) {
						height: 360px;
					}

					&.show {
						position: relative;
					}
				}

				img {					
					width: 100%;
					height: auto;
					display: block;
					position: relative;
					z-index: 2;
				}

				.meu-kit-intro-active-video {
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					position: absolute;
					display: block;
					z-index: $index-1;
					text-align: center;
					cursor: pointer;
					z-index: 3;

					.fal {
						width: 100px;
						height: 100px;
						line-height: 100px;
						font-size: 30px;
						display: inline-block;
						color: $white;
						border: 1px solid transparent;
						border-radius: 100px;
						position: absolute;
						top: 50%;
						left: 50%;
						margin-left: -50px;
						margin-top: -50px;

					    &::after {
					    	content: "";
					    	width: 100%;
					    	height: 100%;
					    	border-radius: 50%;
					    	border: 1px solid $white;
					    	box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
					    	opacity: 0;
					    	position: absolute;
					    	top: 0;
					    	left: 0;
					    	display: none;
					    	@include transform(scale(0.9));
					    	@include transition(all 250ms ease-in);

					    	@include breakpoint($mobile-large) {
					    		display: block;
					    	}
					    }
					}

					&:hover {

						.fal {
							
							&::after {
								opacity: 1;
								@include transform(scale(1.1));
								@include transition(all 100ms ease-out);
							}
						}
					}
				}
			}

			h2 {
				color: $base-orange-clean;		
				font-family: $heading-font-family;
				line-height: $base-medium-line-height;
				margin-bottom: 20px;
			}

			p {
				color: $base-gray;
				margin-bottom: 20px;
			}
		}
	}
}

section.meu-kit-steps {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 50px;
	padding: 50px 0;
	background: $base-purple-clean;

	@include breakpoint($mobile-large) {
		margin-bottom: 100px;
		padding: 100px 0;
	}

	.meu-kit-steps-container {
		width: 100%;
		height: auto;
		display: block;

		.meu-kit-steps-row {
			display: grid;
			grid: auto / repeat(2, 1fr);
			grid-gap: 0 20px;
			position: relative;

	      	@include breakpoint($mobile-medium) {
	      		grid: auto / repeat(4, 1fr);
	      		grid-gap: 0 20px;
	      	}	

	      	@include breakpoint($mobile-large) {
	      		grid-gap: 0 30px;
	      	}	

	      	@include breakpoint($screen-small) {
	      		grid-gap: 0 60px;
	      	}

	      	&.right {

	      		&::before {
	      			content: '';
	      			width: 200%;
	      			height: 3px;
	      			left: 75px;
	      			top: 55px;
	      			position: absolute;
	      			display: none;
	      			z-index: 0;
	      			background: $white;

	      			@include breakpoint($mobile-medium) {
	      				display: block;	
	      			}
	      		}
	      	}

	      	&.left {

	      		&::before {
	      			content: '';
	      			width: 200%;
	      			height: 3px;
	      			right: 100px;
	      			top: 55px;
	      			position: absolute;
	      			display: none;
	      			z-index: 0;
	      			background: $white;

	      			@include breakpoint($mobile-medium) {
	      				display: block;	
	      			}
	      		}
	      	}

	      	.meu-kit-step {
      			width: 100%;
      			height: auto;
      			display: block;
      			position: relative;
      			margin-bottom: 30px;
      			z-index: 1;

      			@include breakpoint($mobile-small) {
      				justify-self: center;
      		      	align-self: stretch;
      			}

	      		figure {
	      			width: 100%;
	      			max-width: 150px;
	      			height: auto;
	      			display: block;
	      			position: relative;
	      			margin: 0;
	      			padding: 0;
	      			margin-bottom: 20px;

	      			img {
	      				width: 100%;
	      				height: auto;
	      				display: block;
	      			}
	      		}

	      		.meu-kit-step-title {
	      			width: 100%;
	      			height: auto;
	      			display: block;
	      			margin-bottom: 10px;
	      			font-size: 0;

	      			span {
	      				width: 15px;
	      				height: auto;
	      				font-family: $bold-font-family;
	      				font-size: $base-font-size * 1.142;
	      				line-height: $base-small-line-height;
	      				color: $white;
	      				display: inline-block;
	      				vertical-align: top;
	      				margin-right: 5px;

	      				@include breakpoint($mobile-medium) {
	      					width: 10px;
	      					font-size: $base-font-size;
	      				}	

	      				@include breakpoint($mobile-large) {
	      					width: 15px;
	      					font-size: $base-font-size * 1.2857;
	      				}	

	      				@include breakpoint($screen-small) {
	      					font-size: $base-font-size * 1.428;
	      				}
	      			}

	      			h2 {
	      				width: calc(100% - 25px);
	      				font-family: $base-font-family;
	      				font-size: $base-font-size * 1.142;
	      				line-height: $base-small-line-height;
	      				color: $white;
	      				display: inline-block;
	      				vertical-align: top;
	      				margin-bottom: 0;

	      				@include breakpoint($mobile-medium) {
	      					font-size: $base-font-size;
	      				}

	      				@include breakpoint($mobile-large) {
	      					font-size: $base-font-size * 1.2857;
	      				}	

	      				@include breakpoint($screen-small) {
	      					font-size: $base-font-size * 1.428;
	      				}
	      			}
	      		}

	      		ul {
	      			width: 100%;
	      			height: auto;
	      			display: block;

	      			li {
	      				font-family: $base-font-family;
	      				font-size: $base-font-size * 0.857;		
	      				color: $base-purple-5c;	      			
	      				display: block;
	      				margin-bottom: 5px;

	      				@include breakpoint($mobile-medium) {
	      					font-size: $base-font-size * 0.714;		
	      				}

	      				@include breakpoint($mobile-large) {
	      					font-size: $base-font-size * 0.857;		
	      				}	

	      				&::before {
	      					content: '\f105';
	      					font-family: 'Font Awesome 5 Pro';
	      					font-size: $base-font-size * 0.857;							
	      					font-weight: 300;
	      					display: inline-block;
	      					margin-right: 5px;		
	      					color: $white;

	      					@include breakpoint($mobile-medium) {
	      						font-size: $base-font-size * 0.714;		
	      					}

	      					@include breakpoint($mobile-large) {
	      						font-size: $base-font-size * 0.857;
	      						margin-right: 10px;				
	      					}
	      				}

	      				&:last-child {
	      					margin-bottom: 0;
	      				}
	      			}
	      		}

	      		&.start {
	      			position: relative;

	      			img {
	      				width: 50px;
	      				height: auto;
	      				display: block;
	      				position: absolute;
	      				top: 60px;
	      				left: 100px;
	      				z-index: 1;
	      				@include transform(rotate(10deg));

	      				@include breakpoint($mobile-medium) {
	      					width: 60px;
	      					top: 60px;
	      					left: 100px;
	      					@include transform(rotate(15deg));
	      				}

	      				@include breakpoint($mobile-large) {
	      					@include transform(rotate(0deg));
	      					width: 70px;
	      					top: 50px;
	      					left: 160px;
	      				}
	      			}

	      			.btn-sing {
	      				width: 100%;
	      				max-width: 150px;
	      				margin-top: 30px;
	      				margin-bottom: 10px;

	      				span {

	      					.fas {
	      						font-size: $base-font-size * 1.142;
	      					}
	      				}
	      			}

	      			h3 {
	      				color: $white;
	      				font-family: $heading-font-family;
	      				font-size: $base-font-size * 1.571;
	      				line-height: $base-small-line-height;

	      				@include breakpoint($mobile-medium) {
	      					font-size: $base-font-size * 1.142;
	      				}

	      				@include breakpoint($mobile-large) {
	      					font-size: $base-font-size * 1.571;
	      				}	

	      				@include breakpoint($screen-small) {
	      					font-size: $base-font-size * 1.857;
	      				}
	      			}
	      		}
	      	}
		}
	}
}

section.meu-kit-walk {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 50px;

	@include breakpoint($mobile-large) {
		margin-bottom: 100px;
	}

	.meu-kit-walk-container {
		width: 100%;
		display: grid;
		grid: auto / repeat(3, 1fr);
		grid-gap: 0 20px;
		position: relative;

      	@include breakpoint($mobile-large) {
      		width: 80%;
      		margin: 0 auto;
      		grid-gap: 0 30px;
      	}	

      	@include breakpoint($screen-small) {
      		grid-gap: 0 60px;
      	}

      	&::before {
      		content: "";
      		width: 80%;
      		height: 2px;
      		background: $base-gray-clean;
      		position: absolute;
      		top: 25px;
      		left: 10%;
      		margin-top: -1px;
      		z-index: 0;

      		@include breakpoint($mobile-medium) {
      			width: 85%;
      			left: 7.5%;
      			top: 30px;
      		}

      		@include breakpoint($mobile-large) {
      			width: 90%;
      			left: 5%;
      		}

      		@include breakpoint($screen-small) {
      			width: 85%;
      			left: 7.5%;
      		}

      		@include breakpoint($screen-medium) {
      			width: 90%;
      			left: 5%;
      		}
      	}

      	.walk {
      		width: 100%;
      		height: auto;
			justify-self: center;
	      	align-self: stretch;
	      	position: relative;
	      	text-align: center;
	      	z-index: 1;

	      	&:first-child {
	      		text-align: left;
	      	}

	      	&:last-child {
	      		text-align: right;
	      	}

	      	&.active {
				
				.walk-content {

					.walk-number {
						background: $base-yellow;
						border-color: $base-yellow;
						color: $white;
					}

					.walk-text {
						color: $base-yellow;
					}
				}
	      	}

	      	.walk-content {
	      		width: auto;
	      		height: auto;
	      		display: inline-block;
	      		text-align: center;

	      		.walk-number {
	      			width: 50px;
	      			height: 50px;
	      			line-height: 46px;
	      			border-radius: 50px;
	      			margin-bottom: 20px;
	      			display: inline-block;
	      			font-size: $base-font-size * 1.714;
	      			font-family: $bold-font-family;
	      			background: $white;
	      			border: 2px solid $base-gray-clean;
	      			color: $base-gray-clean;

	      			@include breakpoint($mobile-medium) {
	      				width: 60px;
	      				height: 60px;
	      				line-height: 56px;
	      				border-radius: 60px;
	      				font-size: $base-font-size * 2.142;
	      			}
	      		}

	      		.walk-text {
	      			font-family: $base-font-family;
	      			font-size: $base-font-size * 1.142;
	      			line-height: $base-small-line-height;
	      			color: $base-gray-clean;

	      			@include breakpoint($mobile-medium) {
	      				font-size: $base-font-size * 1.285;
	      			}
	      		}
	      	}
      	}
	}
}

.wccpf-fields-container,
.temp-values{
	display: none;
}

section.meu-kit-briefing {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 50px;

	@include breakpoint($mobile-large) {
		margin-bottom: 100px;
	}

	.meu-kit-briefing-row {
		width: 100%;
		height: auto;
		display: block;
		padding: 50px 0;

		&:first-child {
			padding-top: 0;
		}

		&:nth-child(even) {
			background-color: $gray-clean-f6;
		}

		.meu-kit-briefing-row-container {
			width: 100%;
			height: auto;
			display: block;

			.meu-kit-briefing-row-title {
				width: 100%;
				height: auto;
				display: block;
				margin-bottom: 20px;

				h3 {
					font-family: $base-font-family;
					font-size: $base-font-size * 1.285;
					line-height: $base-small-line-height;
					color: $base-yellow;
					display: block;
					margin-bottom: 5px;

					span {
						font-family: $bold-font-family;
					}
				}

				p {
					margin-bottom: 0;
				}
			}

			.meu-kit-briefing-row-content {
				width: 100%;
				height: auto;
				display: block;

				.meu-kit-briefing-confere-produtos {
					padding: 30px;
					border: 2px dashed $base-gray-clean;
					position: relative;
				}

				.woosw-content-items {
					width: 100%;
					height: auto;
					display: grid;
					grid: auto / repeat(3, 1fr);
					grid-gap: 0 20px;
					position: relative;

			      	@include breakpoint($mobile-medium) {
			      		grid: auto / repeat(5, 1fr);
			      		grid-gap: 0 20px;
			      	}

					.confere-item {
						width: 100%;
						height: auto;
						display: grid;
						position: relative;
						z-index: 1;

						@include breakpoint($mobile-small) {
							justify-self: center;
					      	align-self: stretch;
						}

						.woosw-content-item--remove {
							display: none !important;
						}

						label {
							width: 100%;
							height: auto;
							display: block;
							padding: 10px;
							border: 1px dashed $base-gray-clean;
							cursor: pointer;
							position: relative;
							z-index: 1;

							.confere-item-image {
								width: 100%;
								height: auto;
								display: block;
								margin-bottom: 10px;

								img {
									width: 100%;
									height: auto;
									display: block;
									@include transition-duration(150ms);
									@include transform-origin(50% 50%);
								}
							}

							.confere-item-title {
								width: 100%;
								height: auto;
								display: block;
								font-size: $base-font-size * 0.857;
								font-family: $base-font-family;
								line-height:$base-small-line-height;
								text-align: center;
							}

							.woosw-content-item--title{
								display: none;
							}

							.woosw-content-item--add{
								display: none !important;
							}

							&::before {
								content: "\f00c";
								background: $base-yellow;
								color: $white;
								display: block;
								position: absolute;
								top: -10px;
								left: -10px;
								width: 25px;
								height: 25px;
								line-height: 25px;
								border-radius: 25px;
								text-align: center;
								font-family: 'Font Awesome 5 Pro';
								font-size: $base-font-size * 0.857;
								font-weight: 300;
								opacity: 0;
								z-index: 1;
								@include transition(all 150ms ease-in-out);
								@include transform(scale(0));
							}
						}

						input[type="checkbox"][id^="cb"] {
							display: none;
						}

						:checked + label {
							border: 1px dashed $base-yellow;
						}

						:checked + label::before {
							opacity: 1;
							@include transform(scale(1));
						}

						:checked + label .confere-item-image img {
							transform: scale(0.95);
						}

						:checked + label .confere-item-title {
							color: $base-yellow;
						}
					}
				}

				.meu-kit-briefing-envia-produtos {

					.wccpf_label{
						display: none !important;
					}
					input[type=file]{
						display: none !important;
					}

					.file-upload {
						width: 100%;
						height: 250px;
						border: 2px dashed $base-gray-clean;
						position: relative;
						margin-bottom: 20px;

						.file-upload-content {
							position: absolute;
							top: 50%;
							left: 50%;
							z-index: 1;
							color: $base-gray-79;
							cursor: pointer;
							@include transform(translateX(-50%) translateY(-50%));

							.fal {
								display: inline-block;
								vertical-align: middle;
								margin-right: 5px;
							}

							span {
								font-size: $base-font-size * 1.285;
								display: inline-block;
								vertical-align: middle;
							}
						}
					}

					.wcff_image_prev_shop_continer{
						width: 100%!important;
						display: grid;
						grid: auto / repeat(5, 1fr);
						grid-gap: 0 20px;
						position: relative;

						.image-wrapper{
							margin-bottom: 20px;

							img {
								max-width: 100%;
							}
						}
					}
				}

				.meu-kit-briefing-medida-parede {
					width: 100%;
					height: auto;
					display: block;

					.wccpf_fields_table {
						width: 50%;
						height: auto;
						display: block;


					}
				}
			}
		}
	}
}

section.meu-kit-actions{
	.single_add_to_cart_button{
		i{
			content: '';
			display: inline-block;
			border: solid transparent;
			border-width: 5px 0 5px 10px;
			border-left-color: $white;
			position: relative;
			z-index: 1;
		}
	}
}