//
// layouts/minha-conta.scss
//

section.minha-conta-login {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	margin-bottom: 100px;

	.minha-conta-login-container {
		width: 100%;
		height: auto;
		display: block;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;					
			left: 10px;
			background: $base-yellow;					
			top: 0;
			z-index: 0;
			display: none;
			@include transform(rotate(1.5deg));

			@include breakpoint($mobile-large) {
				display: block;
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			top: 0;
			left: 0;
			z-index: 1;
			background: $base-yellow-clean;
		}
		
		.woocommerce {
			width: 100%;
			height: auto;
			position: relative;
			z-index: 2;
			display: table;
			padding: 30px;

			@include breakpoint($mobile-large) {
				padding: 50px;
			}

			&::before, &::after {
				display: none;
			}

			.u-columns#customer_login {
				width: 100%;
				height: auto;
				display: block;
				position: relative;

				@include breakpoint($mobile-large) {
					display: grid;
		  			grid-template-columns: 50% 50%;
				}

				.u-column1, .u-column2 {
					width: 100%;
					height: auto;
					justify-self: center;
			      	align-self: stretch;
			      	position: relative;
			      	display: block;
			      	z-index: 2;

			      	h2 {
			      		font-family: $base-font-family;
			      		color: $base-yellow;
			      		margin: 0;
			      		margin-bottom: 20px;
			      		padding-bottom: 20px;
			      		border-bottom: 1px solid $base-yellow;
			      	}

			      	form.woocommerce-form {
			      		border: 0 !important;
			      		border-radius: 0 !important;
			      		background: transparent !important;
			      		padding: 0 !important;
			      		margin: 0 !important;

			      		.woocommerce-form-row, .form-row {
			      			width: 100%;
			      			height: auto;
			      			display: block;
			      			padding: 0 !important;
			      			margin: 0 !important;
			      			margin-bottom: 10px !important;

			      			label {
			      				width: 100%;
			      				height: auto;
			      				display: block;
			      				font-family: $base-font-family; 
			      				font-size: $base-font-size * 0.857;
			      				margin-bottom: 5px;

			      				span {
			      					color: $not-error;
			      				}
			      			}

			      			input {
			      				background: $white !important;
			      			}

			      			.woocommerce-Button {
			      				@extend .btn-clean;
			      				width: 100%;
			      				margin-bottom: 10px;

			      				@include breakpoint($mobile-medium) {
			      					width: 100%;
			      					max-width: 250px;
			      				}
			      			}

			      			.woocommerce-form__label {
			      				cursor: pointer;

			      				.woocommerce-form__input-checkbox {
			      					margin-right: 5px !important;
			      				}

			      				span {
			      					color: $base-yellow !important;
			      				}
			      			}
			      		}

			      		.woocommerce-privacy-policy-text {

			      			p {
			      				font-size: $base-font-size * 0.857 !important;
			      				color: $base-gray-62;

			      				a {

			      					&:hover {
			      						color: $base-font-color;
			      					}
			      				}
			      			}
			      		}

			      		.woocommerce-LostPassword {
			      			margin: 0 !important;

			      			a {
			      				color: $base-color;
			      				font-size: $base-font-size * 0.857;

			      				&::before {
			      					content: "\f13e";
			      					font-family: 'Font Awesome 5 Pro';
			      					font-weight: 300;
			      					display: inline-block;
			      					vertical-align: middle;
			      					margin-right: 5px;
			      				}

			      				&:hover {
			      					color: $base-font-color;
			      				}
			      			}
			      		}
			      	}
				}

				.u-column1 {
					padding-right: 0;

					@include breakpoint($mobile-large) {
						border-right: 1px solid $base-yellow !important;
						padding-right: 50px;
					}
				}

				.u-column2 {
					padding: 0;

					@include breakpoint($mobile-large) {
						padding-left: 50px;
					}
				}
			}

			nav.woocommerce-MyAccount-navigation {
				width: 100%;
				height: auto;
				display: block;
				margin-bottom: 50px;

				@include breakpoint($mobile-large) {
					@include span(3 inside nest);
					margin-bottom: 0;
				}

				ul {
					width: 100%;
					height: auto;
					display: block;

					li {
						background: $base-orange-clean;
						border-bottom: 1px solid $base-yellow-clean;
						position: relative;
						@include transition(all 150ms ease-in-out); 

						&:last-child {
							border-bottom: 0;
						}

						a {
							font-size: $base-font-size;
							font-family: $base-font-family;
							line-height: 40px;
							color: $white;
							position: relative;
							display: block;
							padding: 0 20px;
							@include transition(all 150ms ease-in-out); 

					      	@include breakpoint($mobile-large) {
			  					line-height: 50px;
					      	}

							&::before {
								content: "\f105";
								font-family: 'Font Awesome 5 Pro';
								font-weight: 300;
								font-size: $base-font-size * 1.142;
								color: $white;
								margin-right: 10px;
								display: inline-block;
								@include transition(all 150ms ease-in-out); 
							}
						}

						&:hover {
							background: $base-yellow-smooth;

							a {
								color: $base-orange-clean;

								&::before {
									color: $base-orange-clean;
								}
							}
						}
					}
				}
			}

			.woocommerce-MyAccount-content {
				width: 100%;
				height: auto;
				display: block;

				@include breakpoint($mobile-large) {
					@include span(9 inside nest);
					padding-left: 50px;
				}

				h2 {
					width: 100%;
					height: auto;
					display: block;
					color: $base-orange;
					font-family: $base-font-family;
					padding-bottom: 10px;
					margin-bottom: 30px;
					border-bottom: 1px dashed $base-gray-clean;
					line-height: $base-small-line-height;
				}

				h3 {
					width: 100%;
					height: auto;
					display: block;
					color: $base-orange;
					font-family: $base-font-family;
					padding-bottom: 10px;
					margin-bottom: 30px;
					border-bottom: 1px dashed $base-gray-clean;
					line-height: $base-small-line-height;
				}

				p {

					mark {
						background: $base-yellow-smooth;
					}
				}

				.shop_table {
					width: 100%;
					height: auto;
					border: 0;
					border-radius: 0;
					border: 1px solid $gray-clean-f1;

					thead {

						tr {

							th {
								background: $base-yellow;
								border: 0;
								font-family: $bold-font-family;
								font-size: $base-font-size * 0.857;
								line-height: $base-small-line-height;
								font-weight: normal;
								color: $white;
								padding: 10px;

						      	@include breakpoint($mobile-medium) {
				  					padding: 10px 20px;
						      	}

						      	@include breakpoint($screen-small) {
					  				font-size: $base-font-size;
						      	}

						      	&.woocommerce-orders-table__header-order-actions {
						      		text-align: center;
						      	}

								&::before {
									content: "\f107";
									font-family: 'Font Awesome 5 Pro';
									font-style: normal;
									font-weight: 300;
									display: inline-block;
									vertical-align: middle;
									color: $white;
									margin-right: 5px;
								}
							}
						}
					}

					tbody {
					
						tr {
							border-bottom: 1px solid $base-orange;

							&:last-child {
								border-bottom: 0;
							}

							td {
								padding: 10px;
								font-family: $base-font-family;
								font-size: $base-font-size * 0.857;
								font-weight: normal;
								line-height: $base-small-line-height;
								background: $white;
								color: $base-font-color;

						      	@include breakpoint($mobile-medium) {
				  					padding: 10px 20px;
				  					font-size: $base-font-size;
						      	}

								&::before {
									font-weight: normal;
									font-family: $bold-font-family;
								}

								&.woocommerce-orders-table__cell-order-actions {
									text-align: center;
								}

								a {
									color: $base-orange;
									@include transition(all 100ms ease-in-out); 

									&.button.view {
										font-size: 0;
										background: $base-orange;
										width: 30px;
										height: 30px;
										border-radius: 30px;
										margin: 0;
										text-align: center;
										@include transition(all 100ms ease-in-out); 

										&::before {
											content: "\f06e";
											font-family: 'Font Awesome 5 Pro';
											font-style: normal;
											font-weight: 900;
											color: $white;
											font-size: $base-font-size;
											line-height: 30px;
										}

										&:hover {
											background: $base-font-color;
										}
									}

									&:hover {
										color: $base-font-color;
									}
								}
							}
						}
					}

					tfoot {

						tr {
							margin-bottom: 5px;

							td, th {
								padding: 15px 10px;
								line-height: $base-small-line-height;

						      	@include breakpoint($mobile-medium) {
				  					padding: 10px 20px;
						      	}
							}

							th {
								background: $gray-clean-f1;
								font-family: $bold-font-family;
								font-size: $base-font-size * 0.857;
								font-weight: normal;
								border: 0;
								border-bottom: 1px solid $white;
								color: $base-gray-79;
								vertical-align: middle;
								text-align: right;
								color: $base-font-color;

						      	@include breakpoint($mobile-medium) {
				  					font-size: $base-font-size;
						      	}
							}

							td {
								font-family: $bold-font-family;
								font-size: $base-font-size * 0.857;
								font-weight: normal;
								background: $white;
								color: $base-font-color;
								vertical-align: middle;

						      	@include breakpoint($mobile-medium) {
				  					font-size: $base-font-size;
						      	}

						      	@include breakpoint($mobile-large) {
				  					vertical-align: top;
						      	}
							}

							&:last-child {

								th {
									border-bottom: 0;
								}
							}
						}
					}
				}

				.u-columns.woocommerce-Addresses {
					width: 100%;
					height: auto;

			      	@include breakpoint($mobile-large) {
	  					display: grid;
			  			grid-template-columns: calc(50% - 15px) calc(50% - 15px);
			  			grid-gap: 0 30px;
	  					justify-self: center;
	  			      	align-self: stretch;
			      	}
						
					.u-column1, .u-column2 {
						width: 100%;
						height: auto;
						display: block;
						border: 1px solid $gray-clean-f1 !important;
						margin-bottom: 20px;
						background: $white;
						margin-top: 30px;

				      	@include breakpoint($mobile-large) {
		  					margin-bottom: 0;
				      	}

				      	.woocommerce-Address-title {
				      		width: 100%;
				      		height: auto;
				      		display: block;
				      		padding: 10px 20px;
				      		border-bottom: 1px solid $gray-clean-f1;
				      		position: relative;

				      		h3 {
				      			font-family: $base-font-family;
				      			color: $base-orange;
				      			margin-bottom: 0px;
				      			border-bottom: 0;
				      		}

				      		a.edit {
				      			font-size: 0;
				      			background: $base-orange;
				      			width: 30px;
				      			height: 30px;
				      			border-radius: 30px;
				      			margin: 0;
				      			text-align: center;
				      			position: absolute;
				      			top: 50%;
				      			right: 20px;
				      			@include transform(translateY(-50%));
				      			@include transition(all 100ms ease-in-out); 

				      			&::before {
				      				content: "\f044";
				      				font-family: 'Font Awesome 5 Pro';
				      				font-style: normal;
				      				font-weight: 900;
				      				color: $white;
				      				font-size: $base-font-size;
				      				line-height: 30px;
				      			}

				      			&:hover {
				      				background: $base-font-color;
				      			}
				      		}
				      	}

						address {
							border: 0 !important;
							border-radius: 0 !important;
							font-family: $base-font-family;
							color: $base-font-color;
							padding: 20px;

							.woocommerce-customer-details--phone {

								&::before {
									content: "\f095";
									font-family: 'Font Awesome 5 Pro';
									font-style: normal;
									font-weight: 300;
									display: inline-block;
									vertical-align: middle;
									margin-right: 5px;
								}
							}

							.woocommerce-customer-details--email {

								&::before {
									content: "\f0e0";
									font-family: 'Font Awesome 5 Pro';
									font-style: normal;
									font-weight: 300;
									display: inline-block;
									vertical-align: middle;
									margin-right: 5px;
								}
							}
						}

						&:last-child {
							margin-bottom: 0;
						}
					}
				}

				.woocommerce-customer-details {
					width: 100%;
					height: auto;
					display: block;

					.woocommerce-columns {
						width: 100%;
						height: auto;

				      	@include breakpoint($mobile-large) {
		  					display: grid;
				  			grid-template-columns: calc(50% - 15px) calc(50% - 15px);
				  			grid-gap: 0 30px;
		  					justify-self: center;
		  			      	align-self: stretch;
				      	}
	  					
	  					.woocommerce-column {
	  						width: 100%;
	  						height: auto;
	  						display: block;
	  						border: 1px solid $gray-clean-f1 !important;
	  						margin-bottom: 20px;
	  						background: $white;

					      	@include breakpoint($mobile-large) {
			  					margin-bottom: 0;
					      	}

	  						h2.woocommerce-column__title {
	  							font-family: $base-font-family;
	  							color: $base-orange;
	  							margin-bottom: 0px;
	  							padding: 10px 20px;
	  							border-bottom: 1px solid $gray-clean-f1;
	  							font-size: $base-font-size * 1.414;
	  							
	  							@include breakpoint($mobile-large) {
	  								font-size: $base-font-size * 1.58;
	  							}
	  							
	  							@include breakpoint($screen-small) {
	  								font-size: $base-font-size * 1.732;
	  							}
	  						}

	  						address {
	  							border: 0 !important;
	  							border-radius: 0 !important;
	  							font-family: $base-font-family;
	  							color: $base-font-color;
	  							padding: 20px;

	  							.woocommerce-customer-details--phone {

	  								&::before {
	  									content: "\f095";
	  									font-family: 'Font Awesome 5 Pro';
	  									font-style: normal;
	  									font-weight: 300;
	  									display: inline-block;
	  									vertical-align: middle;
	  									margin-right: 5px;
	  								}
	  							}

	  							.woocommerce-customer-details--email {

	  								&::before {
	  									content: "\f0e0";
	  									font-family: 'Font Awesome 5 Pro';
	  									font-style: normal;
	  									font-weight: 300;
	  									display: inline-block;
	  									vertical-align: middle;
	  									margin-right: 5px;
	  								}
	  							}
	  						}

	  						&:last-child {
	  							margin-bottom: 0;
	  						}
	  					}
					}
				}

				.woocommerce-address-fields {
					width: 100%;
					height: auto;

					.woocommerce-address-fields__field-wrapper {
			      		width: 100%;
			      		height: auto;
  		  				display: block;

			      		@include breakpoint($mobile-small) {
			      			display: grid;
  				      		grid: auto / repeat(2, 1fr);
  				      		grid-gap: 0 10px;
  				      		align-items: end;
			      		}

  			      		.form-row {
  			      			width: 100%;
  			      			height: auto;
  			      			position: relative;
  			      			display: block;
  			      			padding: 0;
  			      			margin: 0;
  			      			margin-bottom: 10px;

  		      				label {
  		      					font-family: $base-italic-font-family;
  		      					font-size: $base-font-size;
  		      					font-weight: normal;
  		      					color: $base-gray-79;
  		      					margin-bottom: 5px;
  		      					display: block;

  		      					abbr.required {
  		      						font-size: $base-font-size * 0.714;
  		      						color: $not-error;
  		      					}
  		      				}

  		      				.woocommerce-input-wrapper {

  		      					input, select {
  		      						background: $white;
  		      					}
  		      				}

  		      				&#billing_state_field, &#shipping_state_field {

  		      					.woocommerce-input-wrapper {
  		      						@extend .select;	

  		      						input, select {
  		      							background: $white;
  		      						}
  		      					}	

  		      					.select2-selection__rendered {
  		      						font-family: $bold-font-family;
  		      						color: $base-orange;
  		      						position: absolute;
  		      						top: -30px;
  		      						right: 0px;
  		      					}
  		      				}
  			      		}
					}

					p {
						margin: 0;
						padding: 0;

						.button {
							@extend .btn-clean;
						}
					}
				}

				.woocommerce-EditAccountForm {
		      		width: 100%;
		      		height: auto;
		  			display: block;

		      		@include breakpoint($mobile-large) {
		      			display: table;
		      		}

		      		.clear {
		      			display: none;
		      		}

		      		.form-row {
		      			width: 100%;
		      			height: auto;
		      			display: block;
		      			margin-bottom: 10px;

	      				label {
	      					font-family: $base-italic-font-family;
	      					font-size: $base-font-size;
	      					font-weight: normal;
	      					color: $base-gray-79;
	      					margin-bottom: 5px;
	      					display: block;

	      					abbr.required {
	      						font-size: $base-font-size * 0.714;
	      						color: $not-error;
	      					}
	      				}

	      				input, select {
	      					background: $white;
	      				}

	      				em {
	      					font-family: $base-italic-font-family;
	      					font-size: $base-font-size * 0.857;
	      				}
		      		}

		      		fieldset{
		      			width: 100%;
		      			height: auto;
		      			display: block;
		      			padding: 0;
		      			margin: 0;
		      			margin-top: 30px;

		      			legend {
		      				width: 100%;
		      				height: auto;
		      				display: block;
		      				color: $base-orange;
		      				font-family: $base-font-family;
		      				padding-bottom: 10px;
		      				margin-bottom: 30px;
		      				border-bottom: 1px dashed $base-gray-clean;
		      				line-height: $base-small-line-height;
		      				font-size: $base-font-size * 1.414;
		      				
		      				@include breakpoint($mobile-large) {
		      					font-size: $base-font-size * 1.58;
		      				}
		      				
		      				@include breakpoint($screen-small) {
		      					font-size: $base-font-size * 1.732;
		      				}
		      			}
		      		}
				}

				p {
					margin: 0;
					padding: 0;

					.button {
						@extend .btn-clean;
					}
				}
			}
		}
	}
}