//
// layouts/page.scss
//

section.page-sobre {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 50px;

	@include breakpoint($mobile-large) {
		margin-bottom: 100px;
	}

	.page-sobre-container {
		width: 100%;
		height: auto;
		display: block;

		.page-sobre-content {
			width: 100%;
			height: auto;
			position: relative;

			@include breakpoint($mobile-large) {
				display: grid;
	  			grid-template-columns: calc(70% - 50px) 30%;
	  			grid-gap: 0 50px;
			}

			.page-sobre-content-left {
				width: 100%;
				height: auto;
				display: block;
				position: relative;
				z-index: 3;
				margin-top: 0;
				margin-bottom: 50px;

				figure.page-sobre-image-top {
					width: 100%;
					height: auto;
					display: block;
					position: relative;
					margin-bottom: 50px;

					&::before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;					
						left: 10px;
						background: $base-blue;		
						top: 0;
						z-index: 0;
						display: block;
						@include transform(rotate(1.5deg));
					}

					img {
						width: 100%;
						height: auto;
						display: block;
						position: relative;
						z-index: 1;
					}
				}

				h2 {
					font-family: $heading-font-family;
					font-size: $base-font-size * 2.0;
					line-height: 100%;
					color: $base-blue;
					display: inline-block;
					position: relative;
					margin-bottom: 30px;

					@include breakpoint($mobile-small) {
						font-size: $base-font-size * 2.5;
					}

					@include breakpoint($screen-small) {
						font-size: $base-font-size * 3.0;
					}
				}

				p {
					font-size: $base-font-size;
					color: $base-gray-a6;

					@include breakpoint($mobile-small) {
						font-size: $base-font-size * 1.142;	
					}				
				}
			}

			.page-sobre-content-right {
				width: 100%;
				height: auto;
				display: block;

				h2 {
					font-family: $base-font-family;
				}		

				.page-sobre-social {
					width: 100%;
					height: auto;
					display: block;
					padding-bottom: 20px;
					margin-bottom: 20px;
					border-bottom: 1px dashed $base-gray-clean;

					a {
						padding: 5px 25px;
						border-radius: 5px;
						border: 1px solid $base-blue;
						margin-right: 10px;
						margin-bottom: 10px;
						display: inline-block;

						.fab {
							color: $base-blue;
							margin-right: 10px;
							display: inline-block;
							vertical-align: middle;
						}

						span {
							font-size: $base-font-size * 0.857;
							font-family: $bold-font-family;
							display: inline-block;
							vertical-align: middle;
							color: $base-blue;
						}

						&:hover {
							background: $base-blue;

							span, .fab {
								color: $white;
							}
						}
					}
				}

				.page-sobre-navigate {
					width: 100%;
					height: auto;
					display: block;

					h5 {
						font-family: $base-font-family;
						font-size: $base-font-size * 1.414;
						color: $base-blue;
						
						@include breakpoint($mobile-large) {
							font-size: $base-font-size * 1.58;
						}
						
						@include breakpoint($screen-small) {
							font-size: $base-font-size * 1.732;
						}
					}

					a {
						margin-right: 20px;
						margin-bottom: 10px;

						.fal, .fab, .fas {
							color: $base-blue;
						}

						&::before {
							background: $base-blue;
						}

						&:hover {

							.fal, .fab, .fas {
								color: $base-font-color;
								
							}

							span {
								color: $base-blue;
							}

							&::before {
								background: $base-font-color;
							}										
						}
					}
				}
			}
		}
	}
}

section.page-walk-talk {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 50px;

	@include breakpoint($mobile-large) {
		margin-bottom: 100px;
	}

	.page-walk-talk-container {
		width: 100%;
		height: auto;
		display: block;

		.page-walk-talk-content {
			width: 100%;
			height: auto;
			position: relative;
			margin-bottom: 50px;
			
			.page-walk-talk-row {
				width: 100%;
				height: auto;
				position: relative;

				@include breakpoint($screen-small) {
					display: grid;
		  			grid-template-columns: calc(60% - 50px) 40%;
		  			grid-gap: 0 50px;
				}

				.column {
					width: 100%;
					height: auto;
					display: block;
					text-align: center;

					@include breakpoint($screen-small) {
						text-align: left;
					}

					iframe {
						width: 100% !important;
						height: 200px;
						display: block;
						position: relative;
						margin-bottom: 30px;
						padding: 0;

						@include breakpoint($mobile-small) {
							margin-bottom: 50px;
							height: 360px;
						}

						@include breakpoint($screen-small) {
							margin-bottom: 0;
						}
					}

					h2 {
						font-family: $heading-font-family;
						font-size: $base-font-size * 2.0;
						line-height: 100%;
						color: $base-blue;
						display: inline-block;
						position: relative;
						margin-bottom: 30px;

						@include breakpoint($mobile-small) {
							font-size: $base-font-size * 2.5;
						}

						@include breakpoint($screen-small) {
							font-size: $base-font-size * 3.0;
						}
					}

					p {
						font-size: $base-font-size;
						color: $base-gray-a6;

						@include breakpoint($mobile-small) {
							font-size: $base-font-size * 1.142;	
						}				
					}
				}
			}

			figure {
				width: 100%;
				height: auto;
				display: block;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;					
					left: 10px;
					background: $base-blue;		
					top: 0;
					z-index: 0;
					display: block;
					@include transform(rotate(1.5deg));
				}

				img {
					width: 100%;
					height: auto;
					display: block;
					position: relative;
					z-index: 1;
				}
			}
		}
	}
}

section.page-kits-prontos {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 50px;

	@include breakpoint($mobile-large) {
		margin-bottom: 100px;
	}

	.page-kits-prontos-container {
		width: 100%;
		height: auto;
		display: block;

		.page-kits-prontos-content {
			width: 100%;
			height: auto;
			position: relative;
			margin-bottom: 50px;
			
			.page-kits-prontos-row {
				width: 100%;
				height: auto;
				position: relative;

				@include breakpoint($screen-small) {
					display: grid;
		  			grid-template-columns: calc(60% - 50px) 40%;
		  			grid-gap: 0 50px;
				}

				.column {
					width: 100%;
					height: auto;
					display: block;

					iframe {
						width: 100% !important;
						height: 200px;
						display: block;
						position: relative;
						margin-bottom: 30px;
						padding: 0;

						@include breakpoint($mobile-small) {
							margin-bottom: 50px;
							height: 360px;
						}

						@include breakpoint($screen-small) {
							margin-bottom: 0;
						}
					}

					h2 {
						font-family: $heading-font-family;
						font-size: $base-font-size * 2.0;
						line-height: 100%;
						color: $base-blue;
						display: inline-block;
						position: relative;
						margin-bottom: 30px;

						@include breakpoint($mobile-small) {
							font-size: $base-font-size * 2.5;
						}

						@include breakpoint($screen-small) {
							font-size: $base-font-size * 3.0;
						}
					}

					p {
						font-size: $base-font-size;
						color: $base-gray-a6;

						@include breakpoint($mobile-small) {
							font-size: $base-font-size * 1.142;	
						}				
					}
				}
			}

			figure {
				width: 100%;
				height: auto;
				display: block;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;					
					left: 10px;
					background: $base-blue;		
					top: 0;
					z-index: 0;
					display: block;
					@include transform(rotate(1.5deg));
				}

				img {
					width: 100%;
					height: auto;
					display: block;
					position: relative;
					z-index: 1;
				}
			}

			p {
				font-size: $base-font-size;
				color: $base-gray-a6;

				@include breakpoint($mobile-small) {
					font-size: $base-font-size * 1.142;	
				}				
			}

			ul {
				width: 100%;
				height: auto;
				display: block;
				padding-left: 30px;
				margin-bottom: 20px;

				li {
					display: block;
					margin-bottom: 5px;
					font-size: $base-font-size;
					color: $base-gray-a6;

					@include breakpoint($mobile-small) {
						font-size: $base-font-size * 1.142;	
					}	

					&::before {
						content: "\f105";
						font-family: 'Font Awesome 5 Pro';
						font-style: normal;
						font-weight: 300;
						color: $base-orange;
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
					}
				}
			}
		}
	}
}

section.page-vendas-atacado {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 50px;

	@include breakpoint($mobile-large) {
		margin-bottom: 100px;
	}

	.page-vendas-atacado-container {
		width: 100%;
		height: auto;
		display: block;

		.page-vendas-atacado-content {
			width: 100%;
			height: auto;
			position: relative;
			margin-bottom: 50px;
			
			.page-vendas-atacado-row {
				width: 100%;
				height: auto;
				position: relative;

				@include breakpoint($screen-small) {
					display: grid;
		  			grid-template-columns: calc(60% - 50px) 40%;
		  			grid-gap: 0 50px;
				}

				.column {
					width: 100%;
					height: auto;
					display: block;

					h2 {
						font-family: $heading-font-family;
						font-size: $base-font-size * 2.0;
						line-height: 100%;
						color: $base-blue;
						display: inline-block;
						position: relative;
						margin-bottom: 30px;

						@include breakpoint($mobile-small) {
							font-size: $base-font-size * 2.5;
						}

						@include breakpoint($screen-small) {
							font-size: $base-font-size * 3.0;
						}
					}

					h4 {
						color: $base-orange;
						font-family: $base-font-family;
						padding: 0;
						line-height: $base-small-line-height;
						margin-bottom: 5px;
					}

					p {
						font-size: $base-font-size;
						color: $base-gray-a6;

						@include breakpoint($mobile-small) {
							font-size: $base-font-size * 1.142;	
						}				
					}

					.form-group {
						width: 100%;
						height: auto;
						display: block;
						margin-bottom: 10px;

						input, textarea {
							background: $white;
						}

						.btn-clean {
							@extend .btn-clean;
						}
					}

					&:last-child {
						background: $gray-clean-f1;
						padding: 30px;
					}
				}
			}

			figure {
				width: 100%;
				height: auto;
				display: block;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;					
					left: 10px;
					background: $base-blue;		
					top: 0;
					z-index: 0;
					display: block;
					@include transform(rotate(1.5deg));
				}

				img {
					width: 100%;
					height: auto;
					display: block;
					position: relative;
					z-index: 1;
				}
			}

			p {
				font-size: $base-font-size;
				color: $base-gray-a6;

				@include breakpoint($mobile-small) {
					font-size: $base-font-size * 1.142;	
				}				
			}

			ul {
				width: 100%;
				height: auto;
				display: block;
				padding-left: 30px;
				margin-bottom: 20px;

				li {
					display: block;
					margin-bottom: 5px;
					font-size: $base-font-size;
					color: $base-gray-a6;

					@include breakpoint($mobile-small) {
						font-size: $base-font-size * 1.142;	
					}	

					&::before {
						content: "\f105";
						font-family: 'Font Awesome 5 Pro';
						font-style: normal;
						font-weight: 300;
						color: $base-orange;
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
					}
				}
			}
		}
	}
}

section.page-trocas-devolucoes {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 50px;

	@include breakpoint($mobile-large) {
		margin-bottom: 100px;
	}

	.page-trocas-devolucoes-container {
		width: 100%;
		height: auto;
		display: block;

		.page-trocas-devolucoes-content {
			width: 100%;
			height: auto;
			position: relative;
			margin-bottom: 50px;
			
			.page-trocas-devolucoes-row {
				width: 100%;
				height: auto;
				position: relative;
				display: block;
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}

				h2 {
					font-family: $heading-font-family;
					font-size: $base-font-size * 2.0;
					line-height: 100%;
					color: $base-blue;
					display: inline-block;
					position: relative;
					margin-bottom: 30px;

					@include breakpoint($mobile-small) {
						font-size: $base-font-size * 2.5;
					}

					@include breakpoint($screen-small) {
						font-size: $base-font-size * 3.0;
					}
				}

				h4 {
					color: $base-orange;
					font-family: $base-font-family;
					padding: 0;
					line-height: $base-small-line-height;
					margin-bottom: 5px;
				}

				p {
					font-size: $base-font-size;
					color: $base-gray-a6;

					@include breakpoint($mobile-small) {
						font-size: $base-font-size * 1.142;	
					}				
				}

				
			}

			figure {
				width: 100%;
				height: auto;
				display: block;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;					
					left: 10px;
					background: $base-blue;		
					top: 0;
					z-index: 0;
					display: block;
					@include transform(rotate(1.5deg));
				}

				img {
					width: 100%;
					height: auto;
					display: block;
					position: relative;
					z-index: 1;
				}
			}

			p {
				font-size: $base-font-size;
				color: $base-gray-a6;

				@include breakpoint($mobile-small) {
					font-size: $base-font-size * 1.142;	
				}				
			}

			ul {
				width: 100%;
				height: auto;
				display: block;
				padding-left: 30px;
				margin-bottom: 20px;

				li {
					display: block;
					margin-bottom: 5px;
					font-size: $base-font-size;
					color: $base-gray-a6;

					@include breakpoint($mobile-small) {
						font-size: $base-font-size * 1.142;	
					}	

					&::before {
						content: "\f105";
						font-family: 'Font Awesome 5 Pro';
						font-style: normal;
						font-weight: 300;
						color: $base-orange;
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
					}
				}
			}
		}
	}
}

section.page-contato {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	margin-bottom: 100px;

	.page-contato-container {
		width: 100%;
		height: auto;
		display: block;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;					
			left: 10px;
			background: $base-yellow;					
			top: 0;
			z-index: 0;
			display: none;
			@include transform(rotate(1.5deg));

			@include breakpoint($mobile-large) {
				display: block;
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			top: 0;
			left: 0;
			z-index: 1;
			background: $base-yellow-clean;
		}
		
		.page-contato-content {
			width: 100%;
			height: auto;
			display: block;
			position: relative;
			z-index: 2;
			padding: 30px;

			@include breakpoint($mobile-large) {
				display: grid;
	  			grid-template-columns: 30% 70%;
	  			padding: 50px;
			}

			.column {
				width: 100%;
				height: auto;
				justify-self: center;
		      	align-self: stretch;
		      	position: relative;
		      	display: block;
		      	z-index: 2;

		      	.column-title {
		      		width: 100%;
		      		height: auto;
		      		display: block;
		      		margin-bottom: 20px;

		      		h2 {
		      			font-family: $base-font-family;
		      			line-height: 100%;
		      			color: $base-yellow;
		      			margin: 0;
		      			margin-bottom: 10px;
		      		}

		      		p {
		      			font-size: $base-font-size * 0.857;
		      		}
		      	}

		      	.column-info {
		      		width: 100%;
		      		height: auto;
		      		display: block;

		      		ul {
		      			width: 100%;
		      			height: auto;
		      			display: block;

		      			li {
		      				width: 100%;
		      				height: auto;
		      				display: block;
		      				font-size: 0;
		      				margin-bottom: 10px;

		      				.column-info-icon {
		      					width: 20px;
		      					height: 20px;
		      					display: inline-block;
		      					vertical-align: top;
		      					margin-right: 10px;

		      					.fal, .fab {
		      						font-size: 20px;
		      						line-height: 20px;
		      						color: $base-yellow;
		      					}
		      				}

		      				.column-info-content {
		      					width: calc(100% - 30px);
		      					height: auto;
		      					display: inline-block;
		      					vertical-align: top;
		      					font-size: $base-font-size;

		      					b {
		      						display: block;
		      						padding: 0;
		      						margin-bottom: 0;
		      						color: $base-yellow;
		      						line-height: 100%;
		      						font-size: $base-font-size * 0.857;
		      					}

		      					span {
		      						font-size: $base-font-size;
		      						line-height: 110%;
		      						color: $base-gray-79;
		      						margin: 0;
		      						padding: 0;

		      						small {
		      							font-size: $base-font-size * 0.857;
		      							display: block;
		      						}
		      					}
		      				}

		      				&:last-child {
		      					margin-bottom: 0;
		      				}
		      			}
		      		}
		      	}

		      	.column-form {
		      		width: 100%;
		      		height: auto;
		      		display: block;

		      		.form-group {
      					width: 100%;
      					height: auto;
      					position: relative;

      					@include breakpoint($screen-small) {
      						display: grid;
      			  			grid-template-columns: 50% 50%;
      			  			grid-gap: 0 20px;
      					}

      					.form-group-column {
      						width: 100%;
      						height: auto;
      						display: block;

      						input, textarea {
      							background: $white;
      							margin-bottom: 20px;
      						}

      						textarea {
      							min-height: 260px;
      						}

      						.select {
      							margin-bottom: 20px;

      							select {
      								background: $white;
      							}

								@include breakpoint($screen-small) {
									margin-bottom: 0;
								}
      						}

      						.btn-clean {
      							@extend .btn-clean;
      						}

      						br {
      							display: none;
      						}
      					}
		      		}
		      	}

		      	&:first-child {
		      		padding-right: 0;
		      		margin-bottom: 30px;

		      		@include breakpoint($mobile-large) {
		      			border-right: 1px solid $base-yellow !important;
		      			padding-right: 50px;
		      			margin-bottom: 0;
		      		}
		      	}

		      	&:last-child {
		      		padding: 0;

		      		@include breakpoint($mobile-large) {
		      			padding-left: 50px;
		      		}
		      	}
			}
		}
	}
}