//
// layouts/produtos.scss
//


section.produto-common {
	width: 100%;
	height: auto;	
	background: $white;
	padding: 20px 0px 0px 0px;
	margin-top: 0px;
	position: relative;
	z-index: 0;

	&.first {
		padding: 80px 0px 0px 0px;
	}

	.produto-common-container {
		width: 100%;
		height: auto;
		display: inline-block;

		.produto-common-description {
			width: 100%;
			height: auto;
			position: relative;
			display: block;
			text-align: center;

			h4 {
				font-size: $base-font-size * 1.857;				
				background: $white;
				font-family: $heading-font-family;
				margin: auto;
				display: inline-block;
				padding: 0px 30px;				
				position: relative;
				z-index: 1;
				line-height: 100%;

				@include breakpoint($mobile-large) {
					font-size: $base-font-size * 2.757;
				}				
			}

			span {
				width: 100%;
				margin: auto;
				display: block;
				height: 3px;				
				position: relative;
				margin-top: -20px;
				z-index: 0;	

				@include breakpoint($mobile-small) {
					width: 360px;
				}		
			}

			p {
				font-size: $base-font-size * 1.071;
				color: $base-gray-d1;
				font-family: $base-font-family;				
				line-height: $base-line-height;
				padding: 0px;
				margin: 20px 0px 60px 0px;
				text-align: center;
			}

			&.base-color-1 {
				h4 {
					color: $base-blue;
				}
				
				span {
					background: $base-blue;
				}
			}

			&.base-color-2 {
				h4 {
					color: $base-purple;
				}

				span {
					background: $base-purple;
				}
			}

			&.base-color-3 {
				h4 {
					color: $base-color;
				}

				span {
					background: $base-color;
				}
			}

			&.base-color-4 {
				h4 {
					color: $base-orange;
				}

				span {
					background: $base-orange;
				}
			}
		}
	}
}
