//
// layouts/promocoes.scss
//

section.promocoes-slider {
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	position: relative;
	max-height: 350px;
	margin-bottom: 40px;

	@include breakpoint($mobile-large) {
		margin-bottom: 60px;
	}

	@include breakpoint($mobile-large) {
		max-height: 400px;
	}

	.promocoes-slider-item {
		width: 100%;
		height: auto;
		display: block;
		position: relative;

		.promocoes-slider-item-container {
			width: 100%;
			height: 350px;		
			display: block;
			position: relative;
			overflow: hidden;

			@include breakpoint($mobile-large) {
				height: 400px;	
			}

			.promocoes-slider-bg {
				width: 100%;
				height: 100% !important;
				background-repeat: no-repeat !important;
				background-position: center center !important;
				background-size: cover !important;
				position: absolute;		
				display: block;
				top: 0;
				left: 0;		
			}

			.promocoes-slider-container {	
				width: 80%;
				height: auto;
				display: block;
				position: absolute;
				top: 50%;
				left: 10%;
				@include transform(translateY(-50%));
				
				.promocoes-slider-content {
					width: 100%;
					height: auto;
					display: block;						

					.promocoes-slider-title {
						color: $white;
						font-family: $heading-font-family;
						line-height: $base-small-line-height;
						margin-bottom: 10px;
						font-size: $base-font-size * 1.681;
						
						@include breakpoint($mobile-large) {
							font-size: $base-font-size * 2.0;
						}
						
						@include breakpoint($screen-small) {
							font-size: $base-font-size * 2.279;
						}	
					}						

					.promocoes-slider-desc {
						width: 100%;
						color: $white;							
						font-size: $base-font-size;
						font-family: $base-font-family;
						line-height: $base-line-height;	
						margin-bottom: 30px;

						@include breakpoint($mobile-large) {
							width: 60%;
						}	

						@include breakpoint($screen-medium) {
							width: 45%;
						}

						br {
							display: none;
							
							@include breakpoint($mobile-large) {
								display: block;
							}
						}

						p {
							margin-bottom: 0;
						}
					}

					.box-button {

						.btn-sing {

							&::before {
								 @include transform(rotate(0deg));
								 left: 5px;									 
							}

							&::after {
								 @include transform(rotate(-1.5deg));
								 left: 0;
								 top: 0;
							}			
						}
					}
				}
			}
		}
	}

	.slick-prev, .slick-next {
		width: 30px;	 
		top: 50%;
		@include transform(translateY(-50%));

		@include breakpoint($mobile-large) {
			width: 50px;
			top: 50%;
		}

		&::before {
			font-size: 30px;

			@include breakpoint($mobile-large) {
				font-size: 50px;
			}
		}
	}

	.slick-dots {
		width: 90%;
		height: auto;
		position: absolute;
		display: block;
		bottom: 20px;
		left: 5%;
		text-align: right;
		padding: 0;

		@include breakpoint($screen-medium) {
			width: 1200px;
			margin-left: -600px;
			left: 50%;
		}

		li {
			display: inline-block !important;
		}

		button {
			width: 16px;
			height: 16px;
			line-height: 16px;
			border-radius: 16px;
			display: inline-block;
			padding: 0px;
			margin: 0px 2.5px;
			background: transparent;
			border: 2px solid $white !important;
			font-size: 0;
			position: relative;
			border: 0;
			cursor: pointer;
			
			&:hover {
				background: transparent;
			}		
		}

		.slick-active {

			button {						

		    	&::before {
			    	position: absolute;
		    		top: 4px;
		    	    left: 4px;
		    	    width: 4px;
		    	    height: 4px;
		    	    content: '';
		    	    text-align: center;				    	    
		    	    background: $white !important;
		    	    -webkit-font-smoothing: antialiased;
		    	    -moz-osx-font-smoothing: grayscale;
		    	    border-radius: 100%;
		    	}
			}
		}				
	}
}