//
// layouts/single.scss
//

section.page-blog-single {
	width: 100%;
	height: auto;	
	background: $white;
	padding: 90px 0px 30px 0px;
	margin-top: 0px;
	position: relative;
	z-index: 0;

	@include breakpoint($mobile-large) {
		padding: 100px 0px 70px 0px;
	}

	.page-blog-single-container {
		width: 100%;
		display: table;
		margin: auto;
		padding: 0px;

		@include breakpoint($screen-small) {
			padding: 0px 3% 0px 3%;
		}

		@include breakpoint($screen-medium) {
			padding: 0px 12% 0px 12%;
		}

		#article {
			width: 100%;
			display: table;
			padding: 100px 0px 30px 0px;			

			@include breakpoint($mobile-large) {
				padding: 130px 15px 30px 15px;	
			}

			.page-blog-single-content {
				width: 100%;
			    background: $white;
			    border: 1px solid $base-gray-clean;
			    position: relative;
			    z-index: 0;
			    display: table;
				border-radius: 5px;			
				padding: 40px 0px;

				@include breakpoint($mobile-large) {
					margin-left: 50px;
					border-radius: 200px;	
					padding: 0px;
					width: calc(100% - 50px);	
				}				

				.column-imagem {
					width: 100%;
					display: block;
					position: relative;
					z-index: 2;					

					@include breakpoint($mobile-large) {
						width: 40%;
						display: inline-block;
						float: left;					
						margin-left: -50px;
					}

					@include breakpoint($screen-small) {
						margin-top: -50px;
					}

					figure {
						width: 100%;
						display: block;
						height: auto;
						position: relative;

						.image {
							background-repeat: no-repeat;
							background-size: cover;
							height: 250px;
							width: 260px;
							border-radius: 50%;
							margin: auto auto 30px auto;
							background-position: center center;
							@include transition(all 200ms ease-in-out);							

							@include breakpoint($mobile-large) {
								height: 240px;
								width: 260px;
								margin: 0;
							}							

							@include breakpoint($screen-small) {
								height: 280px;
								width: 300px;
							}	
						}
					}
				}

				.column-description {
					width: 100%;
					margin: 0;	
					padding: 0px 20px 0px 20px;
					text-align: center;

					@include breakpoint($mobile-large) {
						width: 60%;
						height: 230px;					
						align-items: center;
					    display: flex;
					    flex-direction: row;
					    flex-wrap: wrap;
						float: left;
						padding: 0px 40px 0px 20px;
						text-align: left;
					}					

					.post-date {
						width: 100%;

						h6 {
							font-size: $base-font-size  * 0.860;
							color: $base-gray-8;
							font-family: $base-italic-font-family;
						}

						.fa-clock-o {
							margin-left: 10px;
							margin-right: 2px;
						}

						.fa-user-o {
							font-size: $base-font-size  * 0.785;
							display: inline-block;
							margin-top: 5px;
							float: none;
							margin-right: 5px;

							@include breakpoint($mobile-large) {
								float: left;
							}
						}
					}

					.post-title {
						width: 100%;
						height: auto;

						h1 {
							font-size: $base-font-size  * 1.100;
							color: $base-color;
							font-family: $base-font-family;
							line-height: $base-medium-line-height;
							text-transform: uppercase;
							letter-spacing: 3px;
							margin: 0px;

							@include breakpoint($mobile-large) {
								font-size: $base-font-size  * 1.350;
							}					
						}
					}
				}
			}

			.post-description {
				width: 100%;
				display: table;
				padding: 60px 0px 0px;
				margin: 0 auto;
				background: $white;

				@include breakpoint($mobile-large) {
					width: 90%;
				}

				.gallery {
				   width: 100%;
				   height: auto;
				   display: table;
				   padding: 50px 0;

				   dt, dl {
				       margin: 0;
				       padding: 0;
				       -webkit-margin-before: 0;
				       -webkit-margin-after: 0;
				       -webkit-margin-start: 0;
				       -webkit-margin-end: 0;
				   } 

				   .gallery-item {
				       margin: 0;
				       padding: 0;
				       @include span(4 inside nest);
				       margin-bottom: 0;

				       img {
				           width: 100%;
				           height: auto;
				           display: block;
				           margin: 0;
				       }
				   }

				   &.gallery-columns-2 {

				       .gallery-item {
				           margin: 0;
				           padding: 0;
				           @include span(6 inside nest);
				           margin-bottom: 0;

				           img {
				               width: 100%;
				               height: auto;
				               display: block;
				               margin: 0;
				           }
				       }
				   }

				   &.gallery-columns-3 {

				       .gallery-item {
				           margin: 0;
				           padding: 0;
				           @include span(6 inside nest);
				           margin-bottom: 0;

				           @include breakpoint($mobile-large) {
				               @include span(4 inside nest);
				           }

				           img {
				               width: 100%;
				               height: auto;
				               display: block;
				               margin: 0;
				           }
				       }
				   }

				   br {
				       display: none;
				   }
				}

				p {
				   font-size:$base-font-size;
				   margin-bottom:20px;
				   text-align: center;

				   @include breakpoint($screen-medium) {
				   		text-align: left;
				   }

				   @include breakpoint($mobile-large) {
				       font-size:$base-font-size * 1.100;
				   }
				}				

				blockquote {
				   width:100%;
				   height:auto;
				   display:block;
				   padding-left:20px;
				   margin-bottom:20px;
				   border-left:4px solid lighten($base-font-color, 90);
				   box-sizing:border-box;
				   font-size:$base-font-size;
				   line-height:$base-font-size * 2;
				   line-height: 100%;
				   color:lighten($black, 60);
				}

				ul {
				   width:90%;
				   margin:0 auto;
				   margin-bottom:25px;

				   li {
				       list-style:square;
				       list-style-position:inside;
				   }
				}

				ol {
				   width:90%;
				   margin:0 auto;
				   margin-bottom:25px;

				   li {
				       list-style:decimal;
				       list-style-position:inside;
				   }
				}

				code {
				   width:100%;
				   height:auto;
				   font-family: monospace;
				   font-size:80%;
				   padding:20px;
				   box-sizing:border-box;
				   border:1px solid lighten($black, 90);
				   background:lighten($black, 97);
				   display:block;
				   margin-bottom:20px;
				}

				img {
				   max-width:100%;
				   height: auto;
				   margin:50px auto;
				   display:block;
				}

				iframe {
				   width: 100%;
				   height: 450px;
				   display: block;
				   padding: 30px 0;
				}
			}
		}
	}
}



.post-description {
	width: 100%;
	height: auto;
	display: block;

	.page-blog-single-content {
		border-radius: 0px !important;
		background: $white !important;
		box-shadow: 0px 0px 0px $white !important;
	}
}




