//
// layouts/single-product.scss
//

section.single-wrapper {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 50px;

	@include breakpoint($mobile-large) {
		margin-bottom: 100px;
	}

	.single-product-container {
		width: 100%;
		height: auto;
		display: block;
		position: relative;

		.column {
			width: 100%;
			position: relative;
			margin-bottom: 30px;

			@include breakpoint($mobile-large) {
				@include span(6);
				margin-bottom: 0;
			}
			 
			.woocommerce-product-gallery {
				width: 100%;
				height: auto;
				display: block;
				position: relative;
				border: 1px solid $gray-clean-f1;
				padding: 20px;
				margin-bottom: 30px;

				.flex-viewport {
					//width: 100%;
					height: auto;
					display: block;
					margin-bottom: 20px;
					figure {
						//width: 100%!important;
						height: auto;
						display: block;
						margin: 0;

						img {
							display: block;
							margin: 0 auto;
							max-width: 100%;
							height: auto;
							&.zoomImg {
								cursor: zoom-in;
							}
						}
					}
				}

				.flex-control-thumbs {
					width: 100%;
					height: auto;
					display: block;
					position: relative;
					font-size: 0;
					text-align: center;

					li {
						display: inline-block;
						vertical-align: top;
						list-style: none;
						float: none;
						cursor: pointer;
						max-width: 60px;
						margin-right: 10px;
						margin-bottom: 10px;

						img {
							width: 100%;
							height: auto;
							display: block;
							opacity: .7;

							&.flex-active,
							&:hover {
								opacity: 1;
							}
						}

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}

			.single-product-meu-kit {
				width: 100%;
				height: auto;
				display: block;

				.single-product-meu-kit-container {
					width: 100%;
					height: auto;
					display: block;
					background: $gray-clean-f1;
					border-radius: 3px;
					font-size: 0;

					.single-product-meu-kit-image {
						width: 100%;
						height: auto;
						display: inline-block;
						vertical-align: bottom;
						margin-right: 20px;
						padding-top: 10px;

						@include breakpoint($mobile-small) {
							width: 150px;
						}

						@include breakpoint($mobile-large) {
							width: 100%;
						}

						@include breakpoint($screen-small) {
							width: 150px;
						}

						figure {
							width: 100%;
							height: auto;
							display: block;
							max-width: 150px;

							img {
								width: 100%;
								height: auto;
								display: block;
							}
						}
					}

					.single-product-meu-kit-content {
						width: 100%;
						display: inline-block;
						vertical-align: top;
						font-size: $base-font-size;
						padding: 0 10px 10px 0;

						@include breakpoint($mobile-small) {
							width: calc(100% - 170px);
							padding: 10px 10px 10px 0;
						}

						@include breakpoint($mobile-large) {
							width: 100%;
							padding: 0 10px 10px 0;
						}

						@include breakpoint($screen-small) {
							width: calc(100% - 170px);
							padding: 10px 10px 10px 0;
						}
						

						.single-product-meu-kit-box {
							background: $white;
							border-radius: 3px;
							padding: 20px;

							h4 {
								font-family: $heading-font-family;
								color: $base-color;
								padding: 0;
								margin-bottom: 5px;
							}

							p {
								font-size: $base-font-size * 0.857;
								color: $base-gray-79;
								margin: 0;
								padding: 0;
								margin-bottom: 5px;
							}

							a {
								.fal, .fab, .fas {
									color: $base-color;
									
								}

								&::before {
									background: $base-color;

								}

								&:hover, &:active {

									.fal, .fab, .fas {
										color: $base-font-color;
										
									}

									span {
										color: $base-color;
									}

									&::before {
										background: $base-font-color;
									}		
								}
							}
						}
					}
				}
			}

			.product-summary {
				width: 100%;
				height: auto;
				display: block;

				h2 {
					color: $base-gray-79;
					font-family: $heading-font-family;
					line-height: $base-small-line-height;
					margin-bottom: 10px;
				}

				.product-cat {
					width: 100%;
					height: auto;
					display: block;
					margin-bottom: 30px;

					p {
						font-size: $base-font-size;
						font-family: $base-italic-font-family;
						line-height: $base-large-line-height;
						color: $base-gray-b7;
						margin-bottom: 0;

						span {

							&::after {
								content: ", ";
							}

							&:last-child {

								&::after {
									content: "";
								}
							}
						}
					}
				}

				.product-quote {
					width: 100%;
					height: auto;
					display: block;
					position: relative;
					margin-bottom: 30px;

					&::before {
						content: "\f10d";
						font-family: 'Font Awesome 5 Pro';
						font-size: 20px;
						line-height: 20px;
						color: $base-blue;
						position: absolute;
						top: 0;
						left: 0;
						display: block;
						color: $base-blue;
					}

					p {
						font-size: $base-font-size;
						font-family: $base-font-family;
						line-height: $base-large-line-height;
						color: $base-gray-b7;
						padding-left: 40px;
						display: block;
						margin-bottom: 0;
					}
				}	

				.product-variations {
					width: 100%;
					height: auto;
					display: block;
					margin-bottom: 20px;

					@include breakpoint($mobile-medium) {
						display: grid;
						grid: auto / repeat(2, 1fr);
						grid-gap: 0 10px;
					}

					.product-variations-item {
						width: 100%;
						height: auto;
						display: block;

				      	@include breakpoint($mobile-medium) {
		      				justify-self: center;
		      		      	align-self: stretch;
		      		      	text-align: left;
				      	}

						.product-variations-item-title {
							width: 100%;
							height: auto;
							display: block;
							
							label {
								font-family: $base-italic-font-family;
								font-size: $base-font-size * 0.857;
								color: $base-yellow;
							}
						}

						.product-variations-item-value {
							width: 100%;
							height: auto;
							display: block;

							.reset_variations {
								width: 100%;
								height: auto;
								display: none;
								cursor: pointer;
								margin-top: 5px;
								color: $not-error;
								font-size: $base-font-size * 0.857;

								&::before {
									content:"\f51a";
									font-family: 'Font Awesome 5 Pro';
									font-size: $base-font-size;
									color: $not-error;
									font-weight: 300;
									margin-right: 5px;
								}
							}
						}
					}
				}

				.woocommerce-product-rating {
					width: 100%;
					height: auto;
					display: block;
					margin-bottom: 10px;

					.star-rating {

						&::before {
							color: $base-yellow;
						}

						span {
							color: $base-yellow;
						}
					}

					a.woocommerce-review-link {
						display: inline-block;
						font-size: $base-font-size * 0.857;
						font-family: $base-font-family;
						color: $base-yellow;
						line-height: 100%;
						@include transition(all 150ms ease-in-out);

						&:hover {
							color: $base-font-color;
						}
					}
				}

				.product-summary-price {
					width: 100%;
					height: auto;
					display: block;
					font-size: 0;
					margin-bottom: 30px;

					@include breakpoint($mobile-small) {
						display: flex;
						align-items: strech;
					}

					.product-summary-price-text {
						width: 100%;
						height: auto;
						display: block;
						margin-bottom: 10px;
						padding-bottom: 10px;
						border-bottom: 2px solid $gray-clean-f1;

						@include breakpoint($mobile-small) {
							width: auto;
							display: inline-block;
							vertical-align: top;
							margin-right: 20px;
							padding-right: 20px;
							border-right: 2px solid $gray-clean-f1;
							
							margin-bottom: 0;
							padding-bottom: 0;
							border-bottom: 0;
						}

						del {
							display: block;
							margin-bottom: 5px;
							text-decoration: none !important;

							.woocommerce-Price-amount {
								font-size: $base-font-size;
								color: $base-gray-b7;						
								font-family: $base-font-family;
								line-height: $base-small-line-height;
								margin: 0px;
								line-height: 100%;
								text-decoration: line-through;
								color: $not-error;

								span {
									margin-right: 0px;
								}
							}	

							&::before {
								content: "DE: ";
								display: inline;
								font-size: $base-font-size * 0.857;
								color: $base-gray-b7;
							}

							&::after {
								content: " POR:";
								display: inline;
								font-size: $base-font-size * 0.857;
								color: $base-gray-b7;
							}		
						}
						
						ins { 
							text-decoration: none;
							display: inline;
						}

						.woocommerce-Price-amount {
							font-size: $base-font-size * 2.071;
							color: $base-blue;
							font-family: $bold-font-family;
							line-height: $base-small-line-height;
							margin: 0;
							line-height: 100%;

							@include breakpoint($mobile-large) {
								font-size: $base-font-size * 2.571;
							}

							@include breakpoint($screen-medium) {
								font-size: $base-font-size * 3.571;
							}

							.woocommerce-Price-currencySymbol {
								font-size: $base-font-size;
								margin-right: 3px;
							}
						}
					}

					.product-summary-price-share {
						width: 100%;
						height: auto;
						display: block;

						@include breakpoint($mobile-medium) {
							width: auto;
							display: inline-block;
							vertical-align: top;
						}

						p {
							font-size: $base-font-size;
							font-family: $base-italic-font-family;
							line-height: $base-large-line-height;
							color: $base-gray-b7;
							margin-bottom: 5px;
						}
					}
				}	

				.product-summary-cart {
					width: 100%;
					height: auto;
					display: block;
					position: relative;

					.product-summary-cart-row {
						width: 100%;
						height: auto;
						display: block;
						font-size: 0;
						margin-bottom: 20px;

						.column {
							@include span(6);
							float: none;
							display: inline-block;
							vertical-align: middle;
							font-size: $base-font-size;
							padding: 0;

							.btn-clean {
								width: 100% !important; 
								display: block;
							}

							&:last-child {
								@include span(6 last);
								float: none;
								display: inline-block;
								vertical-align: middle;
							}
						}

						.quantity {
							width: 100%;
							display: block;
							position: relative;

							input {
								width: 100%;
							}

							&::before {
								content: "Quantidade:";
								font-family: $base-font-family;
								font-size: $base-font-size * 0.857;
								color: $base-gray-light;
								// text-transform: uppercase;
								position: absolute;
								top: 0;
								left: 20px;
								display: block;
								line-height: 50px;
								z-index: 1;
							}
						}

						&:last-child {
							margin-bottom: 0;
						}
					}

					.woocommerce-variation-price {
						width: 100%;
						height: auto;
						display: none;
						margin-bottom: 20px;
						margin-top: 10px;
						padding-top: 10px;
						border-top: 1px dashed $gray-clean-f1;

						.price {
							font-size: $base-font-size * 1.142;

							del {
								text-decoration: none;

								&::before {
									content:"Aproveite! Este produto está saindo de: ";
								}

								.woocommerce-Price-amount {
									color: $not-error;
									text-decoration: line-through;
								}
							}

							ins {
								text-decoration: none;

								&::before {
									content:"por: ";
								}

								.woocommerce-Price-amount {
									color: $not-success;
									font-family: $bold-font-family;
									font-size: $base-font-size * 1.285;
								}
							}
						}
					}
				}

				.single_add_to_cart_button {
					width: 100%;
					line-height: 80px;
					height: 80px;	
					text-transform: none;
					font-family: $heading-font-family;
					font-size: $base-font-size * 2.571;
					background: transparent;
					padding: 0;
					font-weight: normal;
					border: 0;
					// margin-bottom: 25px;

					&::before {
						background: $base-blue;
						height: 80px;
					}	

					&::after {
						background: $base-blue-green;		
						height: 80px;			
					}		

					span {

						.fal {
							font-size: 36px;
						}
					}	

					&:hover {
						background: transparent;
						
						&::before {
							background: $base-blue-green !important;
							@include transition(all 100ms ease-in);
						}

						&::after {
							background: $base-blue !important;				
							@include transition(all 100ms ease-in);
						}	

						span {
							color: $white;
							@include transition(all 100ms ease-in);

							.fal {
								color: $white;
								@include transition(all 100ms ease-in);
							}
						}										
					}	

					&.disabled {
						opacity: 1;

						span {
							color: $base-gray-light !important;

							.fal {
								color: $base-gray-light !important;
							}
						}

						&::before {
							background: $gray-clean-f1 !important;
						}	

						&::after {
							background: $base-gray-light !important;
						}

						&:hover {

							&::before {
								background: $gray-clean-f1 !important;
							}	

							&::after {
								background: $base-gray-light !important;	
							}
						}
					}

					.spin {
						display: none;
					}

					&.loading {
						background: transparent !important;
						cursor: not-allowed;
						position: relative;
						opacity: 1;

						span {
							color: $base-gray-light !important;

							.fal {
								color: $base-gray-light !important;
							}
						}

						.spin {
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							z-index: 4;
							display: block;

							&::before {
								content: "\f110";
								font-family: 'Font Awesome 5 Pro';
							    display: inline-block;
							    font-size: 30px;   	    
							    line-height: 30px;
							    display: block;
							    position: absolute;
							    top: 50%;
							    left: 50%;
							    margin-left: -15px;
							    margin-top: -15px;
							    color: $base-blue-green;
							    z-index: 5;
							    @include animation(fa-spin .75s linear infinite); 
							}
						}

						&::before {
							background: $gray-clean-f1 !important;
						}	

						&::after {
							background: $base-gray-light !important;	
							font-family: $base-font-family;
							content: '';
							vertical-align: top;
							font-weight: inherit;
							position: absolute;
							top: 4px;
							right: auto;
							@include animation(0); 
						}	
					}
				}

				.woosw-btn {
					@extend .btn-sing;
					width: 100%;
					font-family: $heading-font-family;
					font-size: $base-font-size;
					text-transform: none;

					@include breakpoint($screen-small) {
						font-size: $base-font-size * 1.285;
					}

					span {

						&::before {
							content: '\f49d';
							font-family: 'Font Awesome 5 Pro';
							font-weight: 300;
							font-size: 20px;
							line-height: 100%;
							display: inline-block;
							vertical-align: middle;
							color: $white;
							margin-right: 10px;
							padding-bottom: 5px;		
							@include transition(all 250ms ease-out);

							@include breakpoint($screen-small) {
								font-size: 22px;
							}				
						}
					}

					&:hover {

						span {

							&::before {
								color: $base-color;
								@include transition(all 100ms ease-in);
							}
						}	
					}

					&.woosw-adding {
						background: transparent !important;
						cursor: not-allowed;
						position: relative;
						opacity: 1;

						span {
							color: $base-gray-light !important;

							&::before {
								color: $base-gray-light !important;
							}
						}

						span {
							position: relative;

							&::after {
								content: "\f110";
								font-family: 'Font Awesome 5 Pro';
							    display: inline-block;
							    font-size: 30px;   	    
							    line-height: 30px;
							    display: block;
							    position: absolute;
							    top: 50%;
							    left: 50%;
							    margin-left: -15px;
							    margin-top: -15px;
							    color: $base-yellow;
							    z-index: 5;
							    @include animation(fa-spin .75s linear infinite); 
							}
						}

						&::before {
							background: $gray-clean-f1 !important;
						}	

						&::after {
							background: $base-gray-light !important;	
							font-family: $base-font-family;
							content: '';
							vertical-align: top;
							font-weight: inherit;
							position: absolute;
							top: 4px;
							right: auto;
							@include animation(0); 
						}	
					}
				}
			}

			.woocommerce-variation-description {
				display: table;
			    width: 100%;
			    padding: 15px 0px 0px 0px;

			    @include breakpoint($screen-medium) {
			    	padding: 15px 100px 0px 0px;
			    }

			    p {
			    	font-size: $base-font-size * 0.900;
			    	font-family: $base-italic-font-family;
			    	line-height: $base-large-line-height;
			    	color: $base-gray-b7;
			    	margin: 0;			    	
			    }
			}

			.woocommerce-variation-add-to-cart {
				width: 100%;
				height: auto;
				display: table;
			}

			&:last-child {
				margin-bottom: 0;

				@include breakpoint($mobile-large) {
					@include span(6 last);
				}
			}
		}
	}
}

section.single-product-tabs {
	width: 100%;
	height: auto;
	display: block;
	position: relative;

	.single-product-tabs-container {
		width: 100%;
		height: auto;
		display: block;
		position: relative;
		margin-bottom: 100px;

		ul.nav-tabs {
			width: 100%;
			height: auto;
			display: block;
			margin: 0;
			padding: 0;
			font-size: 0;

			li {
				width: auto;
				display: inline-block;
				vertical-align: middle;
				border: 1px solid $base-gray-clean;
				border-right: 0;
				border-bottom: 0;
				
				a {
					font-family: $bold-font-family;
					font-size: $base-font-size;
					line-height: 50px;
					color: $base-gray-b7;
					text-align: center;
					display: block;
					padding: 0 20px;	
					cursor: pointer;

					@include breakpoint($mobile-large) {
						line-height: 60px;
						padding: 0 30px;	
					}

					&.active {
						background: $base-yellow;
						border: 1px solid $base-yellow;
						color: $white;
					}
				}

				&.active {
					background: $base-yellow;
					border: 1px solid $base-yellow;
					border-right: 0;
					
					a {
						color: $white;
					}
				}

				&:last-child {
					border-right: 1px solid $base-gray-clean;

					&.active {
						background: $base-yellow;
						border: 1px solid $base-yellow;
						color: $white;

						a {
							color: $white;
						}
					}
				}
				@media(max-width: 510px) {
					display: block;
					border-right: 1px solid $base-gray-clean;
					a{
						line-height: 40px;
						padding: 0 15px;
					}
				}
			}
		}

		.woocommerce-Tabs-panel {
			width: 100%;
			height: auto;
			display: block;
			min-height: 150px;
			padding: 30px;
			border: 1px solid $base-gray-clean;
			background: $white;

			@include breakpoint($mobile-large) {
				padding: 50px;
			}

			h3 {
				font-family: $base-font-family;
				color: $base-gray-79;
			}

			p {
				color: $base-font-color;

				&:last-child {
					margin-bottom: 0;
				}
			}

			ul.product-attr {
				width: 100%;
				height: auto;
				display: block;

				li {
					width: 100%;
					height: auto;
					display: block;
					margin-bottom: 10px;
					padding-bottom: 10px;
					font-size: 0;
					border-bottom: 1px dashed $gray-clean-f1;

					.attr-name, .attr-value {
						font-size: $base-font-size;
						display: inline-block;
						vertical-align: middle;
					}

					.attr-name {
						display: inline-block;
						vertical-align: middle;
						font-family: $bold-font-family;
						margin-right: 10px;

						@include breakpoint($mobile-large) {
							@include span(2);
							float: none;
							display: inline-block;
							vertical-align: middle;
							margin-right: 0;
						}
					}

					.attr-value {
						display: inline-block;
						vertical-align: middle;

						@include breakpoint($mobile-large) {
							@include span(10 last);
							float: none;
							display: inline-block;
							vertical-align: middle;
						}
					}
				}
			}

			#comments {
				width: 100%;
				height: auto;
				display: block;

				.woocommerce-noreviews {
					font-family: $base-font-family;
					font-size: $base-font-size * 0.857;
					color: $base-yellow;

					&::before {
						content: "\f05a";
						font-family: 'Font Awesome 5 Pro';
						color: $base-yellow;
						font-size: 14px;
						margin-right: 5px;
						display: inline-block;
						vertical-align: middle;
					}
				}

				.woocommerce-Reviews-title {
					width: 100%;
					height: auto;
					display: block;
					margin-bottom: 30px;

					span {
						color: $base-yellow;
						font-family: $bold-font-family;
					}
				}

				ol.commentlist {
					width: 100%;
					height: auto;
					display: block;

					&::before, &::after {
						display: none;
						content: "";
					}

					li.comment {
						width: 100%;
						height: auto;
						display: block;
						margin: 0 !important;
						margin-bottom: 20px !important;
						padding: 0 !important;
						border: 0 !important;
						border-radius: 0 !important;

						&::before, &::after {
							display: none;
							content: "";
						}

						.comment_container {
							width: 100%;
							height: auto;
							display: block;

							.comment-text {
								border:1px solid $gray-clean-f1 !important;
								border-radius: 0 !important;
								padding: 20px !important;

								&::before, &::after {
									display: none;
									content: "";
								}

								.star-rating {

									&::before {
										color: $base-yellow;
									}

									span {
										color: $base-yellow;
									}
								}

								.meta {

									.woocommerce-review__author {
										font-family: $bold-font-family;
										line-height: 100%;
										font-size: $base-font-size * 1.285;
										display: block;
										margin-bottom: 5px;
									}

									.woocommerce-review__dash {
										display: none;
									}

									.woocommerce-review__published-date {
										display: block;
										font-size: $base-font-size * 0.714;
										font-family: $base-italic-font-family;
										color: $base-gray-light;
										line-height: 100%;
									}
								}

								.description {
									width: 100%;
									height: auto;
									display: block;
									margin-bottom: 0;

									p {

										&:last-child {
											margin-bottom: 0;
										}
									}
								}
							}			
						}
					}
				}
			}

			#review_form_wrapper {
				width: 100%;
				height: auto;
				display: block;

				#review_form {

					#respond {

						#reply-title {
							margin-bottom: 0;
							display: block;
							font-family: $base-font-family;
							font-size: $base-font-size * 1.414;
							color: $base-gray-79;
							
							@include breakpoint($mobile-large) {
								font-size: $base-font-size * 1.58;
							}
							
							@include breakpoint($screen-small) {
								font-size: $base-font-size * 1.732;
							}

							#cancel-comment-reply-link {
								color: $not-error;
								display: inline-block;
								font-size: $base-font-size * 0.857;

								&::before {
									content: "\f057";
									font-family: 'Font Awesome 5 Pro';
									color: $not-error;
									font-size: 14px;
									display: inline-block;
									vertical-align: middle;
									margin-right: 5px;
								}
							}
						}

						#commentform {
							width: 100%;
							height: auto;
							display: block;

							.comment-notes {
								width: 100%;
								height: auto;
								font-family: $base-italic-font-family;	
								display: block;
							}

							.comment-form-rating {

								label {
									color: $base-yellow;
									font-family: $base-italic-font-family;
									display: block;
								}

								.stars {
									width: auto;
									display: inline-block;

									span {

										a {

											&::before {
												color: $base-yellow;
											}

											span {
												color: $base-yellow;
											}
										}
									}
								}
							}

							.comment-form-comment, .comment-form-author, .comment-form-email {

								label {
									font-family: $bold-font-family;
									font-size: $base-font-size * 0.857;
								}

								span {
									font-family: $bold-font-family;
									font-size: $base-font-size * 0.857;
									color: $not-error;
								}
							}


							.comment-form-comment {
								width: 100%;
								height: auto;
								display: block;
								margin-bottom: 15px;
							}

							.comment-form-row {
								width: 100%;
								height: auto;
								display: table;

								.comment-form-author {
									@include span(6);
								}

								.comment-form-email {
									@include span(6 last);
								}
							}

							#submit {
								@extend .btn-clean;
								max-width: 300px;
								min-width: 250px;
							}
						}
					}
				}

			}	
		}
		#tab-description{
			.video-wrapper{
				position: relative;
				padding-bottom: 56.25%;
				padding-top: 25px;
				height: 0;
				margin-bottom: 50px;
				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

section.single-product-related {
	width: 100%;
	height: auto;
	display: block;
	position: relative;

	.single-product-related-title {
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: 30px;

		h4 {
			font-size: $base-font-size * 1.428;
			color: $base-yellow;
			font-family: $base-font-family;
			line-height: $base-small-line-height;
			margin: 0px;
		}
	}

	.single-product-related-container {
		width: 100%;
		height: auto;
		display: block;
	}
}