//
// layouts/tudo-certo.scss
//

section.common-passos-checkout {
	width: 100%;
	height: auto;
	display: table;
	padding: 60px 0px;	
	background: $white;

	.common-passos-checkout-container {
		width: 100%;
		height: auto;
		display: table;
		padding: 0px;

		h3 {
			font-size: $base-font-size * 1.500;
			font-family: $base-font-family;
			color: $base-orange;
			margin: 0px 0px 15px 0px;
			line-height: 100%;
		}

		p {
			font-size: $base-font-size;
			margin: 10px 0px 50px 0px;
			line-height: $base-medium-line-height;

			span {
				color: $base-orange;
			}
		}

		.box-produtos {
			width: 100%;
			min-height: 150px;
			display: block;
			border: 2px dashed $base-gray-clean;			

			p {				
				font-size: $base-font-size * 1.200;
				font-family: $base-font-family;
				color: $base-gray-clean;
				margin: 55px;
				text-align: center;	
			}
		}

		ul {
			padding: 0;
			margin: 20px 0px 0px 0px;

			li {
				display: inline-block;
				padding: 0px 5px 0px 0px;
				
				.box-fotos {
					width: 200px;
					height: 110px;
					border: 1px solid $base-gray-clean;
				}

				p {
					font-size: $base-font-size;
					font-family: $bold-font-family;
					color: $base-gray-62;
					margin: 15px 0px 0px 0px;
				}

				.medidas {
					font-size: $base-font-size;
					font-family: $base-font-family;
					color: $base-gray-62;
					margin: 0px;
				}
			}
		}

		.form {
			width: 50%;

			.group-medium {
				width: 49%;
				display: block;
				float: left;

				&.last {
					
					@include breakpoint($mobile-large) {
						margin-left: 2%;
					}
				}
			}
		}

		.box-mensagem {
			width: 100%;
			height: auto;
			display: block;
			margin: 0px 0px 60px 0px;

			p {
				margin: 10px 0px 30px 0px;
				padding: 0px 10% 0px 0px;
			}
		}

		.box-button {
			width: 100%;
			height: auto;
			margin: 0px;
			position: relative;
			display: block;
			text-align: right;

			.btn-sing {
				padding: 0px 80px;
				position: relative;

				&::before {
					@include transform(rotate(0deg));
					top: 0px;
					left: 4px;				
				}

				&::after {
					@include transform(rotate(-1deg));
					top: 0px;
					left: 0px;
					height: 47px;
				}					
			}			
		}
	}

	&.dark {
		background: $base-yellow-clean;

		p {
			margin: 10px 0px 0px 0px;			
		}
	}
}