//
// base/buttons.scss
//

.btn-sing {
	width: 100%;
	line-height: 50px;
	height: 50px;	
	font-family: $bold-font-family;
	font-size: $base-font-size * 0.857;
	padding:0 30px;
	display: inline-block;
	font-weight: normal;
	vertical-align: middle;
	text-decoration: none;
	text-transform:uppercase;
	text-align: center;
	user-select: none;
	outline:0;
	border-radius: 0;
	white-space: nowrap;
	cursor: pointer;
	position: relative;
	border: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	background: transparent;
    @include appearance(none);
    @include backface-visibility(hidden);
	@include transform(translateZ(0) scale(1.0));
	@include transition(all 250ms ease-out);

	@include breakpoint($mobile-small) {
		width: auto;
		padding:0 40px;
	}

	@include breakpoint($screen-small) {
		font-size: $base-font-size;
	}

	&::before {
		content: '';
		width: 100%;
		height: 50px;
		position: absolute;	
		border: 0;
		top: 0;
		left: 0;
		z-index: 1;
		background: $base-color;
		@include transform(rotate(-1deg));
		@include transition(all 250ms ease-out);
	}

	&::after {
		content: '';
		width: 100%;	
		height: 50px;
		position: absolute;
		border: 0px;			
		top: 4px;
		left: 5px;
		z-index: 0;
		background: $base-yellow;
		@include transition(all 250ms ease-out);
	}

	span {
		color: $white;
		position: relative;
		z-index: 2;
		@include transition(all 250ms ease-out);

		&:before {
			display: none;
		}

		.fal {
			font-size: 16px;				
			margin-right: 5px;
			color: $white;
			@include transition(all 250ms ease-out);
		}
	}

	&:hover {
		
		&::before {
			background: $base-yellow;
			@include transition(all 100ms ease-in);
		}

		&::after {
			background: $base-color;				
			@include transition(all 100ms ease-in);
		}	

		span {
			color: $base-color;
			@include transition(all 100ms ease-in);

			.fal {
				color: $base-color;
				@include transition(all 100ms ease-in);
			}
		}										
	}
}

.btn-clean {
	width: 100%;
	line-height: 50px;
	height: 50px;	
	font-family: $bold-font-family;
	font-size: $base-font-size * 0.857;
	padding:0 30px;
	display: inline-block;
	font-weight: normal;
	vertical-align: middle;
	text-decoration: none;
	text-transform:uppercase;
	text-align: center;
	user-select: none;
	outline:0;
	border-radius: 0;
	border: 0;
	white-space: nowrap;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	background-color: $base-yellow;
	color: $white;
	border-bottom: 2px solid darken($base-yellow, 10);
	-webkit-font-smoothing: antialiased;
    @include appearance(none);
    @include backface-visibility(hidden);
	@include transform(translateZ(0) scale(1.0));
	@include transition(all 250ms ease-out);

	@include breakpoint($mobile-small) {
		width: auto;
		padding:0 40px;
	}

	@include breakpoint($screen-small) {
		font-size: $base-font-size;
	}

	span {
		display: inline-block;
		vertical-align: middle;
	}

	.fal {
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}

	&:hover {
		border-bottom: $base-yellow;

		span {
			color: $base-color;
			@include transition(all 100ms ease-in);
		}										

		.fal {
			color: $base-color;
			@include transition(all 100ms ease-in);
		}
	}
}

.btn-simple {
	width: auto;
	line-height: 35px;
	height: 35px;	
	font-family: $bold-font-family;
	font-size: $base-font-size * 0.857;
	padding:0;
	display: inline-block;
	font-weight: normal;
	vertical-align: middle;
	text-decoration: none;
	text-transform: none;
	text-align: center;
	user-select: none;
	outline:0;
	border-radius: 0;
	white-space: nowrap;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	background-color: transparent;
	color: $base-font-color;
	border: 0;
	-webkit-font-smoothing: antialiased;
    @include appearance(none);
    @include backface-visibility(hidden);
	@include transform(translateZ(0) scale(1.0));
	// @include transition(all 100ms ease-in-out);

	@include breakpoint($mobile-small) {
		width: auto;
		padding:0;
	}

	@include breakpoint($screen-small) {
		font-size: $base-font-size;
	}

	span {
		display: inline-block;
		vertical-align: middle;
		@include transition(all 100ms ease-in-out);
	}

	.fal, .fab, .fas {
		display: inline-block;
		vertical-align: middle;
		color: $base-orange;
		margin-right: 5px;
		@include transition(all 100ms ease-in-out);
		
	}

	&::before {
		content: "";
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background: $base-orange;
		position: absolute;
		@include transform(rotate(-0.5deg));
		@include transition(all 100ms ease-in-out);

	}

	&:hover, &:active {

		.fal, .fab, .fas {
			color: $base-font-color;
			
		}

		span {
			color: $base-orange;
		}

		&::before {
			background: $base-font-color;
		}										
	}
}