//
// base/clearfix.scss
//

.clearfix {
	width:100%;
	clear: both;
	display: table;
	
	&::after {
		clear: both;
		content: "";
		display: table;
	}	
	
	&.header {
		height: 80px;

		@include breakpoint($mobile-large) {
			height: 131px;	
		}
	}
}