//
// base/forms.scss
//
//
// base/forms.scss
//

fieldset {
	border: $base-border;
	margin: 0 0 $small-spacing;
	padding: $base-spacing;
}

input,
label,
select {
	font-family: $base-font-family;
	font-size: $base-font-size;
}

.select {
	width: 100%;
	height: auto;
	position:relative;
	display: block;

	select {
		width: 100%;
		height:50px;
	    padding:0 20px;
	    margin: 0;
	    color: $base-font-color;
		font-size:$base-font-size * 0.857;
		line-height:50px;
	    border: 1px solid $base-gray-clean;
		border-radius:0;
	    background: transparent;
	    display: inline-block;
		outline:none;
	    cursor:pointer;
		box-sizing: border-box;
		@include appearance(none);
		@include transition(all 100ms ease-in-out);

		&:hover {
			border: 1px solid $action-color;
		}

		&:focus {
			border: 1px solid $action-color;
			outline: none;
		}

		&:disabled {
			cursor: not-allowed;
		}
	}

	&::after {
		content:'\f107';
		font-family: 'Font Awesome 5 Pro';
	    font-size: $base-font-size;
		line-height:50px;
	    color:$base-font-color;
	    right:20px;
		top: 0;
	    position:absolute;
	    @include transition(all 100ms ease-in-out);
	}

	&:hover {

		&::after {
		    color:$action-color;
		}
	}

	&:focus {

		&::after {
		    color:$action-color;
		}
	}
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
	width: 100%;
	height:50px;
	line-height:50px;
	background: transparent;
	border: 1px solid $base-gray-clean;
	border-radius: 0;
	box-sizing: border-box;
	display: block;
	font-family: $base-font-family;
	font-size: $base-font-size * 0.857;
	margin:0;
	padding: 0 20px;
	transition: border-color;
	@include appearance(none);
	@include transition(all 100ms ease-in-out);
	@include placeholder {
    	color: $gray;
	}

	@include breakpoint($mobile-large) {
  		font-size: $base-font-size;
	}

	&:hover {
		border: 1px solid $action-color;
	}

	&:focus {
		border: 1px solid $action-color;
		outline: none;
	}

	&:disabled {
		cursor: not-allowed;
	}
}

textarea {
	min-height:150px;
	line-height:100%;
	padding:20px;
	resize: vertical;
}

input[type="search"] {
	@include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
	margin-right: $small-spacing / 2;
}

input[type="file"] {
	padding-bottom: $small-spacing;
	width: 100%;
}

select {
	margin-bottom: $base-spacing;
	max-width: 100%;
	width: auto;
}

.form-control {
	width: 100%;
	height:40px;
	line-height:40px;
	border: 1px solid $base-gray-clean;
	border-radius: 0;
	box-sizing: border-box;
	display: block;
	font-family: $base-font-family;
	font-size: $base-font-size;
	margin:0px 0px 15px 0px;
	padding: 0px 15px;
	color: $base-gray-clean;
	transition: border-color;
	background: transparent;
	@include appearance(none);
	@include transition(all 100ms ease-in-out);
	@include placeholder {
    	color: $base-gray-clean;
	}

	&:hover {
		border: 1px solid lighten($base-color, 30%);
	}

	&:focus {
		border: 1px solid lighten($base-color, 10%);
		outline: none;
	}

	&:disabled {
		cursor: not-allowed;
	}
}

.wpcf7 {
    position: relative;

	.wpcf7-response-output {
		width: 100%;
		height: 100%;
		padding: 0;
		margin:20px 0px 0px 0px;
		background: transparent;
		border:0;
        font-family: $bold-font-family;
        font-size: $base-font-size * 0.857;
        color: $white;

        &.wpcf7-mail-sent-ok {
            color: $not-success;
        }

        &.wpcf7-mail-sent-ng {
            color: $not-error-dark;
        }
	}

	.ajax-loader {
		position: absolute;
		bottom:20px;
		right:0;
	}

    .wpcf7-not-valid {
        border: 1px solid $not-error-dark;
    }

    .wpcf7-not-valid-tip {
        display: none;
    }
}

.wpcf7-response-output {
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;

	&.wpcf7-validation-errors {
		@extend .alert.alert-error;
		border: 1px solid $not-error;
		padding: 10px 20px;
		text-align: center;
	}

	&.wpcf7-mail-sent-ok {
		@extend .alert.alert-success;
		border: 1px solid $not-success;
		padding: 10px 20px;
		text-align: center;
	}
}
