//
// base/typography.scss
//

body {
	@include font-feature-settings("kern", "liga", "pnum");
	-webkit-font-smoothing: antialiased;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $bold-font-family;
	font-size: $base-font-size;
	font-weight:normal;
	margin: 0 0 $small-spacing 0;
}

h1 {
	font-size: $base-font-size * 2.0;
	
	@include breakpoint($mobile-large) {
		font-size: $base-font-size * 2.5;
	}
	
	@include breakpoint($screen-small) {
		font-size: $base-font-size * 3.0;
	}
}

h2 {
	font-size: $base-font-size * 1.681;
	
	@include breakpoint($mobile-large) {
		font-size: $base-font-size * 2.0;
	}
	
	@include breakpoint($screen-small) {
		font-size: $base-font-size * 2.279;
	}
}

h3 {
	font-size: $base-font-size * 1.414;
	
	@include breakpoint($mobile-large) {
		font-size: $base-font-size * 1.58;
	}
	
	@include breakpoint($screen-small) {
		font-size: $base-font-size * 1.732;
	}
}

h4 {
	font-size: $base-font-size * 1.189;
	
	@include breakpoint($mobile-large) {
		font-size: $base-font-size * 1.257;
	}
	
	@include breakpoint($screen-small) {
		font-size: $base-font-size * 1.316;
	}
}

p {
	margin: 0 0 $small-spacing 0;
}

b, strong {
    font-family: $bold-font-family;
    font-size: inherit;
}

i {
	font-family: $base-font-family;
	font-size: inherit;
	font-style: italic;
}

u {
	font-family: $base-font-family;
	font-size: inherit;
	text-decoration: underline;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

a {
	color: $action-color;
	text-decoration: none;
	
	&[href^=tel] {
	    color:inherit;
	    text-decoration:none;
		
		&:hover, &:active, &:visited {
		    color:inherit;
		    text-decoration:none;
		}
	}
	
	&:active,
	&:focus,
	&:hover {
		color: $white;
	}
	
	&:active,
	&:focus {
		outline: none;
	}
}

hr {
	border-bottom: $base-border;
	border-left: none;
	border-right: none;
	border-top: none;
	margin: $base-spacing 0;
}

figure,
img,
picture {
	margin: 0;
	padding:0;
}
