//
// base/variables.scss
//

// Font Open Sans
@include font-face("OpenSans-Regular", "assets/fonts/OpenSans-Regular", normal, $asset-pipeline: false, $file-formats: eot woff ttf svg);
@include font-face("OpenSans-Italic", "assets/fonts/OpenSans-Italic", normal, $asset-pipeline: false, $file-formats: eot woff ttf svg);

@include font-face("OpenSans-Bold", "assets/fonts/OpenSans-Bold", normal, $asset-pipeline: false, $file-formats: eot woff ttf svg);
@include font-face("OpenSans-BoldItalic", "assets/fonts/OpenSans-BoldItalic", normal, $asset-pipeline: false, $file-formats: eot woff ttf svg);

@include font-face("OpenSans-Light", "assets/fonts/OpenSans-Light", normal, $asset-pipeline: false, $file-formats: eot woff ttf svg);
@include font-face("OpenSans-LightItalic", "assets/fonts/OpenSans-LightItalic", normal, $asset-pipeline: false, $file-formats: eot woff ttf svg);

// Font Pacifico
@include font-face("Pacifico-Bold", "assets/fonts/Cairo-Bold", normal, $asset-pipeline: false, $file-formats: eot woff ttf svg);

// Font Open Sans
$base-font-family: 'OpenSans-Regular', sans-serif;
$base-italic-font-family: 'OpenSans-Italic', sans-serif;

$bold-font-family: 'OpenSans-Bold', sans-serif;
$bold-italic-font-family: 'OpenSans-BoldItalic', sans-serif;

$light-font-family: 'OpenSans-Light', sans-serif;
$light-italic-font-family: 'OpenSans-LightItalic', sans-serif;

// Font Pacifico
$heading-font-family: 'Pacifico-Regular', sans-serif;

// font-size
$base-font-size: 14px;

// line-height
$base-line-height: 2.0;
$base-small-line-height: 1.4;
$base-medium-line-height: 1.6;
$base-large-line-height: 1.8;
$base-larger-line-height: 2.5;

// other sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * $base-font-size;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// base colors
$black: #000000;
$white: #ffffff;
$gray: #CCCCCC;
$dark: #1a1a1a;
$pink: #cb006c;

// social colors
$twitter: #55acee;
$facebook: #3b5998;
$linkedin: #007bb5;
$google-plus: #dd4b39;
$youtube: #bb0000;
$instagram: #e95950;
$snapchat: #fffc00;
$pinterest: #cb2027;

$twitter-dark: darken($twitter, 10);
$facebook-dark: darken($facebook, 10);
$linkedin-dark: darken($linkedin, 10);
$google-plus-dark: darken($google-plus, 10);
$youtube-dark: darken($youtube, 10);
$instagram-dark: darken($instagram, 10);
$snapchat-dark: darken($snapchat, 10);
$pinterest-dark: darken($pinterest, 10);

// project colors
$base-orange: #ffae2d;
$base-yellow: #fdb963;
$base-yellow-light: #feffa5;
$base-yellow-hover: #fbfb08;
$base-yellow-clean: #fff8ee;
$base-yellow-fefcc1: #fefcc1;
$base-yellow-smooth: #fff78f;
$base-blue: #3edad0;
$base-blue-color: #007a73;
$base-pink-clean: #f98a92;
$base-blue-green: #00b5ab;
$base-orange-clean: #ffba64;
$base-orange-dark: #ffa453;
$base-purple: #b77fb7;
$base-purple-dark: #a1559e;
$base-purple-clean: #b08dd3;
$base-purple-5c: #5c2385;
$base-pink-clean-dd: #dd5467;
$base-red-light: #f98a92;

// Tons de cinza
$gray-light: #a1a0a0;
$base-gray: #414141;
$base-gray-62: #626366;
$base-gray-light: #c4c4c4;
$base-gray-lighter: #efefef;
$base-gray-clean: #dddddd;
$gray-clean-f1: #f1f1f1;
$gray-clean-f9: #f9f9f9;
$gray-clean-f6: #f6f6f6;
$base-gray-d1: #d1d1d1;
$base-gray-c8: #c8c8c8;
$base-gray-a6: #a6a6a6;
$base-gray-b3: #b3b6b8;
$base-gray-99: #999999;
$base-gray-79: #797979;
$base-gray-b7: #b7b7b7;
$base-border-gray: #e3e4e5;

// notification colors
$not-success: #339966;
$not-success-light: lighten($not-success, 20);
$not-success-dark: darken($not-success, 10);

$success: #00a65a;
$success-light: lighten($success, 10);
$success-dark: darken($success, 10);

$not-error: #f26d7d;
$not-error-light: lighten($not-error, 10);
$not-error-dark: darken($not-error, 10);

$not-info: #ffd304;
$not-info-light: lighten($not-info, 10);
$not-info-dark: darken($not-info, 10);

$not-warn: #fcb040;
$not-warn-light: lighten($not-warn, 10);
$not-warn-dark: darken($not-warn, 10);

// base colors
$base-background-color: $white;
$base-font-color: $base-gray;
$action-color: $base-orange;

//base project colors
$base-color: #e84837;
$base-color-light: #0278bc;
$base-color-bold: #045890;
$base-color-hover: #bf3c2f;

// border
$base-border-color: $base-orange;
$base-border: 0;


// breakpoints
$mobile-small: 510px;
$mobile-medium: 640px;
$mobile-large: 860px;
$screen-small: 1024px;
$screen-medium: 1200px;
$screen-large: 1400px;

// z-index
$index-1: 1000;
$index-2: 2000;
$index-3: 3000;
$index-4: 4000;
$index-5: 5000;
$index-9: 9999;

// susy settings
$susy: (
  columns		: 12,
  gutters		: 1/4,
  container		: $screen-medium,
  math			: fluid,
  output		: float,
  box-sizing	: border-box
);