//
// modules/alert/alert.scss
//

.alert {
	width:100%;
	height:auto;
	font-family:$base-font-family;
	font-size:$base-font-size;
	position:relative;
	display:block;
	margin:10px 0;
	padding: 15px 30px;
	color: $white;
	
	a {
		font-family:$bold-font-family;
		@include transition(all 150ms ease-in-out);

	}

	i {
		margin-right: 5px;
	}

	&.alert-success {
		background: $not-success;
		border: 1px solid $not-success-dark;
	}
	
	&.alert-info {
		background: $not-info;
		border:1px solid $not-info-dark;
	}
	
	&.alert-warning {
		background:$not-warn;
		border: 1px solid $not-warn-dark;
	
	}
	
	&.alert-error {
		background: $not-error;
		border: 1px solid $not-error-dark;
	}
}

.notify {

	button.close {
		top:50% !important;
		margin-top: -13px;
	}

	.message {

		.fal, .fas, .far, .fa {
			font-size: 20px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
		}
	}

	&.notify-success {
		background-color: $not-success-light;
		border: 1px solid  $not-success;
		color: $white;
		border-radius: 3px;

		&.tr {
			top: 40px;
		}
	}

	&.notify-error {
		background-color: $not-error-light;
		border: 1px solid  $not-error;
		color: $not-error-dark;
		border-radius: 3px;

		&.tr {
			top: 40px;
		}
	}

	&.notify-info {
		background-color: $not-info-light;
		border: 1px solid  $not-info;
		color: $not-info-dark;
		border-radius: 3px;

		&.tr {
			top: 40px;
		}
	}

	&.notify-warn {
		background-color: $not-warn-light;
		border: 1px solid  $not-warn;
		color: $not-warn-dark;
		border-radius: 3px;

		&.tr {
			top: 40px;
		}
	}
}

.woocommerce-message {
	width: 100%;
	height: auto;
	display: block;
	padding: 15px 30px;
	background: $base-gray-lighter;

	.woocommerce-Button {
		@extend .btn-clean;
		height: 35px !important;
		line-height: 35px !important;
		font-weight: normal !important;
		padding: 0 30px !important;
		background-color: $base-yellow !important;
		color: $white !important;
		font-size: $base-font-size * 0.857 !important;
		font-family: $bold-font-family !important;
		border-radius: 0 !important;
		border-bottom: 2px solid darken($base-yellow, 10) !important;
	}

	&.woocommerce-message--info {
		border-top: 3px solid $base-yellow;

		&::before {
			color: $base-yellow;
		}

		.woocommerce-Button {
			background-color: $base-yellow !important;
			border-bottom: 2px solid darken($base-yellow, 10) !important;

			&:hover {
				border-bottom: 2px solid $base-yellow !important;
			}
		}

		a {
			color: $base-yellow;
			font-family: $bold-font-family;
			@include transition(all 150ms ease-in-out);

			&:hover {
				color: $base-font-color;
			}
		}
	}

	&.woocommerce-message--success {
		border-top: 3px solid $base-blue-green;

		&::before {
			color: $base-blue-green;
		}

		.woocommerce-Button {
			background-color: $base-blue-green !important;
			border-bottom: 2px solid darken($base-blue-green, 10) !important;

			&:hover {
				border-bottom: 2px solid $base-blue-green !important;
			}
		}

		a {
			color: $base-blue-green;
			font-family: $bold-font-family;
			@include transition(all 150ms ease-in-out);

			&:hover {
				color: $base-font-color;
			}
		}
	}

	&.woocommerce-message--error {
		border-top: 3px solid $base-color;

		&::before {
			color: $base-color;
		}

		.woocommerce-Button {
			background-color: $base-color !important;
			border-bottom: 2px solid darken($base-color, 10) !important;

			&:hover {
				border-bottom: 2px solid $base-color !important;
			}
		}

		a {
			color: $base-color;
			font-family: $bold-font-family;
			@include transition(all 150ms ease-in-out);

			&:hover {
				color: $base-font-color;
			}
		}
	}
}